<div class="block-navbtn col-xs-12">
	<div class="col-xs-8 no-padd title-to-hide">
		<h4>33 Posts <span class="hidden-xs">in Community</span></h4>
	</div>
	<div class="animated-search pull-right">
		<i class="fa fa-search show-input"></i>
		<input type="text" class="" placeholder="Start typing here...">
		<i class="fa fa-times"></i>
	</div>
</div>

<div class="clearfix status-box col-xs-12">
	<div class="tab-content">
		<div class="tab-pane active message-tab">
			<div class="message-wrap">
				<div class="bottom arrow for-message"></div>
				<textarea placeholder="Share your thoughts..."></textarea>
				<div class="clearfix spacer"></div>
				<a href="#network-communitylp-activities" class="btn-send btn btn-default pull-right">Send</a>
			</div>
		</div>
		<div class="tab-pane question-tab">
			<div class="message-wrap">
				<div class="bottom arrow for-question"></div>
				<textarea placeholder="Ask what you are interested in..."></textarea>
				<div class="clearfix spacer"></div>
				<a href="#network-communitylp-activities" class="btn-send btn btn-default pull-right">Send</a>
			</div>
		</div>
		<div class="tab-pane file-tab">
			<div class="message-wrap">
				<div class="bottom arrow for-file"></div>
				<input class="search-documents" type="text" placeholder="Share a document from your library for the community">
				<div class="clearfix spacer"></div>
				<a href="#network-communitylp-documents" class="btn-send btn btn-default pull-right">Send</a>
			</div>
		</div>
	</div>

	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#activities-tab .message-tab" data-toggle="tab">
				<i class="fa fa-pencil-square-o"></i>
				<span class="hidden-xs">Message</span>
			</a>
		</li>
		<li>
			<a href="#activities-tab .question-tab" data-toggle="tab">
				<i class="fa fa-question"></i>
				<span class="hidden-xs">Question</span>
			</a>
		</li>
		<li>
			<a href="#network-communitylp-files">
				<i class="fa fa-file-text-o"></i>
				<span class="hidden-xs">File</span>
			</a>
		</li>
	</ul>
</div>

<div class="activities-autoload"></div>
<img class="center-block load-spinner" src="assets/img/3-circle-bar.gif" width="60px"/>
