<!-- Center Panel -->
<div class="center-panel question-full col-xs-12 no-padd no-padd-xs">
	<div class="the-question info-block col-xs-12 padd-xs">
		<a href="" class="btn-return"><i class="fa fa-arrow-left"></i>Return to Questions List</a>
		<div class="table">
			<div class="avatar cell">
				<a href="#profile-searchresult">
					<img src="assets/img/profile/avatars/avatar_male.png" width="80" alt="avatar">
					<p class="name-author hidden-xs">Dean Holls</p>
				</a>
			</div>
			<div class="text cell">
				<a href="#"><p class="name-author visible-xs">Dean Holls</p></a>
				<p class="datetime pull-right hidden-xs">Jul 27, 2014 - 01:24 PM</p>
				<p class="datetime visible-xs">Jul 27, 2014 - 01:24 PM</p>
				<div class="clearfix"></div>

				<div class="hidden-xs">
					<h3 class="question-text">SIW (Substrate-integrated-waveguide) antenna why?</h3>
				</div>
				<div class="hidden-xs hidden-sm">
					<p>i just read an article about a new type of transmission line called SIW or Substrate-integrated-waveguide, i understand that this is better then a rectangular waveguide mainly because there are no limitations of dimantion of the thikness of the SIW (on a rectangular waveguide 2:1).
					<p>but why is it better then microstrip and strip line?</p>
					<p>also why there is no TM mode in SIW?</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 no-padd visible-xs">
			<h3 class="question-text-header">SIW (Substrate-integrated-waveguide) antenna why?</h3>
		</div>
		<div class="col-xs-12 col-sm-12 no-padd visible-xs visible-sm">
			<p>i just read an article about a new type of transmission line called SIW or Substrate-integrated-waveguide, i understand that this is better then a rectangular waveguide mainly because there are no limitations of dimantion of the thikness of the SIW (on a rectangular waveguide 2:1).
			<p>but why is it better then microstrip and strip line?</p>
			<p>also why there is no TM mode in SIW?</p>
		</div>
		<div class="spacer clearfix"></div>
		<div class="actions col-xs-12 hidden-xs">
			<div class=" col-md-6 col-sm-6 col-xs-12 no-padd">
				<p>Do you have the same question?</p>
				<p class="text-btn-nopress"><a href="#">Follow&nbsp;this&nbsp;question</a>&nbsp;|&nbsp;<a href="#">Report&nbsp;it</a></p>
			</div>
			<div class="question-report col-md-6 col-sm-6 col-xs-12 no-padd">
				<p class="text-btn-press">
					<a href="#">Follow&nbsp;this&nbsp;question</a>&nbsp;|&nbsp;
					<a href="#">Report&nbsp;it</a>
				</p>

				<button class="answer-btn btn btn-primary pull-right">
					Answer this question
				</button>
			</div>

			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="actions col-xs-12 visible-xs">
				<div class="col-xs-12 no-padd">
					<p>Do you have the same question?</p>
				</div>
				<div class="question-report col-xs-12 no-padd">
					<a href="#">Follow&nbsp;this&nbsp;question</a>&nbsp;|&nbsp;
					<a href="#">Report&nbsp;it</a>
				</div>
				<div class="question-report col-xs-12 no-padd">
					<button class="answer-btn btn btn-primary">
						Answer this question
					</button>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>

		<div class="big-spacer clearfix"></div>

		<div class="form-answer">
			<h4 class="title-answer">Your answer</h4>

			<textarea id="answer-text"></textarea>

			<div class="big-spacer clearfix"></div>

			<h4 class="title-source">Source: (optional)</h4>

			<input type="text" class="source-input"/>

			<p class="source-explaination">If you use information from another source such a web site or print publication you may attribute that source. Text and URLs only Example http://www.website.com</p>
			<label class="staff-answer">
				<input type="checkbox" class="checkbox">
				Submit as a Staff Answer
			</label>
			<div class="btn-block-nav">
				<button class="submit-answer-btn btn btn-primary">
					Submit
				</button>

				<a href="#" class="btn btn-cancel">Cancel</a>
			</div>
		</div>



		<div class="spacer hidden-xs clearfix"></div>

		<div class="hidden-xs">
			<hr/>
		</div>

		<div class="row visible-xs">
			<hr/>
		</div>

		<div class="spacer hidden-xs clearfix"></div>

		<h4 class="answers">Answers - <%= data.length %></h4>
		<div class="spacer hidden-xs clearfix"></div>
		<div class="answers-list">
			<% _.each(data, function(answer) { %>
				<div class="table">
					<div class="avatar cell">
						<a href="#profile-searchresult">
							<img src="assets/img/profile/avatars/<%= answer.avatar %>" width="70" alt="avatar">
						</a>
					</div>
					<div class="text cell">
						<a href="#profile-searchresult" class="name pull-left">
							<%= answer.name %>
						</a>
						&nbsp;answered
						<p class="datetime pull-right hidden-xs"><%= answer.datetime %></p>
						<p class="datetime visible-xs"><%= answer.datetime %></p>
						<div class="clearfix"></div>
						<p class="phrase hidden-xs"><%= answer.text %></p>
						<div class="clearfix"></div>
						<p class="likes pull-right hidden-xs">
							<i class="fa fa-thumbs-up"></i>
							(<%= answer.likes %>)
							|
							<i class="fa fa-thumbs-down"></i>
							(<%= answer.dislikes %>)
							|
							<a href="#">Report it</a>
						</p>
					</div>
				</div>
				<div class="text visible-xs">
					<p class="phrase"><%= answer.text %></p>
					<p class="likes pull-right">
						<i class="fa fa-thumbs-up"></i>
						(<%= answer.likes %>)
						|
						<i class="fa fa-thumbs-down"></i>
						(<%= answer.dislikes %>)
						|
						<a href="#">Report it</a>
					</p>
				</div>

			<%}) %>
		</div>
	</div>
</div>
