<div class="tab-info col-xs-12 no-padd">
	<div class="col-xs-12 no-padd title-to-hide">
		<h4>54 documents in this group</h4>
	</div>
</div>
<div class="col-xs-12 no-padd doc-item collection visible-xs">
	<div class="table">
		<div class="icon cell">
			<i class="fa fa-folder"></i>
		</div>
		<div class="text cell">
			<h4>Numerical and Experimental Analysis</h4>
			<p>Research Collection</p>
		</div>
	</div>
</div>
<% _.each (data, function(document, index) { %>
	<div class="col-xs-12 no-padd doc-item">
		<h4 class="hidden-xs">
			<a href="#library-popuprecommended"><%= document.title %></a>
		</h4>
		<h4 class="visible-xs">
			<a href="#librarypopup-mobile"><%= document.title %></a>
			<% if (document.gdrive == true) { %>
				<img src="assets/img/research_groups/icon-gdrive-small-active.png" width="14"/>
			<% } %>
		</h4>

		<p class="hidden-xs">
			<a href="#library-popuprecommended"><%= document.authors %></a> •
			<a href="#library-popuprecommended"><%= document.category %></a> •
			<a href="#library-popuprecommended"><%= document.year %></a>
		</p>
		<p class="visible-xs">
			<%= document.authors %> (<%= document.year %>)
		</p>
		<p class="hidden-xs"><%= document.text %></p>

		<% if (document.in_your_library != undefined) { %>
			<p class="in-your-library hidden-xs">
				In your Library:
				<i class="fa fa-folder"></i>
				<a href="#"><%= document.in_your_library.main %></a> /
				<a href="#"><%= document.in_your_library.sub %></a>
			</p>
		<% } %>
		<% if (document.add == true) { %>
			<a href="#" class="btn-add btn btn-default hidden-xs">Add to Library</a>
		<% } %>
	</div>
<% }); %>
