<div class="container no-padd">
	<div class="spacer clearfix visible-xs"></div>
	<div id="network-qa" class="col-xs-12 no-padd">
		<!-- Left Panel -->
		<div class="left-panel col-xs-12 col-sm-3 col-md-2 no-padd hidden-xs">
			<div class="info-block">
				<h4>Most popular tags</h4>
				<div class="tags">
					<p><a href="#">Madness</a></p>
					<p><a href="#">Solutioning</a></p>
					<p><a href="#">Features</a></p>
				</div>

				<div class="clearfix spacer"></div>
				<button class="panel-btn btn btn-default center-block">
					All Tags
				</button>

				<hr/>

				<h4>Most active users</h4>
				<div class="active-user table">
					<div class="avatar cell">
						<a href="#profile-searchresult">
							<img src="assets/img/profile/avatars/person-25.png" width="50" alt="avatar">
						</a>
					</div>
					<div class="detals cell">
						<a href="#profile-searchresult">
							<b>Brian Pratz</b>
						</a>
						<p>Member <b>(40)</b></p>
					</div>
				</div>

				<hr/>

				<h4>Latest Activity</h4>
				<a class="" href="#profile-searchresult">
					<b>Brian Pratz</b>
				</a>
				asked
				<div class="clearfix spacer"></div>
				<p class="question">
					<a href="#network-qa-single">
						What is the heaviest substance in the world?
					</a>
				</p>
				<span class="extras">
					25 answers | 3 days ago
				</span>

				<div class="clearfix spacer"></div>

				<button class="panel-btn btn btn-default center-block">
					More
				</button>

				<div class="clearfix spacer"></div>
			</div>
		</div>
		<!-- /Left Panel -->
		<!-- Center Panel -->
		<div class="center-panel col-xs-12 col-sm-9 col-md-8 no-padd-right no-padd-xs">
			<div class="the-question info-block col-xs-12 padd-xs">
				<div class="table">
					<div class="avatar cell">
						<a href="#profile-searchresult">
							<img src="assets/img/profile/avatars/avatar_male.png" width="80" alt="avatar">
							<p>Dean Holls</p>
						</a>
					</div>
					<div class="text cell">
						<p class="datetime pull-right">Jul 27, 2014 - 01:24 PM</p>
						<h2>Have we learned about Q&A features?</h2>
					</div>
				</div>
				<div class="spacer clearfix"></div>
				<div class="actions col-xs-12">
					<p>
						Do you have the same question?&nbsp;&nbsp;

						<a href="#">Follow&nbsp;this&nbsp;question</a>&nbsp;|&nbsp;<a href="#">Report&nbsp;it</a>
						<button class="answer-btn btn btn-primary pull-right">
							Answer this question
						</button>
					</p>
				</div>

				<div class="spacer clearfix"></div>

				<h4 class="answers">Answers - <%= data.length %></h4>
				<div class="spacer clearfix"></div>
				<div class="answers-list">
					<% _.each(data, function(answer) { %>
						<div class="table">
							<div class="avatar cell">
								<a href="#profile-searchresult">
									<img src="assets/img/profile/avatars/<%= answer.avatar %>" width="70" alt="avatar">
								</a>
							</div>
							<div class="text cell">
								<a href="#profile-searchresult" class="name pull-left">
									<%= answer.name %>
								</a>
								&nbsp;answered
								<p class="datetime pull-right"><%= answer.datetime %></p>
								<div class="clearfix"></div>
								<p class="phrase"><%= answer.text %></p>
								<div class="clearfix"></div>
								<p class="likes pull-right">
									<i class="fa fa-thumbs-up"></i>
									(<%= answer.likes %>)
									|
									<i class="fa fa-thumbs-down"></i>
									(<%= answer.dislikes %>)
									|
									<a href="#">Report it</a>
								</p>
							</div>
						</div>
					<%}) %>
				</div>
			</div>
		</div>
		<!-- /Center Panel -->
		<!-- Right Panel -->
		<div class="ads col-xs-12 col-md-2 col-lg-2 hidden-sm hidden-xs">
			<p class="advertisement center-block">Advertisement</p>
			<div class="side-advertisement">
				<a href="#" class="hidden-xs">
					<img src="assets/img/ads/skyscraper.png" alt="ad">
				</a>
			</div>
		</div>
		<!-- /Right Panel -->
		<!-- Mobile and Tablet bottom Ads -->
		<div class="col-xs-12 no-padd hidden-lg hidden-md">
			<div class="ads center-block">
				<p>Advertisement</p>
				<img src="assets/img/ads/banner-tablet.png" class="advertising visible-sm" alt="banner" width="720">
				<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
				<div class="spacer clearfix"></div>
			</div>
		</div>
		<div class="spacer clearfix"></div>
	</div>
</div>




