<div class="col-xs-12 scroller-mobile info-block hidden-lg hidden-md">
	<h4>People that share your interests from your extended circles</h4>
	<div id="people-scroller" class="scroll-items">
		<div class="block-items">
			<div class="col-xs-3 results-item no-padd-xs">
				<img src="assets/img/profile/avatars/person-1.png" class="img-responsive" alt="avatar">
				<a href="#" class="title link">Angela Edwards</a>
			</div>
			<div class="col-xs-3 results-item no-padd-xs">
				<img src="assets/img/profile/avatars/person-2.png" class="img-responsive" alt="avatar">
				<a href="#" class="title link">Karen Robertson</a>
			</div>
			<div class="col-xs-3 results-item no-padd-xs">
				<img src="assets/img/profile/avatars/person-3.png" class="img-responsive" alt="avatar">
				<a href="#" class="title link">Deborah Rodriguez</a>
			</div>
			<div class="col-xs-3 results-item no-padd-xs">
				<img src="assets/img/profile/avatars/person-5.png" class="img-responsive" alt="avatar">
				<a href="#" class="title link">Angela Gray</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>
