<div class="activities-all">
	<div class="info-block no-padd no-padd-bottom hidden-sm hidden-xs">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="table title-header">
				<div class="img cell">
					<a href="#profile-searchresult"><img class="img-responsive" src="assets/img/home/kimberly.png" alt="kimberly"></a>
				</div>
				<div class="content cell">
					<p><a href="#profile-searchresult">Kimberly Allen</a></p>
					<p><span class="data">20 Apr 2014</span> - <i class="fa fa-globe"></i></p>
				</div>
			</div>
			<p>
				Well other than the usual professional job I like to say in this occasion that an importance should give on tooo….. “Awareness building up programme”: There are 1000 billions barrels of fossil fuel reserve with a usage of 100 millions
				<a href="#" class="link">More</a></p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>

	<div class="info-block no-padd no-padd-bottom">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="table title-header">
				<div class="img cell">
					<a href="#"><img class="img-responsive" src="assets/img/home/comunity.png" alt="comunity"></a>
				</div>
				<div class="content cell">
					<p><a href="#">ICCCI Comunity</a> <span>scheduled an event</span></p>
					<p><span class="data">20 Apr 2014</span> - <i class="fa fa-globe"></i></p>
				</div>
			</div>
			<div class="table content-comunity">
				<div class="img cell">
					<img class="img-responsive" src="assets/img/home/img-calend.png" alt="calend">
				</div>
				<div class="content cell">
					<p class="hidden-xs">2014 International Conference on Computer<br> Communication and Informatics (ICCCI)</p>
					<p class="visible-xs">2014 International Conference on Computer Communication and Informatics (ICCCI)</p>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<%= people_mobile %>
	<div class="clearfix"></div>

	<div class="info-block no-padd no-padd-bottom">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="table title-header">
				<div class="img cell">
					<a href="#"><img class="img-responsive" src="assets/img/home/sportlight.png" alt="sportlight"></a>
				</div>
				<div class="content cell">
					<p><a href="#">IEEE TV Sportlight</a> <span>uploaded a video</span></p>
					<p><span class="data">20 Apr 2014</span> - <i class="fa fa-users"></i></p>
				</div>
			</div>
			<div class="table content-sportlight hidden-xs">
				<div class="video cell">
					<div class="video-block">
						<video width="100%" height="70%" poster="assets/img/home/video-img.jpg" controls>
							<source type="video/mp4" src="http://ieeetv.ieee.org/media/ieeetvmobile/ConferenceHighlights/IMS2014/IMS_2014_Opening_Plenary_mobile.mp4">
							<span>No video playback capabilities!</span>
						</video>
						<img class="play-btn" src="assets/img/icon_play.png" width="45" alt="play">
					</div>
				</div>
				<div class="content cell">
					<p class="hidden-xs">Carl Selinger: Stuff you Don't Learn in Engineering School</p>
					<p class="hidden-xs"><span class="bold-txt">Duration:</span> 00:07:35</p>
				</div>
			</div>
			<div class="content-sportlight visible-xs">
				<div class="video">
					<div class="video-block">
						<video width="100%" height="70%" poster="assets/img/home/video-img.jpg" controls>
							<source type="video/mp4" src="http://ieeetv.ieee.org/media/ieeetvmobile/ConferenceHighlights/IMS2014/IMS_2014_Opening_Plenary_mobile.mp4">
							<span>No video playback capabilities!</span>
						</video>
						<img class="play-btn" src="assets/img/icon_play.png" width="45" alt="play">
					</div>
				</div>
				<div class="content">
					<p>Carl Selinger: Stuff you Don't Learn in Engineering School</p>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<%= communities_mobile %>
	<div class="clearfix"></div>

	<div class="info-block no-padd no-padd-bottom">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="table title-header">
				<div class="img cell">
					<a href="#"><img class="img-responsive" src="assets/img/home/spectrum.png" alt="spectrum"></a>
				</div>
				<div class="content cell">
					<p><a href="#">IEEE Spectrum </a></p>
					<p><span class="data">23 Apr 2014</span> - <i class="fa fa-globe"></i></p>
				</div>
			</div>
			<img src="assets/img/home/img.png" class="img-responsive" alt="img">
			<div class="content-spectr">
				<p class="text-info">MIT has figured out how to build tiny nanoparticles capable of carrying three or more cancer drugs</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>

	<div class="info-block no-padd no-padd-bottom hidden-sm hidden-xs">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="table title-header">
				<div class="img cell">
					<a href="#"><img class="img-responsive" src="assets/img/home/spectrum.png" alt="spectrum"></a>
				</div>
				<div class="content cell">
					<p><a href="#">IEEE Spectrum</a> <span>uploaded a document</span></p>
					<p><span class="data">20 Apr 2014</span> - <i class="fa fa-globe"></i></p>
				</div>
			</div>
			<div class="table content-spectrum">
				<div class="img cell">
					<img class="img-responsive" src="assets/img/home/img-car.png" alt="calend">
				</div>
				<div class="content cell">
					<p>IEEE Transactions on Services Computing</p>
					<ul class="pull-left">
						<li>Issue 2 </li>
						<li>Apr-Jun 2013 </li>
						<li>12 articles </li>
						<li>14.17mb</li>
					</ul>
					<a href="#" class="btn btn-save pull-right">
						<img src="assets/img/home/icon-gd-save.png" alt="gd">
						Save
					</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
