<div class="spectrum-news">
	<% _.each (data, function(activity, index) { %>
		<%= index == 2 ? people_mobile : '' %>
		<%= index == 3 ? communities_mobile : '' %>
		<div class="col-xs-12 info-block no-padd no-padd-bottom">
			<div class="table post-head">
				<div class="cell img">
					<a href="#"><img src="assets/img/home/spectrum.png" class="" alt=""></a>
				</div>
				<div class="cell title">
					<h4><a href="#"><%= activity.title %></a> <span>(Provided by: <a href="#"><%= activity.providedBy %></a>)</span></h4>
					<span class="date"><%= activity.dateadded %></span>
				</div>
			</div>
			<div class="table post-description">
				<div class="cell img">
					<img src="assets/img/network/<%= activity.image %>" class="" alt="">
				</div>
				<div class="cell action hidden-xs">
					<div class="share-wrap">
						<a href="#" data-toggle="dropdown" class="btn btn-share"><i class="fa fa-share"></i>Share</a>
						<div class="dropdown-menu">
							<div class="dropdown-arrow"></div>
							<ul>
								<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
							</ul>
						</div>
					</div>
					<a href="#" class="btn btn-view"><i class="fa fa-eye"></i>View</a>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="block-comments hidden-xs">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input type="text" class="form-control" placeholder="Add a comment">
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="block-actions visible-xs">
				<a href="#" class="btn btn-comment"><i class="fa fa-comment"></i>Comment</a>
				<div class="share-wrap">
					<a href="#" data-toggle="dropdown" class="btn btn-share"><i class="fa fa-share"></i>Share</a>
					<div class="dropdown-menu">
						<div class="dropdown-arrow"></div>
						<ul>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	<% }); %>
</div>
