<div class="network-activities-mgm">
	<% _.each (data, function(activity, index) { %>
	<%= index == 2 ? people_mobile : '' %>
	<%= index == 3 ? communities_mobile : '' %>
	<div class="col-xs-12 info-block no-padd no-padd-bottom">
		<div class="table post-head padd">
			<div class="cell img">
				<a href="#"><img src="assets/img/network_activities/mgm-logo.png" class="" alt=""></a>
			</div>
			<div class="cell title">
				<h4><a href="#">IEEE Member Get a Member</a></h4>
				<span class="date"><%= activity.date %></span>
			</div>
		</div>
		<div class="person col-xs-12 padd">
			<div class="avatar col-xs-3 col-sm-2 no-padd-left">
				<img src="assets/img/profile/avatars/<%= activity.image%>" class="img-responsive" alt="avatar">
			</div>
			<div class="info col-xs-9 col-sm-8 col-md-7 no-padd">
				<p>
					Thank you for helping IEEE grow. Thanks to your referral,
					<a href="#"><%=activity.name %></a>
					has accepted your invitation to join IEEE.
				</p>
			</div>
			<div class="controls col-xs-12 col-sm-2 col-md-3 hidden-xs no-padd">
				<a class="btn btn-default pull-right"><i class="fa fa-envelope"></i> Message</a>
			</div>
		</div>
		<div class="clearfix spacer"></div>
		<div class="clearfix"></div>
		<div class="block-comments hidden-xs">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<input type="text" class="form-control" placeholder="Add a comment">
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="block-actions visible-xs">
			<a href="#" class="btn btn-comment"><i class="fa fa-comment"></i>Comment</a>
			<a href="#" class="btn btn-comment"><i class="fa fa-envelope"></i>Message</a>
			<div class="clearfix"></div>
		</div>
	</div>
	<% }); %>
</div>
