<div class="container">
	<div id="tools">
		<div class="row padd-xs">
			<div class="info-block no-padd">
				<h4>Toolbox</h4>
				<div class="tools-items">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 tools-item-wrap">
						<div class="tools-item">
							<img class="visible-xs img-responsive" src="assets/img/tools/gdrive-icon.png" alt="">
							<h5>Google Drive</h5>
							<img class="hidden-xs img-responsive" src="assets/img/tools/gdrive-icon.png" alt="">
							<a href="#" class="btn btn-manage">Manage</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 tools-item-wrap">
						<div class="tools-item">
							<img class="visible-xs img-responsive" src="assets/img/tools/gmail-icon.png" alt="">
							<h5>Google Mail</h5>
							<img class="hidden-xs img-responsive" src="assets/img/tools/gmail-icon.png" alt="">
							<a href="#" class="btn btn-manage">Manage</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 tools-item-wrap">
						<div class="tools-item">
							<img class="visible-xs img-responsive" src="assets/img/tools/gcalendar-icon.png" alt="">
							<h5>Google Calendar</h5>
							<img class="hidden-xs img-responsive" src="assets/img/tools/gcalendar-icon.png" alt="">
							<a href="#" class="btn btn-manage">Manage</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 tools-item-wrap">
						<div class="tools-item">
							<img class="visible-xs img-responsive" src="assets/img/tools/gdocs-icon.png" alt="">
							<h5>Google Docs</h5>
							<img class="hidden-xs img-responsive" src="assets/img/tools/gdocs-icon.png" alt="">
							<a href="#" class="btn btn-manage">Manage</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 tools-item-wrap">
						<div class="tools-item">
							<img class="visible-xs img-responsive" src="assets/img/tools/gpresentations-icon.png" alt="">
							<h5>Google Presentations</h5>
							<img class="hidden-xs img-responsive" src="assets/img/tools/gpresentations-icon.png" alt="">
							<a href="#" class="btn btn-manage">Manage</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 tools-item-wrap">
						<div class="tools-item">
							<img class="visible-xs img-responsive" src="assets/img/tools/gsites-icon.png" alt="">
							<h5>Google Sites</h5>
							<img class="hidden-xs img-responsive" src="assets/img/tools/gsites-icon.png" alt="">
							<a href="#" class="btn btn-manage">Manage</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 tools-item-wrap">
						<div class="tools-item">
							<img class="visible-xs img-responsive" src="assets/img/tools/gspreadsheets-icon.png" alt="">
							<h5>Google Spreadsheets</h5>
							<img class="hidden-xs img-responsive" src="assets/img/tools/gspreadsheets-icon.png" alt="">
							<a href="#" class="btn btn-manage">Manage</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 tools-item-wrap">
						<div class="tools-item">
							<img class="visible-xs img-responsive" src="assets/img/tools/ggroups-icon.png" alt="">
							<h5>Google Groups</h5>
							<img class="hidden-xs img-responsive" src="assets/img/tools/ggroups-icon.png" alt="">
							<a href="#" class="btn btn-manage">Manage</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 tools-item-wrap">
						<div class="tools-item">
							<img class="visible-xs img-responsive" src="assets/img/tools/gforms-icon.png" alt="">
							<h5>Google Forms</h5>
							<img class="hidden-xs img-responsive" src="assets/img/tools/gforms-icon.png" alt="">
							<a href="#" class="btn btn-manage">Manage</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 tools-item-wrap">
						<div class="tools-item">
							<img class="visible-xs img-responsive" src="assets/img/tools/gdrawings-icon.png" alt="">
							<h5>Google Drawings</h5>
							<img class="hidden-xs img-responsive" src="assets/img/tools/gdrawings-icon.png" alt="">
							<a href="#" class="btn btn-manage">Manage</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 tools-item-wrap">
						<div class="tools-item">
							<img class="visible-xs img-responsive" src="assets/img/tools/xmlauthoring-icon.png" alt="">
							<h5>XML Authoring</h5>
							<img class="hidden-xs img-responsive" src="assets/img/tools/xmlauthoring-icon.png" alt="">
							<a href="#" class="btn btn-manage">Manage</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 tools-item-wrap">
						<div class="tools-item">
							<img class="visible-xs img-responsive" src="assets/img/tools/latex-icon.png" alt="">
							<h5>Latex</h5>
							<img class="hidden-xs img-responsive" src="assets/img/tools/latex-icon.png" alt="">
							<a href="#" class="btn btn-manage">Manage</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>