<div class="network-activities-connections info-block">
	<div class="persons col-xs-12 no-padd">
		<% _.each (data, function(person, index) { %>
			<%= index == 2 ? people_mobile : '' %>
		    <%= index == 3 ? communities_mobile : '' %>
			<div class="person col-xs-12">
				<div class="avatar   col-xs-3 col-md-3 no-padd-xs">
					<a href=""><img src="assets/img/profile/avatars/<%= person.image%>" class="img-responsive" alt="avatar"></a>
				</div>
				<div class="info     col-xs-7 col-md-6 no-padd-right-xs">
					<h5>
						<a href="#"><%= person.name %></a>
						<% if (typeof person.title != "undefined") { %>
							<a class="popup" data-toggle="tooltip" data-placement="top" title="<%= person.title%>">
								<img src="assets/img/people_search/<%= person.kite%>" width="23" alt="avatar">
							</a>
						<% } %>
						<% if (person.volunteer == true) { %>
							<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Volunteer">
								<span class="v">V</span>
							</a>
						<% } %>
					</h5>
					<p>is now connected with you<p>
					<div class="hidden-xs hidden-sm">
						<% if (typeof person.work != "undefined") { %>
							<p>
								<i class="fa fa-briefcase hidden-xs"></i>
								<%= person.work %>
							</p>
						<% } %>
						<% if (typeof person.graduate != "undefined") { %>
							<p>
								<img src="assets/img/profile/graduate-cap.png" class="hidden-xs" width="16" alt="icon">
								<%= person.graduate %>
							</p>
						<% } %>
						<% if (typeof person.location != "undefined") { %>
							<p>
								<i class="fa fa-map-marker hidden-xs"></i>
								<%= person.location %>
							</p>
						<% } %>
					</div>
					<div class="hidden-lg hidden-md">
						<p>
							<%=
								(typeof person.work     != "undefined" ? person.work     + ', ' : '') +
								(typeof person.graduate != "undefined" ? person.graduate + ', ' : '') +
								(typeof person.location != "undefined" ? person.location        : '')
							%>
						</p>
					</div>
				</div>
				<div class="controls col-xs-2 col-md-3">
					<a href="#" class="btn hidden-sm hidden-xs"><i class="fa fa-envelope"></i></a>
					<div class="dropdown-wrap">
						<a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
						<div class="dropdown-menu">
							<div class="dropdown-arrow hidden-lg hidden-md"></div>
							<ul>
								<li><a href="#"><i class="fa fa-plus"></i>Add to custom networks</a>
									<ul>
										<li><a href="#">Custom 1</a></li>
										<li><a href="#">Custom 2</a></li>
									</ul>
								</li>
								<li class="create-custom"><a href="#" data-toggle="modal" data-backdrop="false" data-target="#create-custom-network"><i class="fa fa-circle"></i>Create custom network</a></li>
								<li><a href="#"><i class="fa fa-times"></i>Remove</a></li>
							</ul>
						</div>
						<a href="#" class="btn hidden-md hidden-lg"><i class="fa fa-envelope"></i></a>
					</div>
				</div>
				<div class="clearfix spacer visible-xs"></div>
			</div>
		<% }) %>
	</div>
	<div class="clearfix"></div>
</div>
