<div class="spacer clearfix visible-xs"></div>
<div class="container">
	<div id="network_communities" class="row padd-xs">
		<div class="col-xs-12 no-padd">
			<div id="search-results" class="info-block no-padd">
				<div class="col-xs-12 col-sm-8">
					<h4>You have 138 results for “Engineering”</h4>
				</div>
				<div class="hidden-xs hidden-sm col-xs-12 col-md-4 pagination">
					<p class="pull-right">Showing <b>1–10</b> of <b>138</b>
						<a href="#" class="btn btn-left btn-default">&lt;</a><a class="btn btn-right btn-default">&gt;</a>
					</p>
				</div>
				<div class="clearfix"></div>
				<div id="result-of-search" class="detailed-results"></div>
				<div class="clearfix"></div>
				<div class="load-more visible-xs">
					<a href="#" class="btn btn-load-more">Load More</a>
				</div>
			</div>
		</div>
	</div>
</div>
