<div class="spacer clearfix visible-xs"></div>
<div class="container">
	<div id="network_communities" class="row padd-xs">
		<div class="col-xs-12 no-padd">
			<div id="have-access" class="info-block no-padd">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="table heading">
						<div class="cell">
							<h4 class="">Your IEEE private communities — 15</h4>
							<div class="spacer visible-xs"></div>
							<div class="box-btn-manage">
								<a class="btn btn-manage" href="#"><i class="fa fa-cog"></i> Manage</a>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div id="result-have-access"></div>
				<div class="clearfix"></div>
			</div>

			<div class="clearfix"></div>
			<div id="has-no-access" class="info-block no-padd">
				<div class="col-xs-12">
					<div class="table heading">
						<div class="cell icon">
							<i class="fa fa-lock"></i>
						</div>
						<div class="cell">
							<h4>Recommended IEEE private communities — 2</h4>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div id="result-has-no-access" class="detailed-results"></div>
				<div class="clearfix"></div>
			</div>
			<div id="discover-additional" class="info-block no-padd">
				<div class="col-xs-12 col-sm-8">
					<div class="table heading">
						<div class="cell icon">
							<i class="fa fa-check"></i>
						</div>
						<div class="cell">
							<h4>Recommended IEEE public communities — 1</h4>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div id="result-additional" class="detailed-results"></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
