<%=
console.log(data);
%>
<div class="container no-padd">
	<div class="spacer clearfix visible-xs"></div>
	<div id="network-community-lp" class="col-xs-12 no-padd padd-xs">
		<!-- Top row -->
		<div class="community-details info-block col-xs-12 hidden-xs hidden-sm">
			<div class="col-xs-4 col-sm-3 col-md-2 no-padd-xs no-padd img-wrap">
				<div class="img">
					<img src="assets/img/network/cloud.png" class="img-responsive" alt="img">
				</div>
			</div>
			<div class="details col-xs-8 col-sm-9 col-md-10">
				<div class="row">
					<div class="col-sm-7">
						<h3>Cloud Computing</h3>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 pull-right no-padd-xs">
				<p class="citation col-xs-12 no-padd">This community covers all major areas of computing and information technology, including computer hardware, software development, multimedia, and IT security.</p>
			</div>

			<div class="clearfix"></div>

			<a href="#" class="details-action visible">
				<span>Hide Details</span>
				<i class="fa fa-angle-up"></i>
				<i class="fa fa-angle-down"></i>
			</a>

			<button class="btn-leave-community btn btn-default pull-right">
				Leave Community
				<i class="fa fa-sign-out"></i>
			</button>
		</div>

		<!-- Right column -->
		<div class="pull-right right-col col-xs-12 col-sm-12 col-md-3 no-padd-right no-padd-xs no-padd-sm">
			<div class="big-spacer clearfix hidden-sm hidden-xs"></div>
			<div class="gplus-participate info-block col-xs-12">
				<!-- Fake tab links -->
				<ul class="nav nav-tabs hidden">
					<li class="active"><a class="gplus-non-connected" href="#gplus-non-connected-tab" data-toggle="tab"></a></li>
					<li>               <a class="gplus-attach"        href="#gplus-attach-tab"        data-toggle="tab"></a></li>
					<li>               <a class="gplus-connected"     href="#gplus-connected-tab"     data-toggle="tab"></a></li>
					<li>               <a class="gplus-received"      href="#gplus-received-tab"      data-toggle="tab"></a></li>
					<li>               <a class="gplus-access"        href="#gplus-access-tab"        data-toggle="tab"></a></li>
				</ul>

				<!-- Fake Tabs -->
				<div class="tab-content">
					<div id="gplus-non-connected-tab" class="active tab-pane col-xs-12 no-padd">
						<div class="col-xs-12 col-sm-6 col-md-12 no-padd">
							<h5 class="header-title">Extend your experience by <i class="clearfix"></i> participating on G+</h5>
							<ul class="possibilities">
								<li>Access to the exclusive community</li>
								<li>Participate in Google hangouts</li>
							</ul>
						</div>
						<div class="btn-holder col-xs-12 col-sm-5 col-md-12 col-xs-offset-0 col-sm-offset-1 col-md-offset-0 col-lg-offset-0 no-padd">
							<a href="#network-communitylp-gplus-attach">
								<buton class="gplus-button btn btn-default">
									<i class="fa fa-google-plus"></i>
									Attach Google +
								</buton>
							</a>
							<p class="small">(Google account is required: after attaching, you will receive a G+ invitation)</p>
						</div>
					</div>

					<div id="gplus-attach-tab" class="tab-pane col-xs-12 no-padd">
						<div class="col-xs-12 col-sm-6 col-md-12 no-padd">
							<h5 class="header-title">
								Extend your experience by <i class="clearfix"></i>
								participating on G+
							</h5>
							<ul class="possibilities">
								<li>Access to the exclusive community</li>
								<li>Participate in Google hangouts</li>
							</ul>
						</div>
						<div class="btn-holder col-xs-12 col-sm-5 col-md-12 col-xs-offset-0 col-sm-offset-1 col-md-offset-0 col-lg-offset-0 no-padd">
							<a href="#network-communitylp-gplus-connected">
								<buton class="attach-button btn btn-default">
									<img src="assets/img/ieee_btn_logo.png" width="24" alt="kite">
									Attach your <i class="clearfix"></i>
									Gapps@IEEE.org account
								</buton>
							</a>
							<p class="attach-other"><a href="#network-communitylp-gplus-connected">
								Attach another Google account
							</a></p>
							<p class="small">(by doing this you could be missing out on exclusive members only communities and research storage)</p>
						</div>
					</div>

					<div id="gplus-connected-tab" class="tab-pane col-xs-12 no-padd">
						<div class="col-xs-12 col-sm-6 col-md-12 no-padd">
							<h5 class="header-title">
								Extend your experience by <i class="clearfix"></i>
								participating on G+
							</h5>
							<ul class="possibilities">
								<li>Access to the exclusive community</li>
								<li>Participate in Google hangouts</li>
							</ul>
						</div>
						<div class="spacer-clearfix"></div>
						<div class="btn-holder col-xs-12 col-sm-5 col-md-12 col-xs-offset-0 col-sm-offset-1 col-md-offset-0 col-lg-offset-0 no-padd">
							<a href="#network-communitylp-gplus-received">
								<buton class="common-button btn btn-default">
									Request Invitation
								</buton>
							</a>
							<p class="small">(you will receive a G+ invitation shortly)</p>
						</div>
					</div>

					<div id="gplus-received-tab" class="tab-pane col-xs-12 no-padd">
						<div class="col-xs-12 col-sm-6 col-md-12 no-padd">
							<h5 class="header-title">
								Extend your experience by <i class="clearfix"></i>
								participating on G+
							</h5>
							<ul class="possibilities">
								<li>Access to the exclusive community</li>
								<li>Participate in Google hangouts</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-12 col-xs-offset-0 col-sm-offset-1 col-md-offset-0 col-lg-offset-0 no-padd">
							<p class="confirmation">
								<i class="fa fa-check"></i>
								Request received
							</p>
							<p class="small">(you will receive a G+ invitation shortly)</p>
						</div>
					</div>

					<div id="gplus-access-tab" class="tab-pane col-xs-12 no-padd">
						<div class="col-xs-12 col-sm-6 col-md-12 no-padd">
							<h5 class="header-title">
								<i class="fa fa-google-plus-square"></i>
								G+ activated
							</h5>
							<ul class="possibilities">
								<li>Access to the exclusive community</li>
								<li>Participate in Google hangouts</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-12 col-xs-offset-0 col-sm-offset-1 col-md-offset-0 col-lg-offset-0 no-padd">
							<p class="btn-holder">
								<a href="#network-communitylp-gplus-received">
									<buton class="common-button btn btn-default col-xs-12 text-center">
										Access now
									</buton>
								</a>
							</p>
							<div class="spacer clearfix"></div>
							<div class="col-xs-12 no-padd">
								<div class="col-xs-6 no-padd-left">
									<a href="#" class="pull-right">
										<img src="assets/img/research_groups/hangouts-icon.png" width="35" alt="g-icon"/>
									</a>
								</div>
								<div class="col-xs-5 col-xs-offset-1 no-padd">
									<a href="#">
										<img src="assets/img/research_groups/google-groups-icon.png" width="35" alt="g-icon"/>
									</a>
								</div>
							</div>
							<div class="spacer clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="info-block col-xs-12 hidden-sm hidden-xs">
				<div class="visit-us">
					<span>Visit this community on</span>
					<div class="links">
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
					</div>
				</div>
			</div>

			<div class="popular-questions info-block col-xs-12 hidden-sm hidden-xs">
				<h4 class="title-left-box">Popular Questions <span class="number">6</span></h4>
				<div class="box-question">
					<a href="#network-qa-single">What is the heaviest substance in the world?</a>
					<p>25 answers | 3 days ago</p>
				</div>
				<div class="box-question">
					<a href="#network-qa-single">Who’s gonna win the World Cup this year?</a>
					<p>37 answers | 1 week ago</p>
				</div>
				<div class="box-question">
					<a href="#network-qa-single">How do I create smart objects in Adobe Photoshop CS6?</a>
					<p>14 answers | yesterday</p>
				</div>
			</div>

			<div class="col-sm-12 block-view-all no-padd hidden-sm hidden-xs">
				<a href="#network-communitylp-qa" class="btn btn-view-all hidden-sm hidden-xs">View All</a>
			</div>

			<div class="spacer clearfix"></div>

			<div class="ads col-xs-12 no-padd hidden-sm hidden-xs">
				<div class="side-advertisement a160">
					<p class="advertisement center-block">Advertisement</p>
					<a href="#"><img class="" src="assets/img/ads/rectangle.png" width="160" alt="Advertisement"/></a>
				</div>
				<div class="big-spacer clearfix"></div>
			</div>
		</div>

		<div class="community-details-mob info-block col-xs-12 hidden-md hidden-lg">
			<div class="img-wrap col-xs-4 col-sm-2 no-padd">
				<img src="assets/img/network/cloud.png" class="img-responsive" alt="img">
			</div>
			<div class="details col-xs-8 col-sm-6 no-padd-right">
				<h3>Cloud Computing</h3>
				<div class="provided">
					<p>Community provided by</p>
					<i class="fa fa-globe"></i>&nbsp;<a href="#">IEEE&nbsp;Germany section</a>
				</div>
			</div>

			<div class="details-action-mob col-xs-12 col-sm-4 no-padd-right hidden-xs">
				<button class="btn-leave-community btn btn-default pull-right">
					Leave Community
					<i class="fa fa-sign-out"></i>
				</button>
				<div class="spacer clearfix"></div>
				<a href="#" class="details-action-mob pull-right">
					<span>Hide Details</span>
					<i class="fa fa-angle-up"></i>
					<i class="fa fa-angle-down"></i>
				</a>
			</div>

			<div class="clearfix"></div>

			<div class="extras col-xs-12 no-padd">
				<p class="citation col-xs-12 no-padd">This community covers all major areas of computing and information technology, including computer hardware, software development, multimedia, and IT security.</p>
				<div class="spacer clearfix"></div>
				<div class="visit-us-mob col-xs-12 no-padd">
					<div class="col-xs-3 col-sm-4 no-padd">
						<span>Visit</span><span class="hidden-xs"> this community</span><span> on</span>
					</div>
					<div class="col-xs-9 col-sm-8 no-padd links">
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="mob-controls col-xs-12 no-padd hidden-sm">
				<div class="spacer clearfix"></div>
				<button class="btn-leave-community btn btn-default pull-left">
					Leave Community
					<i class="fa fa-sign-out"></i>
				</button>

				<a href="#" class="details-action-mob pull-right">
					<span>Hide Details</span>
					<i class="fa fa-angle-up"></i>
					<i class="fa fa-angle-down"></i>
				</a>
			</div>
		</div>

		<!-- Center column -->
		<div class="pull-right center-col col-xs-12 col-sm-12 col-md-6 no-padd">

			<div class="clearfix tabs-communities">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#activities-tab" data-toggle="tab">
						<img class="activated" width="64px" alt="icon" src="assets/img/research_groups/activities-icon-active.png"/>
						<img class="" width="64px" alt="icon" src="assets/img/research_groups/activities-icon.png"/>
						<div class="clearfix visible-xs"></div>
						Activities
					</a></li>
					<li><a href="#files-tab"        class="files"        data-toggle="tab">
						<img class="activated" width="64px" alt="icon" src="assets/img/research_groups/documents-icon-active.png"/>
						<img class="" width="64px" alt="icon" src="assets/img/research_groups/documents-icon.png"/>
						<div class="clearfix visible-xs"></div>
						Files
					</a></li>
					<li><a href="#qa-tab"           class="qa"           data-toggle="tab">
						<img class="activated" width="64px" alt="icon" src="assets/img/research_groups/qa-icon-active.png"/>
						<img class="" width="64px" alt="icon" src="assets/img/research_groups/qa-icon.png"/>
						<div class="clearfix visible-xs"></div>
						Q & A
					</a></li>
					<li><a href="#events-tab"       class="events"       data-toggle="tab">
						<img class="activated" width="64px" alt="icon" src="assets/img/research_groups/events-icon-active.png"/>
						<img class="" width="64px" alt="icon" src="assets/img/research_groups/events-icon.png"/>
						<div class="clearfix visible-xs"></div>
						Events
					</a></li>
					<li><a href="#participants-tab" class="participants" data-toggle="tab">
						<img class="activated" width="64px" alt="icon" src="assets/img/research_groups/participants-icon-active.png"/>
						<img class="" width="64px" alt="icon" src="assets/img/research_groups/participants-icon.png"/>
						<div class="clearfix visible-xs"></div>
						Participants
					</a></li>
				</ul>
			</div>

			<div class="clearfix"></div>

			<div class="tab-content">
				<div id="activities-tab" class="active tab-pane col-xs-12 no-padd info-block"></div>
				<div id="files-tab" class="tab-pane col-xs-12 info-block no-padd"></div>
				<div id="qa-tab" class="tab-pane col-xs-12 info-block" ></div>
				<div id="events-tab" class="tab-pane col-xs-12 info-block"></div>
				<div id="participants-tab" class="tab-pane col-xs-12 info-block"></div>
			</div>
		</div>

		<!-- Left column -->
		<div class="pull-left left-col col-xs-12 col-md-3 no-padd-left hidden-sm hidden-xs">
			<div class="big-spacer clearfix"></div>

			<div class="info-block col-xs-12">
				<h5>Community provided by</h5>
				<div class="section pull-left">
					<i class="fa fa-globe"></i>&nbsp;IEEE&nbsp;<a href="#">Germany section</a>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="particpants-sidebar info-block col-xs-12">
				<h4 class="title-left-box">Participants <span class="number">1379</span></h4>
				<div class="participants">

					<div class="row">
						<div class="col-xs-12">

							<div class="table">

								<div class="cell">
									<a href="#profile-searchresult">
										<img class="img-responsive" src="assets/img/people/person_2.png" alt="avatar">
									</a>
								</div>

								<div class="cell">
									<a href="#profile-searchresult">
										<img class="img-responsive" src="assets/img/people/person_3.png" alt="avatar">
									</a>
								</div>

								<div class="cell">
									<a href="#profile-searchresult">
										<img class="img-responsive" src="assets/img/people/person_4.png" alt="avatar">
									</a>
								</div>
							</div>

							<div class="table">

								<div class="cell">
									<a href="#profile-searchresult">
										<img class="img-responsive" src="assets/img/people/person_5.png" alt="avatar">
									</a>
								</div>

								<div class="cell">
									<a href="#profile-searchresult">
										<img class="img-responsive" src="assets/img/people/person_1.png" alt="avatar">
									</a>
								</div>

								<div class="cell">
									<a href="#profile-searchresult">
										<img class="img-responsive" src="assets/img/people/person_2.png" alt="avatar">
									</a>
								</div>

							</div>

							<div class="table">
								<div class="cell">
									<a href="#profile-searchresult">
										<img class="img-responsive" src="assets/img/people/person_3.png" alt="avatar">
									</a>
								</div>

								<div class="cell">
									<a href="#profile-searchresult">
										<img class="img-responsive" src="assets/img/people/person_4.png" alt="avatar">
									</a>
								</div>

								<div class="cell">
									<a href="#profile-searchresult">
										<img class="img-responsive" src="assets/img/people/person_5.png" alt="avatar">
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-sm-12 block-view-all no-padd">
				<a href="#network-communitylp-participants" class="btn btn-view-all hidden-sm hidden-xs">View All</a>
			</div>

			<div class="spacer clearfix"></div>

			<div class="events-sidebar info-block col-xs-12">
				<div id="bootstrap-calendar"></div>
				<div class="events-next no-padd-bottom">
					<h4 class="header-title">Next events <span class="number">5</span></h4>
					<div class="date-info">
						<p class="date">09/14 - 09/19, 2014</p>
						<p class="location">Vienna, Austria</p>
						<h5 class="info"><a href="#network-communitylp-eventsfull">OCEANS 2014</a></h5>
					</div>
					<div class="date-info">
						<p class="date">09/14 - 09/18, 2014</p>
						<p class="location">Vancouver, BC, Canada</p>
						<h5 class="info"><a href="#network-communitylp-eventsfull">2014 IEEE Energy Conversion Congress and Exposition (ECCE)</a></h5>
					</div>
					<div class="date-info">
						<p class="date">09/14 - 09/17, 2014</p>
						<p class="location">Beijing, China</p>
						<h5 class="info"><a href="#network-communitylp-eventsfull">2014 IEEE 80th Vehicular Technology Conference (VTC Fall)</a></h5>
					</div>
				</div>
			</div>
			<div class="col-sm-12 block-view-all no-padd">
				<a href="#network-communitylp-events" class="btn btn-view-all hidden-sm hidden-xs">View All</a>
			</div>
		</div>

		<!-- Tablet and Mobile Ads -->
		<div class="col-xs-12 hidden-md hidden-lg no-padd">
			<div class="ads center-block">
				<p>Advertisement</p>
				<img src="assets/img/ads/banner-tablet.png" class="advertising visible-sm" alt="banner" width="720">
				<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
				<div class="big-spacer clearfix"></div>
			</div>
		</div>
	</div>
</div>
