<div class="col-xs-12 scroller-mobile info-block hidden-lg hidden-md">
	<h4>Communities you may be interested in</h4>
	<div id="communities-scroller"  class="scroll-items">
		<div class="block-items clearfix">
			<div class="col-xs-3 results-item no-padd-xs">
				<img src="assets/img/communities/data-analysis.png" class="img-responsive" alt="avatar">
				<a href="#" class="title link">IEEE Vehicular Technology Society</a>
				<p>1829 members</p>
			</div>
			<div class="col-xs-3 results-item no-padd-xs">
				<img src="assets/img/communities/future-of-robotics.png" class="img-responsive" alt="avatar">
				<a href="#" class="title link">IEEE Dielectrics and Electrical Insulation Society</a>
				<p>189 members</p>
			</div>
			<div class="col-xs-3 results-item no-padd-xs">
				<img src="assets/img/communities/leaders-in-scientific-research.png" class="img-responsive" alt="avatar">
				<a href="#" class="title link">IEEE Broadcast Technology Society</a>
				<p>829 members</p>
			</div>
			<div class="col-xs-3 results-item no-padd-xs">
				<img src="assets/img/communities/neuroscience.png" class="img-responsive" alt="avatar">
				<a href="#" class="title link">IEEE Geoscience and Remote Sensing Society</a>
				<p>129 members</p>
			</div>
		</div>
	</div>
</div>
