<div class="container">
	<div class="spacer clearfix visible-xs"></div>
	<div id="home-view">
		<div class="col-xs-12 col-sm-12 col-md-10 no-padd column-one">
			<div class="row padd-xs">
				<div class="hidden-xs hidden-sm col-xs-12 col-sm-12 col-md-4 no-padd">
					<div class="hidden-xs hidden-sm">
						<div class="info-block commun-interest">
							<h4>Communities you may be interested in</h4>
							<div class="col-md-12 col-sm-12 col-xs-12 block-items clearfix">
								<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd">
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
											<a href="#"><img src="assets/img/communities/data-analysis.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="col-xs-8 col-sm-8  description no-padd">
											<a href="#" class="title link">IEEE Vehicular Technology Society</a>
											<p>1829 members</p>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd">
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
											<a href="#"><img src="assets/img/communities/future-of-robotics.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="col-xs-8 col-sm-8  description no-padd">
											<a href="#" class="title link">IEEE Dielectrics and Electrical Insulation Society</a>
											<p>843 members</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd hidden-xs hidden-sm">
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
											<a href="#"><img src="assets/img/communities/leaders-in-scientific-research.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="col-xs-8 col-sm-8  description no-padd">
											<a href="#" class="title link">IEEE Broadcast Technology Society</a>
											<p>1340 members</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd hidden-xs hidden-sm">
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
											<a href="#"><img src="assets/img/communities/neuroscience.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="col-xs-8 col-sm-8  description no-padd">
											<a href="#" class="title link">IEEE Geoscience and Remote Sensing Society</a>
											<p>621 members</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd hidden-xs hidden-sm">
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
											<a href="#"><img src="assets/img/communities/data-analysis.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="col-xs-8 col-sm-8  description no-padd hidden-xs hidden-sm">
											<a href="#" class="title link">IEEE Microwave Theory and Techniques Society</a>
											<p>423 members</p>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="people-interest info-block">
							<h4>People that share your interests from your extended circles</h4>
							<div class="col-md-12 col-sm-6 col-xs-12 block-items clearfix">
								<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd">
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
											<a href="#profile"><img src="assets/img/profile/avatars/person-6.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="col-xs-8 col-sm-8  description no-padd">
											<a href="#" class="title link">Robin Wallace</a>
											<p><i class="fa fa-briefcase"></i> IEEE Standards</p>
											<p><i class="fa fa-map-marker"></i> Los Angeles</p>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
											<a href="#profile"><img src="assets/img/profile/avatars/person-4.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="col-xs-8 col-sm-8  description no-padd">
											<a href="#" class="title link">Karen Robertson</a>
											<p><i class="fa fa-briefcase"></i>Microsoft</p>
											<p><i class="fa fa-map-marker"></i>Sydney</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
											<a href="#profile"><img src="assets/img/profile/avatars/person-8.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="col-xs-8 col-sm-8  description no-padd">
											<a href="#" class="title link">Phillip Murphy</a>
											<p><i class="fa fa-briefcase"></i>IBM</p>
											<p><i class="fa fa-map-marker"></i>New York</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
											<a href="#profile"><img src="assets/img/profile/avatars/person-10.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="col-xs-8 col-sm-8  description no-padd">
											<a href="#" class="title link">Alexander Pasik</a>
											<p><i class="fa fa-briefcase"></i>General Motors</p>
											<p><i class="fa fa-map-marker"></i>Dallas</p>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="box-btn-view">
								<a href="#network-people" class="btn btn-view-all">View all</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="research info-block">
							<h4>Research you may be interested&nbsp;in</h4>
							<p><b><a href="#">Exploring and Exploiting the Multilevel Parallelism Inside SSDs for Improved Performance ...</a></b></p>
							<p>Yang Hu.</p>
							<p>Wuhan Nat. Lab. for Optoelectron., - 2006</p>
							<p class="add-to-lib"><a href="#"><i class="fa fa-folder"></i> Add to Library</a></p>
							<div class="spacer clearfix"></div>
							<p><b><a href="#">Cloud Computing Services Potential Analysis. An integrated model for evaluating Software ...</a></b></p>
							<p>Claudio Cotar</p>
							<p>Microelectron. Eng. - 2011</p>
							<p class="add-to-lib"><i class="fa fa-folder"></i> In your Library</p>
							<div class="spacer clearfix"></div>
							<p><b><a href="#">A Study of Cloud Computing Software-as-a-Service (SaaS) in Financial Firms</a></b></p>
							<p>H. Howell-Barber, James Lawler, Supriya Desai, Anthony Joseph</p>
							<p>Wuhan Lab. for Optoelectron., - 2009</p>
							<p class="add-to-lib"><i class="fa fa-folder"></i> In your Library</p>
							<div class="spacer clearfix"></div>
							<div class="box-btn-view">
								<a href="#library-recommended" class="btn btn-view-all">View all</a>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div id="network-activities-filters" class="col-xs-12 col-sm-12 col-md-8 no-padd-sm no-padd-xs">
					<div class="block-navbtn clearfix">
						<a href="#" class="btn btn-manage pull-left">
							<i class="fa fa-cogs"></i>
							Manage Activity Feed
						</a>
						<div class="dropdown-nav pull-right">
							<span class="pull-left hidden-xs">Filter Activities</span>
							<ul class="nav pull-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<span class="filter-activity-current"></span>
									<i class="fa fa-chevron-down pull-right"></i></a>
									<ul class="dropdown-menu filter-activities"></ul>
								</li>
							</ul>
						</div>
					</div>
					<div id="network-activities-feed">
						Loading Feed...
					</div>
					<div class="load-more hidden-md hidden-lg col-xs-12">
						<a href="#" class="btn btn-load-more">Load More</a>
					</div>
					<div class="col-xs-12 hidden-md hidden-lg no-padd">
						<div class="ads center-block">
							<p>Advertisement</p>
							<img src="assets/img/ads/banner-tablet.png" class="advertising visible-sm" alt="banner" width="720">
							<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
							<div class="spacer clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ads col-md-2 hidden-sm hidden-xs column-two">
			<p>Advertisement</p>
			<a class="a160" href="#"><img src="assets/img/ads/skyscraper.png" alt="Advertisement"></a>
			<a class="a160" href="#"><img class="advert" src="assets/img/ads/rectangle.png" width="160" alt="Advertisement"></a>
			<a class="a160" href="#"><img class="advert" src="assets/img/ads/rectangle.png" width="160" alt="Advertisement"></a>
		</div>
	</div>
</div>
