<div id="bibliography-modal" class="modal-dialog">
	<div class="modal-content col-xs-12 no-padd citation-style-select">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<h4>3 Citations</h4>
		<div class="selector-panel bibliographies-next-step title-step-name table">
			<div class="img cell">
				<img src="assets/img/bibliography/icon_export_citations.png" width="58" alt="icon">
			</div>
			<div class="txt cell">
				<h4>Export Citation</h4>
			</div>
		</div>
		<p>Format:</p>
		<div class="type-of-export dropdown hidden-xs">
			<div class="dropdown-toggle" data-toggle="dropdown">
				<span class="current">RIS</span>
				<i class="fa fa-chevron-down pull-right"></i></div>
			<ul class="dropdown-menu">
				<li id="li-ris">RIS</li>
				<li id="li-bibtex">BibTex</li>
			</ul>
		</div>
		<div class="type-of-export visible-xs">
			<p><label><input type="radio" class="ris"  name="group1" value="ris" checked="checked"><span>RIS</span></label></p>
			<p><label><input type="radio" class="bibtex" name="group1" value="bibtex"><span>BibTex</span></label></p>
		</div>
		<div class="spacer clearfix"></div>
		<div class="foot center-block">
			<button class="btn btn-default btn-export">Export</button>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

