<div id="bibliography-modal" class="modal-dialog">
	<div class="modal-content col-xs-12 no-padd citation-style-select">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<h4>Export Citation</h4>
		<div class="downloading-message table">
			<div class="img cell">
				<img src="assets/img/bibliography/downloading_mobile.png" width="22" alt="spinner">
			</div>
			<div class="txt cell">
				<p>Selected citations have started being downloaded to your mobile device.</p>
			</div>
		</div>
		<div class="spacer clearfix"></div>
		<div class="foot center-block">
			<button class="btn btn-default btn-close">Close</button>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

