<div class="spacer clearfix visible-xs"></div>
<div class="container no-padd padd-xs">
	<div id="research-groups-view" class="info-block col-xs-12 padd-xs">
		<h4 class="pull-left">Research Groups — 2</h4>
		<a href="#researchgroups-createnew" class="btn-create-new btn btn-default pull-right">
			<i class="fa fa-plus"></i> <span class="hidden-xs">Create</span> New
		</a>
		<div class="detailed-results">
			<% _.each (data, function(group) { %>
			<div class="group col-xs-12 no-padd">
				<div class="col-xs-4 col-md-2 img">
					<a href="#researchgroups-owner"><img src="assets/img/network_communities/<%= group.image %>" class="img-responsive" alt="group logo"></a>
				</div>
				<div class="col-xs-8 col-md-7 description">
					<a class="group-title" href="#researchgroups-owner"><%= group.title %></a>
					<p class="">
						<%= group.text %>
					</p>
					<a href="#" class="members-count visible-xs"><%= group.membersNumber %> members</a>
					<a href="#" class="hidden-md hidden-lg members-count hidden-xs"><%= group.membersNumber %> members</a>
				</div>

				<div class="col-xs-3 hidden-xs hidden-sm" style="position: relative">
					<div class="members">
						<% _.each(group.membersIds, function(memberId) {%>
							<a class="member" href="#profile-searchresult">
								<img src="assets/img/network_communities/members/<%= memberId %>.jpg" class="img-responsive" alt="member">
							</a>
						<% });%>
						<div class="clearfix"></div>
						<a href="#network-people"><%= group.membersNumber %> Participants</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<% }); %>
		</div>
	</div>

	<div class="col-xs-12 visible-xs no-padd">
		<div class="ads center-block">
			<p>Advertisement</p>
			<img src="assets/img/ads/banner-mobile.png" class="advertising center-block" alt="banner">
			<div class="big-spacer clearfix"></div>
		</div>
	</div>
</div>
