<div class="spacer clearfix visible-xs"></div>
<div class="container no-padd padd-xs">
	<div id="research-groups-view" class="info-block col-xs-12 padd-xs">
		<a href="#researchgroups-createnew" class="btn-create-new btn btn-default pull-right">
			<i class="fa fa-plus"></i> <span class="hidden-xs">Create</span> New
		</a>
		<div class="table empty-groups">
			<div class="img cell hidden-xs">
				<img src="assets/img/research_groups/stack.png" width="38">
			</div>
			<div class="text cell">
				<h5><img src="assets/img/research_groups/stack-mobile.png" width="27" class="visible-xs" alt="stack">No Research Groups Found</h5>
				<p>Research Groups are a convenient, easy way to facilitate collaborative research and authoring. If you are interested in discussing multiple documents with a group of colleagues, Research Groups are for you.</p>
				<p class="bold">Create a research group to get started today...</p>
			</div>
			<div class="arrow cell hidden-xs">
				<img src="assets/img/research_groups/arrow.png" width="82">
			</div>
		</div>
	</div>
	<div class="col-xs-12 visible-xs no-padd">
		<div class="ads center-block">
			<p>Advertisement</p>
			<img src="assets/img/ads/banner-mobile.png" class="advertising center-block" alt="banner">
			<div class="big-spacer clearfix"></div>
		</div>
	</div>
</div>

