<div class="tab-info col-xs-12 no-padd">
	<div class="col-xs-9 no-padd title-to-hide">
		<h4>54 documents in this group</h4>
	</div>
	<div class="animated-search pull-right">
		<i class="fa fa-search show-input"></i>
		<input type="text" class="" placeholder="Start typing here...">
		<i class="fa fa-times"></i>
	</div>
</div>
<div class="clearfix"></div>
<div class="content-nav row document-tab">
	<div class="tab-content">
		<div class="message tab-pane">
			<div class="message-wrap">
				<div class="top arrow content-arrow"></div>
				<textarea placeholder="Share your thoughts"></textarea>
				<div class="clearfix spacer"></div>
				<a href="#researchgroups-activities" class="btn-send btn btn-default pull-right">Send</a>
			</div>
		</div>
		<div class="a-link tab-pane">
			<div class="message-wrap">
				<div class="top arrow content-arrow for-link"></div>
				<div class="enter-link pull-left">
					<i class="fa fa-link"></i>
					<input type="text" class="" placeholder="Enter or paste a link">
					<i class="fa fa-times"></i>
				</div>
				<textarea placeholder="Share What's New..."></textarea>
				<div class="clearfix spacer"></div>
				<a href="#researchgroups-activities" class="btn-send btn btn-default pull-right">Send</a>
			</div>
		</div>
		<div class="document tab-pane active">
			<div class="message-wrap">
				<div class="top arrow content-arrow for-document"></div>
				<input class="search-documents" type="text" placeholder="Share a document from your library for the group">
				<div class="clearfix spacer"></div>
				<a href="#researchgroups-documents" class="btn-send btn btn-default pull-right">Send</a>
			</div>
		</div>
	</div>
	<div class="main-subnav-wrap">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs group-main-subnav" role="tablist">
			<li><a href="#documents .message" role="tab" data-toggle="tab"><i class="fa fa-edit"></i> <span class="hidden-xs">Message</span></a></li>
			<li><a href="#documents .a-link" role="tab" data-toggle="tab"><i class="fa fa-link"></i> <span class="hidden-xs">Link</span></a></li>
			<li class="#documents active"><a href=".document" role="tab" data-toggle="tab"><i class="fa fa-file-text-o"></i> <span class="hidden-xs">Document</span></a></li>
		</ul>
		<div class="clearfix"></div>
	</div>
</div>
<div class="col-xs-12 no-padd doc-item collection visible-xs">
	<div class="table">
		<div class="icon cell">
			<i class="fa fa-folder"></i>
		</div>
		<div class="text cell">
			<h4>Numerical and Experimental Analysis</h4>
			<p>Research Collection</p>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="documents-autoload"></div>
<img class="center-block load-spinner" src="assets/img/3-circle-bar.gif" width="60px"/>

