<div class="container padd-xs">
	<div class="spacer clearfix visible-xs"></div>
	<div id="research-groups-view">
		<!-- Top row -->
		<div class="row padd-xs">
			<div class="mobile-group-administration info-block hidden-md hidden-lg">
				<div class="table">
					<div class="cell" target="#invitedropdownMenu" >
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<p><i class="fa fa-user"></i> Invite</p>
						</a>
					</div>
					<div class="cell" target="#managedropdownMenu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<p><i class="fa fa-gear"></i> Manage</p>
						</a>
					</div>
					<div class="cell" target="#collectionsdropdownMenu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<p><i class="fa fa-folder"></i>	Collections</p>
						</a>
					</div>
				</div>
				<div class="dropdown" id="invitedropdownMenu">
					<a href="#" data-toggle="dropdown"></a>
					<ul class="dropdown-menu dropdown-mobile" id="test" role="menu">
						<li><a class="from-connections" href="#">From Connections</a></li>
						<li><a class="search-ppct" href="#">Search PPCT</a></li>
						<li><a class="via-email" href="#">Via Email</a></li>
					</ul>
				</div>
				<div class="dropdown" id="managedropdownMenu">
					<a href="#" data-toggle="dropdown"></a>
					<ul class="dropdown-menu dropdown-mobile" role="menu">
						<li><a class="edit-group-info" href="#"><i class="fa fa-pencil"></i> Edit Group info</a></li>
						<li><a class="transfer-group-ownership" href="#"><i class="fa fa-long-arrow-right"></i> Transfer group ownership</a></li>
						<li><a class="close-group" href="#"><i class="fa fa-times"></i> Close Group</a></li>
					</ul>
				</div>
				<div class="dropdown" id="collectionsdropdownMenu">
					<a href="#" data-toggle="dropdown"></a>
					<div class="dropdown-menu dropdown-mobile" role="menu" >
						<span>3 Collections:</span>
						<a href="#" class="btn-add-new-collection btn"><i class="fa fa-plus"></i></a>
						<ul>
							<li><a class="prep-docs" href="#"><i class="fa fa-caret-right"></i> Prep Docs for ML Consultant</a></li>
							<li><a class="vandelay-industries" href="#"><i class="fa fa-caret-right"></i> Vandelay Industries</a></li>
							<li><a class="research-collection" href="#"><i class="fa fa-caret-right"></i> Research Collection</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="group-details info-block col-xs-12 hidden-xs">
				<div class="col-xs-4 col-sm-2 col-md-2 no-padd-xs img-wrap">
					<img class="img-responsive" src="assets/img/research_groups/upload-image-empty.png">
					<input class="upload-image hidden" type="file" name="image" accept="image/png"/>
					<a href="#" class="upload-trigger upload-btn btn btn-default hidden-xs">
						Upload an image
					</a>
				</div>
				<div class="details col-xs-8 col-sm-9 col-md-10">
					<div class="row">
						<div class="col-sm-7">
							<h3>Cloud Computing</h3>
							<p class="participants hidden-md hidden-lg">2 Participants</p>
						</div>
					</div>
				</div>
				<div class="extras col-xs-12 col-md-10 pull-right no-padd-xs">
					<p class="participants hidden-xs hidden-sm">2 Participants</p>
					<div class="citation col-xs-12 no-padd">
						<p class="add-description hidden-xs"><a href="#">Add a description</a></p>
						<div class="mobile-group-owner table hidden-lg hidden-md info-block">
							<div class="avatar cell">
								<a href="#profile-searchresult">
									<img src="assets/img/profile/avatars/person-1.png" width="70">
								</a>
							</div>
							<div class="details cell">
								<p class="name"><a href="#profile-searchresult">Jane Craig</a></p>
								<p>Group owner</p>
							</div>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>

				<a href="#" class="details-action visible">
					<span>Hide Details</span>
					<i class="fa fa-angle-up"></i>
					<i class="fa fa-angle-down"></i>
				</a>

				<button class="btn-leave-group btn btn-default pull-right">
					Leave Group
					<i class="fa fa-sign-out"></i>
				</button>
			</div>
			<div class="group-details-mob info-block visible-xs">
				<div class="table">
					<div class="logo cell">
						<img src="assets/img/research_groups/upload-image-empty.png">
					</div>
					<div class="cell description">
						<div class="col-xs-12 no-padd">
							<div class="col-xs-12 col-sm-7 col-lg-8 no-padd">
								<h4>Cloud Computing</h4>
								<p class="participants">2 Participants</p>
							</div>
							<div class="col-xs-12 hidden-xs col-sm-5 col-lg-4 no-padd">
								<a class="btn-leave btn btn-default pull-right">Leave Group <i class="fa fa-sign-out"></i></a>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="text hidden-xs">
							<p class="add-description hidden-xs"><a href="#">Add a description</a></p>
							<div class="mobile-group-owner table hidden-lg hidden-md info-block">
								<div class="avatar cell">
									<a href="#profile-searchresult">
										<img src="assets/img/profile/avatars/person-1.png" width="70">
									</a>
								</div>
								<div class="details cell">
									<p class="name"><a href="#profile-searchresult">Jane Craig</a></p>
									<p>Group owner</p>
								</div>
							</div>
						</div>
					</div>
					<div class="mobile-info cell">
						<a href="#">
							<img src="assets/img/research_groups/info-icon-mobile-inactive.png" width="20" alt="info" class="info-icon">
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="description-mobile">
					<a href="#" class="upload-trigger upload-btn-mob btn btn-default">
						Upload an image
					</a>
					<div class="spacer clearfix"></div>
					<p class="add-description"><a href="#">Add a description</a></p>
					<div class="spacer clearfix"></div>
					<a class="btn-leave-mob btn btn-default visible-xs">Leave Group</a>
					<div class="spacer clearfix"></div>
					<div class="mobile-group-owner table hidden-lg hidden-md info-block">
						<div class="avatar cell">
							<a href="#profile-searchresult">
								<img src="assets/img/profile/avatars/person-1.png" width="70">
							</a>
						</div>
						<div class="details cell">
							<p class="name"><a href="#profile-searchresult">Jane Craig</a></p>
							<p>Group owner</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Top row -->

		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 no-padd column-one">
			<div class="row padd-xs">
				<div class="hidden-xs hidden-sm col-xs-12 col-sm-12 col-md-4 col-lg-3 no-padd">
					<div class="hidden-xs hidden-sm">
						<div class="big-spacer clearfix"></div>
						<div class="group-owner info-block">
							<h4>Owner</h4>
							<div class="table">
								<div class="avatar cell">
									<a href="#profile-searchresult">
										<img src="assets/img/profile/avatars/person-1.png" width="70" alt="avatar">
									</a>
								</div>
								<div class="details cell">
									<p class="name"><a href="#profile-searchresult">Jane Craig</a></p>
									<p><i class="fa fa-briefcase"></i> IEEE Standards</p>
									<p><i class="fa fa-map-marker"></i> New York</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="group-administration info-block">
							<h4>Administration</h4>
							<div class="table">
								<div class="cell icon">
									<div class="dropdown invite-to-group">
										<a class="btn btn-default" href="#" data-toggle="dropdown">
											<i class="fa fa-user"></i>
										</a>
										<ul class="dropdown-menu">
											<li><a class="from-connections" href="#">From Connections</a></li>
											<li><a class="search-ppct" href="#">Search PPCT</a></li>
											<li><a class="via-email" href="#">Via Email</a></li>
										</ul>
									</div>
								</div>
								<div class="cell">
									<p>Invite to the Group</p>
								</div>
							</div>
							<div class="table">
								<div class="cell icon">
									<div class="dropdown edit-group">
										<a class="btn btn-default" href="#" data-toggle="dropdown">
											<i class="fa fa-gear"></i>
										</a>
										<ul class="dropdown-menu">
											<li><a class="edit-group-info" href="#"><i class="fa fa-pencil"></i> Edit Group info</a></li>
											<li><a class="transfer-group-ownership" href="#"><i class="fa fa-long-arrow-right"></i> Transfer group ownership</a></li>
											<li><a class="close-group" href="#"><i class="fa fa-times"></i> Close Group</a></li>
										</ul>
									</div>
								</div>
								<div class="cell">
									<p>Edit Group Setup Info</p>
								</div>
							</div>
							<div class="table">
								<div class="cell icon">
									<div class="dropdown research-collections">
										<a class="btn btn-default" href="#" data-toggle="dropdown">
											<i class="fa fa-folder"></i>
										</a>
										<div class="dropdown-menu">
											<span>3 Collections:</span>
											<a href="#" class="btn-add-new-collection btn"><i class="fa fa-plus"></i></a>
											<ul>
												<li><a class="prep-docs" href="#"><i class="fa fa-caret-right"></i> Prep Docs for ML Consultant</a></li>
												<li><a class="vandelay-industries" href="#"><i class="fa fa-caret-right"></i> Vandelay Industries</a></li>
												<li><a class="research-collection" href="#"><i class="fa fa-caret-right"></i> Research Collection</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="cell">
									<p>Research Collections</p>
								</div>
							</div>

							<div class="clearfix"></div>
						</div>
						<div class="research info-block">
							<h4>Research you may be interested&nbsp;in</h4>
							<p><b><a href="#library-popuprecommended">Exploring and Exploiting the Multilevel Parallelism Inside SSDs for Improved Performance ...</a></b></p>
							<p>Yang Hu.</p>
							<p>Wuhan Nat. Lab. for Optoelectron., - 2006</p>
							<p class="add-to-lib"><a href="#library-popuprecommended"><i class="fa fa-folder"></i> Add to Library</a></p>
							<div class="spacer clearfix"></div>
							<p><b><a href="#library-popuprecommended">Cloud Computing Services Potential Analysis. An integrated model for evaluating Software ...</a></b></p>
							<p>Claudio Cotar</p>
							<p>Microelectron. Eng. - 2011</p>
							<p class="add-to-lib"><i class="fa fa-folder"></i> In your Library</p>
							<div class="spacer clearfix"></div>
							<p><b><a href="#library-popuprecommended">A Study of Cloud Computing Software-as-a-Service (SaaS) in Financial Firms</a></b></p>
							<p>H. Howell-Barber, James Lawler, Supriya Desai, Anthony Joseph</p>
							<p>Wuhan Lab. for Optoelectron., - 2009</p>
							<p class="add-to-lib"><i class="fa fa-folder"></i> In your Library</p>
							<div class="spacer clearfix"></div>
							<div class="box-btn-view">
								<a href="#library-recommended" class="btn btn-view-all">View all</a>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 no-padd-sm no-padd-xs">
					<div class="main content">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs group-main-nav" role="tablist">
							<li class="active"><a href=".activities" role="tab" data-toggle="tab">
								<img class="" src="assets/img/research_groups/activities-icon.png" width="25" alt="menu icon">
								<img class="activated" src="assets/img/research_groups/activities-icon-active.png" width="25" alt="menu icon">
								Activities
							</a></li>
							<li><a href=".documents" role="tab" data-toggle="tab">
								<img class="" src="assets/img/research_groups/documents-icon.png" width="25" alt="menu icon">
								<img class="activated" src="assets/img/research_groups/documents-icon-active.png" width="25" alt="menu icon">
								Documents
							</a></li>
							<li><a href=".participants" role="tab" data-toggle="tab">
								<img class="" src="assets/img/research_groups/participants-icon.png" width="25" alt="menu icon">
								<img class="activated" src="assets/img/research_groups/participants-icon-active.png" width="25" alt="menu icon">
								Participants
							</a></li>
							<li class="hangouts"><a class="hidden-lg hidden-md" href="https://www.google.com/+/learnmore/hangouts/">
								<img class="visible-sm" src="assets/img/research_groups/hangouts-icon.png" width="40" alt="hangouts">
								<img class="visible-xs" src="assets/img/research_groups/hangouts-mobile-icon.png" width="25" alt="hangouts">
							</a></li>
						</ul>

						<div class="clearfix"></div>

						<!-- Tab panes -->
						<div class="tab-content">
							<div class="activities tab-pane active">
								<div class="empty-block info-block col-xs-12  no-padd no-padd-bottom">
									<div class="col-xs-8 no-padd title-to-hide">
										<h4>0 posts in this group</h4>
									</div>
									<div class="animated-search pull-right">
										<i class="fa fa-search show-input"></i>
										<input type="text" class="" placeholder="Start typing here...">
										<i class="fa fa-times"></i>
									</div>
									<div class="clearfix"></div>
									<div class="content-nav empty row">
										<div class="tab-content">
											<div class="message tab-pane active">
												<div class="message-wrap">
													<div class="top arrow content-arrow"></div>
													<textarea placeholder="Share your thoughts"></textarea>
													<div class="clearfix spacer"></div>
													<a href="#researchgroups-activities" class="btn-send btn btn-default pull-right">Send</a>
												</div>
											</div>
											<div class="a-link tab-pane">
												<div class="message-wrap">
													<div class="top arrow content-arrow for-link"></div>
													<div class="enter-link pull-left">
														<i class="fa fa-link"></i>
														<input type="text" class="" placeholder="Enter or paste a link">
														<i class="fa fa-times"></i>
													</div>
													<textarea placeholder="Share What's New..."></textarea>
													<div class="clearfix spacer "></div>
													<a href="#researchgroups-activities" class="btn-send btn btn-default pull-right">Send</a>
												</div>
											</div>
											<div class="document tab-pane">
												<div class="message-wrap">
													<div class="top arrow content-arrow for-document"></div>
													<input class="search-documents" type="text" placeholder="Share a document from your library for the group">
													<div class="clearfix spacer"></div>
													<a href="#researchgroups-documents" class="btn-send btn btn-default pull-right">Send</a>
												</div>
											</div>
										</div>
										<div class="main-subnav-wrap">
											<!-- Nav tabs -->
											<ul class="nav nav-tabs group-main-subnav" role="tablist">
												<li class="active"><a href=".activities .message" role="tab" data-toggle="tab"><i class="fa fa-edit"></i> <span class="hidden-xs">Message</span></a></li>
												<li><a href=".activities .a-link" role="tab" data-toggle="tab"><i class="fa fa-link"></i> <span class="hidden-xs">Link</span></a></li>
												<li><a href=".activities .document" role="tab" data-toggle="tab"><i class="fa fa-file-text-o"></i> <span class="hidden-xs">Document</span></a></li>
											</ul>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>

							<div class="documents tab-pane">
								<div class="empty-block info-block col-xs-12  no-padd no-padd-bottom">
									<div class="col-xs-8 no-padd title-to-hide">
										<h4>0 documents in this group</h4>
									</div>
									<div class="animated-search pull-right">
										<i class="fa fa-search show-input"></i>
										<input type="text" class="" placeholder="Start typing here...">
										<i class="fa fa-times"></i>
									</div>
									<div class="clearfix"></div>
									<div class="content-nav empty row">
										<div class="tab-content">
											<div class="message tab-pane">
												<div class="message-wrap">
													<div class="top arrow content-arrow "></div>
													<textarea placeholder="Share your thoughts"></textarea>
													<div class="clearfix spacer"></div>
													<a href="#researchgroups-activities" class="btn-send btn btn-default pull-right">Send</a>
												</div>
											</div>
											<div class="a-link tab-pane">
												<div class="message-wrap">
													<div class="top arrow content-arrow for-link "></div>
													<div class="enter-link pull-left">
														<i class="fa fa-link"></i>
														<input type="text" class="" placeholder="Enter or paste a link">
														<i class="fa fa-times"></i>
													</div>
													<textarea placeholder="Share What's New..."></textarea>
													<div class="clearfix spacer"></div>
													<a href="#researchgroups-activities" class="btn-send btn btn-default pull-right">Send</a>
												</div>
											</div>
											<div class="document tab-pane active">
												<div class="message-wrap">
													<div class="top arrow content-arrow for-document "></div>
													<input class="search-documents" type="text" placeholder="Share a document from your library for the group">
													<div class="clearfix spacer"></div>
													<a href="#researchgroups-documents" class="btn-send btn btn-default pull-right">Send</a>
												</div>
											</div>
										</div>
										<div class="main-subnav-wrap">
											<!-- Nav tabs -->
											<ul class="nav nav-tabs group-main-subnav" role="tablist">
												<li><a href=".documents .message" role="tab" data-toggle="tab"><i class="fa fa-edit"></i> <span class="hidden-xs">Message</span></a></li>
												<li><a href=".documents .a-link" role="tab" data-toggle="tab"><i class="fa fa-link"></i> <span class="hidden-xs">Link</span></a></li>
												<li class="active"><a href=".documents .document" role="tab" data-toggle="tab"><i class="fa fa-file-text-o"></i> <span class="hidden-xs">Document</span></a></li>
											</ul>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>

							<div class="participants tab-pane">
								<div class="empty-block info-block col-xs-12  no-padd no-padd-bottom">
									<div class="col-xs-8 no-padd title-to-hide">
										<h4>0 participants in this group</h4>
									</div>
									<div class="animated-search pull-right">
										<i class="fa fa-search show-input"></i>
										<input type="text" class="" placeholder="Start typing here...">
										<i class="fa fa-times"></i>
									</div>
									<div class="clearfix"></div>
									<div class="content-nav empty row">
										<div class="tab-content">
											<div class="message tab-pane">
												<div class="message-wrap">
													<div class="top arrow content-arrow"></div>
													<textarea placeholder="Share your thoughts"></textarea>
													<div class="clearfix spacer"></div>
													<a href="#researchgroups-activities" class="btn-send btn btn-default pull-right">Send</a>
												</div>
											</div>
											<div class="a-link tab-pane active">
												<div class="message-wrap">
													<div class="top arrow content-arrow for-link"></div>
													<div class="enter-link pull-left">
														<i class="fa fa-link"></i>
														<input type="text" class="" placeholder="Enter or paste a link">
														<i class="fa fa-times"></i>
													</div>
													<textarea placeholder="Share What's New..."></textarea>
													<div class="clearfix spacer"></div>
													<a href="#researchgroups-activities" class="btn-send btn btn-default pull-right">Send</a>
												</div>
											</div>
											<div class="document tab-pane">
												<div class="message-wrap">
													<div class="top arrow content-arrow for-document"></div>
													<input class="search-documents" type="text" placeholder="Share a document from your library for the group">
													<div class="clearfix spacer"></div>
													<a href="#researchgroups-documents" class="btn-send btn btn-default pull-right">Send</a>
												</div>
											</div>
										</div>
										<div class="main-subnav-wrap">
											<!-- Nav tabs -->
											<ul class="nav nav-tabs group-main-subnav" role="tablist">
												<li><a href=".participants .message" role="tab" data-toggle="tab"><i class="fa fa-edit"></i> <span class="hidden-xs">Message</span></a></li>
												<li class="active"><a href=".participants .a-link" role="tab" data-toggle="tab"><i class="fa fa-link"></i> <span class="hidden-xs">Link</span></a></li>
												<li><a href=".participants .document" role="tab" data-toggle="tab"><i class="fa fa-file-text-o"></i> <span class="hidden-xs">Document</span></a></li>
											</ul>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12 hidden-md hidden-lg no-padd">
						<div class="ads center-block">
							<p>Advertisement</p>
							<img src="assets/img/ads/banner-tablet.png" class="advertising visible-sm" alt="banner" width="720">
							<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
							<div class="spacer clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="hangouts col-md-3 col-lg-2 hidden-sm hidden-xs  no-padd-right">
			<div class="big-spacer clearfix"></div>
			<div class="info-block">
				<h4>Hangouts</h4>
				<p>Use Google hangouts to get together with your group using your webcam.</p>
				<p class="text-center">
					<a href="https://www.google.com/+/learnmore/hangouts/" class="btn btn-success">Start a hangout</a>
				</p>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="ads col-md-3 col-lg-2 hidden-sm hidden-xs column-two">
			<p>Advertisement</p>
			<a class="a160" href="#"><img src="assets/img/ads/skyscraper.png" alt="Advertisement"></a>
			<a class="a160" href="#"><img class="advert" src="assets/img/ads/rectangle.png" width="160" alt="Advertisement"></a>
			<div class="big-spacer clearfix"></div>
		</div>
	</div>
</div>
