<header role="banner">
	<div class="container" style="border-bottom:1px solid #aaa">
		<div class="navbar-header">
			<a class="navbar-brand" href="#" style="padding-top:0px"><img src="/ppctweb/assets/img/logo.gif"
			                                                              height="51"/></a>
		</div>
		<nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse pull-right hidden-xs">
			<ul class="nav navbar-nav">
				<li>
					<a href="#">For Members</a>
				</li>
				<li>
					<a href="#">For Researchers</a>
				</li>
				<li>
					<a href="#">For Authors</a>
				</li>
				<li>
					<a href="#">For Volunteers</a>
				</li>

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#" class="btn btn-info">Join IEEE</a>
				</li>
			</ul>
		</nav>
	</div>
</header>