<div class="header-search col-lg-12 hidden-xs">
	<div class="info-block clearfix">
		<div class="search-select pull-left">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-calendar-o"></i><i class="fa fa-chevron-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#searchresults-all"><i class="fa fa-globe"></i>All</a></li>
						<li><a href="#searchresults-activities"><i class="fa fa-rocket"></i>Activities</a></li>
						<li><a href="#searchresults-people"><i class="fa fa-user"></i>People</a></li>
						<li><a href="#searchresults-communities"><i class="fa fa-users"></i>Community</a></li>
						<li><a href="#searchresults-research"><i class="fa fa-flask"></i>Research</a></li>
						<li><a href="#searchresults-events"><i class="fa fa-calendar-o"></i>Events</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="search-input-box">
			<form action="#">
				<input class="search-text" type="text" placeholder="Search events" value="Search events">
				<a href="#searchresults-events" class="library-search-btn"><i class="fa fa-search fa-2x"></i></a>
			</form>
		</div>
	</div>
</div>
