<div class="header-search col-lg-12 hidden-xs">
	<div class="info-block clearfix">
		<div class="search-select pull-left">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-flask"></i><i class="fa fa-chevron-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li class="active"><a href="#searchresults-all"><i class="fa fa-globe"></i>All</a></li>
						<li><a href="#searchresults-activities"><i class="fa fa-rocket"></i>Activities</a></li>
						<li><a href="#searchresults-people"><i class="fa fa-user"></i>People</a></li>
						<li><a href="#searchresults-communities"><i class="fa fa-users"></i>Communities</a></li>
						<li><a href="#searchresults-events"><i class="fa fa-calendar-o"></i>Events</a></li>
						<li class="active"><span><i class="fa fa-flask"></i>Research</span>
							<ul>
								<li><a href="#"><i class="fa fa-caret-right"></i>IEEE Library</a></li>
								<li><a href="#"><i class="fa fa-caret-right"></i>Google Scholar</a></li>
								<li><a href="#"><i class="fa fa-caret-right"></i>IEEE Explorer</a></li>
								<li><a href="#"><i class="fa fa-caret-right"></i>Academic Search</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="search-input-box">
			<form action="">
				<input class="search-text" type="text" placeholder="Search all libraries" value="Search all libraries">
				<a href="#searchresults-all" class="library-search-btn"><i class="fa fa-search fa-2x"></i></a>
			</form>
		</div>
	</div>
</div>
