<div class="search-select-mobile">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar-o"></i><i class="fa fa-angle-down"></i></a>
	<ul class="dropdown-menu">
		<li class="active"><a href="#searchresults-all"><i class="fa fa-globe"></i>All</a></li>
		<li><a href="#searchresults-activities"><i class="fa fa-rocket"></i>Activities</a></li>
		<li><a href="#searchresults-people"><i class="fa fa-user"></i>People</a></li>
		<li><a href="#searchresults-communities"><i class="fa fa-users"></i>Communities</a></li>
		<li><a href="#searchresults-research"><i class="fa fa-flask"></i>Research</a></li>
		<li><a href="#searchresults-events"><i class="fa fa-calendar-o"></i>Events</a></li>
	</ul>
</div>
<i class="fa fa-search search-icon"></i>
<input type="text" class="search-text visible-xs" placeholder="Search events...">
<i class="fa fa-times-circle"></i>