<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	<i class="fa fa-th"></i>
</a>
<div class="dropdown-menu">
	<div class="dropdown-menu-arrow"></div>
	<h4>Toolbox</h4>
	<p>Mail and Calendar</p>
	<div class="icon-row">
		<a href="#" class="pull-left"><img src="assets/img/tools/gmail-icon.png" width="44" height="44" alt="Google Mail"></a>
		<a href="#" class="pull-left"><img src="assets/img/tools/gcalendar-icon.png" width="44" height="44" alt="Google Calendat"></a>
		<div class="clearfix"></div>
	</div>
	<div class="big-spacer clearfix"></div>
	<p>Connected Profiles</p>
	<div class="icon-row">
		<a href="#" class="pull-left"><img src="assets/img/settings/google_plus.png" width="44" height="44" alt="Google Plus"></a>
		<a href="#" class="pull-left"><img src="assets/img/settings/id.png" width="44" height="44" alt="OrcID"></a>
		<a class="inactive pull-left"><img src="assets/img/settings/linkedin.png" width="44" height="44" alt="LinkedIn"></a>
		<a class="inactive pull-left"><img src="assets/img/settings/facebook.png" width="44" height="44" alt="Facebook"></a>
		<div class="clearfix"></div>
	</div>
	<div class="big-spacer clearfix"></div>
		<p><a href="#settings-attachedservices">View Attached Services</a></p>
	</div>
</div>
