<div id="landing-page" xmlns="http://www.w3.org/1999/html">
	<div class="container no-padd">
	<div class="tab-content">
		<div class="landing-page-bg">
			<img class="img-responsive landing-page-promo-img" src="assets/img/landing_page/home_page_empty.jpg" alt="Sign in Banner">
			<div class="landing-page-promo col-xs-12 col-sm-12 col-md-12">
				<div class="table">
					<div class="cell">
						<h1>Network, collaborate and create <br/> with technology experts globally.</h1>
						<a href="sign_in" class="btn btn-info btn-sign-in">Sign in</a>
						<div class="clearfix visible-xs"></div>
						<a href="create_account" class="btn btn-info btn-create">Register for your Free IEEE Account</a>
					</div>
				</div>

			</div>
			<ul class="landing-page-menu hidden-xs">
				<li class="active"><a href=".overwiew-tab" data-toggle="tab" class="active">Overview</a></li>
				<li><a href=".networking-tab"  data-toggle="tab"  >Professional Networking</a></li>
				<li><a href=".researching-tab" data-toggle="tab">Researching</a></li>
				<li><a href=".authoring-tab"   data-toggle="tab" >Authoring</a></li>
				<li><a href=".collaborating-tab" data-toggle="tab" >Collaborating</a></li>
			</ul>
		</div>
		<ul class="nav nav-pills nav-xs visible-xs">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Overview<i class="fa fa-angle-down"></i></a>
				<ul class="dropdown-menu">
					<li><a href=".overwiew-tab" data-toggle="tab"    > Overview</a></li>
					<li><a href=".networking-tab" data-toggle="tab"    > Professional Networking</a></li>
					<li><a href=".researching-tab" data-toggle="tab"> Researching</a></li>
					<li><a href=".authoring-tab"  data-toggle="tab"  > Authoring</a></li>
					<li><a href=".collaborating-tab" data-toggle="tab"> Collaborating</a></li>
				</ul>
			</li>
		</ul>

		<div class="overwiew-tab tab-pane fade active in">
			<div class="landing-page-info tab-pane fade in active">
				<div class="line-top col-md-12 no-padd padd-xs">
					<div class="col-xs-12 col-sm-6 col-md-6 no-padd">
						<div class="unified-experience">
							<div class="col-xs-12 col-sm-12 no-padd">
								<h2 class="pull-left">One Central Hub</h2>
								<div class="clearfix"></div>
								<p>IEEE PPCT is an integrated online community where technology professionals can network, collaborate, and create — all in one central hub.</p>
								<p>The IEEE PPCT online community offers a suite of productivity tools available to technology professionals around the world, with exclusive features for IEEE members with free access to all.</p>
							</div>
							<div class="col-xs-12 col-sm-12 no-padd">
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-6 no-padd">
						<div id="communities">
							<h2 class="pull-left">IEEE PPCT can help you:</h2>
							<div class="clearfix visible-sm"></div>
							<div class="clearfix"></div>
							<ul>
								<li><i class="fa fa-circle"></i>Connect with global technology professionals by location, technical interests, or career pursuits </li>
								<li><i class="fa fa-circle"></i>Access research and collaborative authoring tools</li>
								<li><i class="fa fa-circle"></i>Establish a professional identity and showcase key accomplishments </li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="clearfix"></div>

				<div class="line col-md-12 no-padd  padd-xs">
					<div class="col-xs-12 col-sm-6 col-md-6 no-padd">
						<div id="ieee-badge">
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd">
								<h2>Robust networking, collaborating, and authoring tools dedicated to technology professionals.</h2>
							</div>
							<div class="clearfix spacer"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd-sm no-padd-xs">
					        <img class="center-block" src="assets/img/landing_page/robust-collaborating.png" alt="Devices">
					        </div>
							<div class="clearfix"></div>
							<div class="big-spacer visible-xs"></div>
						</div>
					</div>
					

					<div class="col-xs-12 col-sm-6 col-md-6 no-padd">
						<div id="workspace">
							<h2 class="pull-left">
								Network. Collaborate. Create. Anywhere and anytime!
							</h2>
							<div class="clearfix"></div>
							<div class="big-spacer hidden-xs"></div>

							<img class="img-responsive center-block" src="assets/img/landing_page/mobile-device.png" alt="Devices">
							
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<div class="networking-tab tab-main-menu tab-pane fade">
			<div class="big-spacer clearfix"></div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2>Professional Networking</h2>
				<div class="big-spacer clearfix"></div>
				<div class="col-xs-12 col-md-12 no-padd">
					<div class="box-image-left">
						<img class="image-left img-responsive" src="assets/img/landing_page/img-networking.png" alt="networking">
					</div>
					<p>
						PPCT connects people easily and helps further career building opportunities
					</p>
					<div class="clearfix visible-xs"></div>
					<div class="list-style margin-left-list">
						<ul>
							<li><i class="fa fa-circle"></i>A unique tool for the benefit of collaborating and networking</li>
							<li><i class="fa fa-circle"></i>Connect with technology professionals based on geographic location andlor or technical interest. </li>
							<li><i class="fa fa-circle"></i>Professional Networking opportunities, connecting with others, career development within one suite/hub </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Features and Benefits </h4>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-left">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Closed, membership-only, professional net group</li>
							<li><i class="fa fa-circle"></i>Community features. </li>
							<li><i class="fa fa-circle"></i>Collaboration features</li>
							<li><i class="fa fa-circle"></i>Personal profiles </li>
							<li><i class="fa fa-circle"></i>Career opportunities (ability to search to request a connection vra profiles)</li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-xs">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Lorem ipsum dolor</li>
							<li><i class="fa fa-circle"></i>Mauris malesuada magna vel ligula consequat</li>
							<li><i class="fa fa-circle"></i>Proin vitae magna eget nisi pretium facilisis a sodales est. Nullam in risus et lorern faucibus gravida </li>
							<li><i class="fa fa-circle"></i>Maecenas libero risus, faucibus et ullamcorper a, pharetra a leo </li>
							<li><i class="fa fa-circle"></i>Lorem ipsurn dolor pretium facilisis </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Are you an IEEE Volunteer? </h4>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-left">
					<p>Build new relationships and conduct activitites using PPCT </p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm no-padd-xs">
					<a href="#" class="link-detailed"><i class="fa fa-arrow-right"></i> Find out how PPCT can assit Volunteers </a>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Google apps & attached services </h4>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-left">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Lorem ipsum dolor vel facilisis libero</li>
							<li><i class="fa fa-circle"></i>Mauris malesuada magna vel ligula consequat</li>
							<li><i class="fa fa-circle"></i>Prom!, vitae magna eget nisi pretium faciiisis a </li>
							<li><i class="fa fa-circle"></i>Maecenas libero </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm no-padd-xs">
					<a href="#" class="link-detailed"><i class="fa fa-arrow-right"></i> Learn more about Google apps & attached services  </a>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<div class="col-xs-12 no-padd">
					<div class="col-xs-12 col-sm-8 col-md-8 no-padd">
						<h4>Ready to use it?</h4>
						<p>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. Mauris rutrum porttitor neque ac porttitor. In elementum quam ut imperdiet posuere. Sed lobortis, enim non laoreet porta, nulla felis eleifend quam, vitae lacinia mauris tortor sit amet erat. Nam euismod posuere nisi, at tincidunt ante porttitor vitae.</p>
					</div>
					<div class="sign-in col-xs-12 col-sm-4 col-md-4 no-padd">
						<div class="clearfix big-spacer"></div>
						<div class="clearfix big-spacer hidden-xs"></div>
						<a href="sign_in" class="btn">Sign In</a>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="researching-tab tab-main-menu tab-pane fade">
			<div class="big-spacer clearfix"></div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2>Researching</h2>
				<div class="big-spacer clearfix"></div>
				<div class="col-xs-12 col-md-12 no-padd">
					<div class="box-image-left">
						<img class="image-left img-responsive" src="assets/img/landing_page/img-researching.png" alt="networking">
					</div>
					<p>
						Easier workplace; time saver, collaboration to get published
					</p>
					<div class="clearfix visible-xs"></div>
					<div class="list-style margin-left-list">
						<ul>
							<li>
								<i class="fa fa-circle"></i>
								2012 IEEE survey showed 85% of author's rated the top selection factor among journals to be journal reputation
								<ul>
									<li><i class="fa fa-circle"></i>Xplore currently has 3,5 million users </li>
									<li><i class="fa fa-circle"></i>Reputation of esteemed journals </li>
									<li><i class="fa fa-circle"></i>2012 survey indicated that 98% of responding authors would publish with JEEE again: publishing an average of 4.8 articles, providing an increased opportunity for interaction with the author community. </li>
								</ul>
							</li>
							<li><i class="fa fa-circle"></i>Closer integration of content with productivity tools and workflow systems for the discovery, management of content and collaboration with others within one suitelhub  </li>
							<li><i class="fa fa-circle"></i>Closer integration allows for an easier workplace for the authoring process  </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Features and Benefits </h4>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-left">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Opportunity to enable you to find others like yourself to help in the production of your paper(s) or research. </li>
							<li><i class="fa fa-circle"></i>Ability to organize, store, sharing of personal research library, manage, classify, categorize resulting  </li>
							<li><i class="fa fa-circle"></i>You can save time by managing your research co[lection: collaborating with others and finding new co-authors for new ideas to develop new papers in real lime </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-xs">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Creation of a virtual work space </li>
							<li><i class="fa fa-circle"></i>Development of global working groups for the publication development process, and adding new people to your work group as you progress through your publication development process. </li>
							<li><i class="fa fa-circle"></i>Maoris malesuada magna vel ligula consequat </li>
							<li><i class="fa fa-circle"></i>Proin vitae magna eget nisi pretium facilisis a sodales est. Null am in rises et lorem faucibus gravida </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Tools </h4>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-left">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li>
								<i class="fa fa-circle"></i>Free tools for ease of workflow
								<ul>
									<li><i class="fa fa-circle"></i>Create email alerts when papers are cited</li>
									<li><i class="fa fa-circle"></i>View usage of papers</li>
								</ul>
							</li>
							<li><i class="fa fa-circle"></i>Personal research profile with rich metrics reflecting contributions to scholarship   </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-xs">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Storing, organizing, and sharing personal research collections* (research library management: add articles, extraction of PDF metadata, full text search, importing research from other systems, etc.)  </li>
							<li><i class="fa fa-circle"></i>Search and discovery of relevant articles </li>
							<li><i class="fa fa-circle"></i>Research management tools for product development </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Are you an IEEE Volunteer? </h4>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-left">
					<p>Build new relationships and conduct activitites using PPCT </p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm no-padd-xs">
					<a href="#" class="link-detailed"><i class="fa fa-arrow-right"></i> Find out how PPCT can assit Volunteers </a>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Google apps & attached services </h4>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-left">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Lorem ipsum dolor vel facilisis libero</li>
							<li><i class="fa fa-circle"></i>Mauris malesuada magna vel ligula consequat</li>
							<li><i class="fa fa-circle"></i>Prom!, vitae magna eget nisi pretium faciiisis a </li>
							<li><i class="fa fa-circle"></i>Maecenas libero </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm no-padd-xs">
					<a href="#" class="link-detailed"><i class="fa fa-arrow-right"></i> Learn more about Google apps & attached services  </a>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<div class="col-xs-12 no-padd">
					<div class="col-xs-12 col-sm-8 col-md-8 no-padd">
						<h4>Ready to use it?</h4>
						<p>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. Mauris rutrum porttitor neque ac porttitor. In elementum quam ut imperdiet posuere. Sed lobortis, enim non laoreet porta, nulla felis eleifend quam, vitae lacinia mauris tortor sit amet erat. Nam euismod posuere nisi, at tincidunt ante porttitor vitae.</p>
					</div>
					<div class="sign-in col-xs-12 col-sm-4 col-md-4 no-padd">
						<div class="clearfix big-spacer"></div>
						<div class="clearfix big-spacer hidden-xs"></div>
						<a href="sign_in" class="btn">Sign In</a>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="authoring-tab tab-main-menu tab-pane fade">
			<div class="big-spacer clearfix"></div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2>Authoring</h2>
				<div class="big-spacer clearfix"></div>
				<div class="col-xs-12 col-md-12 no-padd">
					<div class="box-image-left">
						<img class="image-left img-responsive" src="assets/img/landing_page/img-authoring.png" alt="networking">
					</div>
					<p>
						Easier workplace; time saver, collaboration to get published
					</p>
					<div class="clearfix visible-xs"></div>
					<div class="list-style margin-left-list">
						<ul>
							<li>
								<i class="fa fa-circle"></i>
								2012 IEEE survey showed 85% of author's rated the top selection factor among journals to be journal reputation
								<ul>
									<li><i class="fa fa-circle"></i>Xplore currently has 3,5 million users </li>
									<li><i class="fa fa-circle"></i>Reputation of esteemed journals </li>
									<li><i class="fa fa-circle"></i>2012 survey indicated that 98% of responding authors would publish with JEEE again: publishing an average of 4.8 articles, providing an increased opportunity for interaction with the author community. </li>
								</ul>
							</li>
							<li><i class="fa fa-circle"></i>Closer integration of content with productivity tools and workflow systems for the discovery, management of content and collaboration with others within one suitelhub  </li>
							<li><i class="fa fa-circle"></i>Closer integration allows for an easier workplace for the authoring process  </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Features and Benefits </h4>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-left">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Opportunity to enable you to find others like yourself to help in the production of your paper(s) or research. </li>
							<li><i class="fa fa-circle"></i>Ability to organize, store, sharing of personal research library, manage, classify, categorize resulting  </li>
							<li><i class="fa fa-circle"></i>You can save time by managing your research co[lection: collaborating with others and finding new co-authors for new ideas to develop new papers in real lime </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-xs">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Creation of a virtual work space </li>
							<li><i class="fa fa-circle"></i>Development of global working groups for the publication development process, and adding new people to your work group as you progress through your publication development process. </li>
							<li><i class="fa fa-circle"></i>Maoris malesuada magna vel ligula consequat </li>
							<li><i class="fa fa-circle"></i>Proin vitae magna eget nisi pretium facilisis a sodales est. Null am in rises et lorem faucibus gravida </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Tools </h4>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-left">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li>
								<i class="fa fa-circle"></i>Free tools for ease of workflow
								<ul>
									<li><i class="fa fa-circle"></i>Create email alerts when papers are cited</li>
									<li><i class="fa fa-circle"></i>View usage of papers</li>
								</ul>
							</li>
							<li><i class="fa fa-circle"></i>Personal research profile with rich metrics reflecting contributions to scholarship   </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-xs">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Storing, organizing, and sharing personal research collections* (research library management: add articles, extraction of PDF metadata, full text search, importing research from other systems, etc.)  </li>
							<li><i class="fa fa-circle"></i>Search and discovery of relevant articles </li>
							<li><i class="fa fa-circle"></i>Research management tools for product development </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Are you an IEEE Volunteer? </h4>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-left">
					<p>Build new relationships and conduct activitites using PPCT </p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm no-padd-xs">
					<a href="#" class="link-detailed"><i class="fa fa-arrow-right"></i> Find out how PPCT can assit Volunteers </a>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Google apps & attached services </h4>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-left">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Lorem ipsum dolor vel facilisis libero</li>
							<li><i class="fa fa-circle"></i>Mauris malesuada magna vel ligula consequat</li>
							<li><i class="fa fa-circle"></i>Prom!, vitae magna eget nisi pretium faciiisis a </li>
							<li><i class="fa fa-circle"></i>Maecenas libero </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm no-padd-xs">
					<a href="#" class="link-detailed"><i class="fa fa-arrow-right"></i> Learn more about Google apps & attached services  </a>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<div class="col-xs-12 no-padd">
					<div class="col-xs-12 col-sm-8 col-md-8 no-padd">
						<h4>Ready to use it?</h4>
						<p>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. Mauris rutrum porttitor neque ac porttitor. In elementum quam ut imperdiet posuere. Sed lobortis, enim non laoreet porta, nulla felis eleifend quam, vitae lacinia mauris tortor sit amet erat. Nam euismod posuere nisi, at tincidunt ante porttitor vitae.</p>
					</div>
					<div class="sign-in col-xs-12 col-sm-4 col-md-4 no-padd">
						<div class="clearfix big-spacer"></div>
						<div class="clearfix big-spacer hidden-xs"></div>
						<a href="sign_in" class="btn">Sign In</a>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="collaborating-tab tab-main-menu tab-pane fade">
			<div class="big-spacer clearfix"></div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2>Collaborating</h2>
				<div class="big-spacer clearfix"></div>
				<div class="col-xs-12 col-md-12 no-padd">
					<div class="box-image-left">
						<img class="image-left img-responsive" src="assets/img/landing_page/img-collaborating.png" alt="collaborating">
					</div>
					<p>
						Easier workplace; time saver, collaboration to get published
					</p>
					<div class="clearfix visible-xs"></div>
					<div class="list-style margin-left-list">
						<ul>
							<li>
								<i class="fa fa-circle"></i>
								2012 IEEE survey showed 85% of author's rated the top selection factor among journals to be journal reputation
							</li>
							<li><i class="fa fa-circle"></i>Closer integration of content with productivity tools and workflow systems for the discovery, management of content and collaboration with others within one suitelhub  </li>
							<li><i class="fa fa-circle"></i>Closer integration allows for an easier workplace for the authoring process  </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Features and Benefits </h4>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-left">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Opportunity to enable you to find others like yourself to help in the production of your paper(s) or research. </li>
							<li><i class="fa fa-circle"></i>Ability to organize, store, sharing of personal research library, manage, classify, categorize resulting  </li>
							<li><i class="fa fa-circle"></i>You can save time by managing your research co[lection: collaborating with others and finding new co-authors for new ideas to develop new papers in real lime </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-xs">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Creation of a virtual work space </li>
							<li><i class="fa fa-circle"></i>Development of global working groups for the publication development process, and adding new people to your work group as you progress through your publication development process. </li>
							<li><i class="fa fa-circle"></i>Maoris malesuada magna vel ligula consequat </li>
							<li><i class="fa fa-circle"></i>Proin vitae magna eget nisi pretium facilisis a sodales est. Null am in rises et lorem faucibus gravida </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Are you an IEEE Volunteer? </h4>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-left">
					<p>Build new relationships and conduct activitites using PPCT </p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm no-padd-xs">
					<a href="#" class="link-detailed"><i class="fa fa-arrow-right"></i> Find out how PPCT can assit Volunteers </a>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<h4>Google apps & attached services </h4>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-left">
					<div class="list-style">
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Lorem ipsum dolor vel facilisis libero</li>
							<li><i class="fa fa-circle"></i>Mauris malesuada magna vel ligula consequat</li>
							<li><i class="fa fa-circle"></i>Prom!, vitae magna eget nisi pretium faciiisis a </li>
							<li><i class="fa fa-circle"></i>Maecenas libero </li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm no-padd-xs">
					<a href="#" class="link-detailed"><i class="fa fa-arrow-right"></i> Learn more about Google apps & attached services  </a>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>
				<div class="col-xs-12 no-padd">
					<div class="col-xs-12 col-sm-8 col-md-8 no-padd">
						<h4>Ready to use it?</h4>
						<p>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. Mauris rutrum porttitor neque ac porttitor. In elementum quam ut imperdiet posuere. Sed lobortis, enim non laoreet porta, nulla felis eleifend quam, vitae lacinia mauris tortor sit amet erat. Nam euismod posuere nisi, at tincidunt ante porttitor vitae.</p>
					</div>
					<div class="sign-in col-xs-12 col-sm-4 col-md-4 no-padd">
						<div class="clearfix big-spacer"></div>
						<div class="clearfix big-spacer hidden-xs"></div>
						<a href="sign_in" class="btn">Sign In</a>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="experience-more tab-pane fade">
			<div class="big-spacer clearfix"></div>
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
				<a href=".overwiew-tab" class="back" data-toggle="tab">Back</a>
				<div class="spacer clearfix visible-xs"></div>
			</div>
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
				<div class="col-xs-12 col-md-6 no-padd-left">
					<div class="unified-experience">
						<div class="col-xs-12 col-sm-12 no-padd">
							<h2 class="pull-left">One Central Hub</h2>
							<div class="clearfix"></div>
							<p>PPCT unifies the IEEE experience for members, researchers, authors, and volunteers.  It also responds to many different screen configurations, so pick your device of choice.  (It looks best on retina screens or above)</p>
						</div>
						<div class="col-xs-12 col-sm-12 no-padd">
							<img class="img-responsive center-block" src="assets/img/landing_page/mobile-device.png" alt="Devices">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-xs-12 col-md-6 no-padd-right no-padd-xs no-padd-sm">
					<div class="list-style">
						<h4>Essentials for beginners</h4>
						<ul class="col-xs-12 no-padd-right">
							<li><i class="fa fa-circle"></i>Mauris gravida tortor lacus</li>
							<li><i class="fa fa-circle"></i>Vel congue urna porta ac</li>
							<li><i class="fa fa-circle"></i>Mauris porttitor odio vitae ipsum eleifend</li>
							<li><i class="fa fa-circle"></i>Vitae tempor mauris pretium</li>
							<li><i class="fa fa-circle"></i>Vestibulum massa quam</li>
							<li><i class="fa fa-circle"></i>Estibulum vel leo sed, viverra sagittis lectus.</li>
							<li><i class="fa fa-circle"></i>Curabitur in dictum purus, pharetra pretium nisl. Integer nec ornare ipsum.</li>
							<li><i class="fa fa-circle"></i>Proin in libero vestibulum, et imperdiet purus.</li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix big-spacer hidden-sm hidden-xs"></div>
				<div class="col-xs-12 no-padd">
					<div class="col-xs-12 col-md-8 no-padd">
						<h4>Ready to use it?</h4>
						<p>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. Mauris rutrum porttitor neque ac porttitor. In elementum quam ut imperdiet posuere. Sed lobortis, enim non laoreet porta, nulla felis eleifend quam, vitae lacinia mauris tortor sit amet erat. Nam euismod posuere nisi, at tincidunt ante porttitor vitae.</p>
					</div>
					<div class="sign-in col-xs-12 col-md-4 no-padd">
						<div class="clearfix big-spacer hidden-xs hidden-sm"></div>
						<div class="clearfix big-spacer hidden-xs hidden-sm"></div>
						<a href="sign_in" class="btn">Sign In</a>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="communities-more tab-pane fade">
			<div class="big-spacer clearfix"></div>
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
				<a href=".overwiew-tab" class="back" data-toggle="tab">Back</a>
				<div class="big-spacer clearfix visible-xs"></div>
			</div>
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
				<h2 class="pull-left">IEEE PPCT can help you:</h2>
				<div class="spacer clearfix"></div>
				<p>Link a Google account with your IEEE memberships to participate in private communities.</p>
				<p>Or join one of the hundreds of open communities.</p>
				<p>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. Mauris rutrum porttitor neque ac porttitor. In elementum quam ut imperdiet posuere. Sed lobortis, enim non laoreet porta, nulla felis eleifend quam, vitae lacinia mauris tortor sit amet erat. Nam euismod posuere nisi, at tincidunt ante porttitor vitae.</p>
				<div class="big-spacer clearfix"></div>

				<div class="grid row padd-right-xs">
					<% _.each(_.range(4), function(n,index) {%>
					<div class="col-xs-6 col-md-4 no-padd-right-xs">
						<div class="info-block">
							<div class="box-img">
								<div class="col-xs-6 col-sm-12 col-md-12 no-padd">
									<img class="img-responsive" src="assets/img/landing_page/ieee_oceanic_logo.jpg" alt="community logo">
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd">
								<div class="box-title">
									<p class="title-block">IEEE Oceanic Engineering</p>
								</div>
							</div>
							<div class="clearfix"></div>
							<p class="members-count"><span>11,900</span> members</p>
						</div>
					</div>
					<div class="col-xs-6 col-md-4 no-padd-right-xs">
						<div class="info-block">
							<div class="box-img">
								<div class="col-xs-6 col-sm-12 col-md-12 no-padd">
									<img class="img-responsive" src="assets/img/landing_page/ieee_magnetics_logo.jpg" alt="community logo">
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd">
								<div class="box-title">
									<p class="title-block">IEEE Magnetics Society</p>
								</div>
							</div>
							<div class="clearfix"></div>
							<p class="members-count"><span>10,100</span> members</p>
						</div>
					</div>
					<div class="col-xs-6 col-md-4 no-padd-right-xs">
						<div class="info-block">
							<div class="box-img">
								<div class="col-xs-6 col-sm-12 col-md-12 no-padd">
									<img class="img-responsive" src="assets/img/landing_page/ieee_photonics_logo.jpg" alt="community logo">
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd">
								<div class="box-title">
									<p class="title-block">IEEE Photonics Society </p>
								</div>
							</div>
							<div class="clearfix"></div>
							<p class="members-count"><span>11,900</span> members</p>
						</div>
					</div>
					<% }); %>
				</div>

			</div>
		</div>

		<div class="gapps-more tab-pane fade">
			<div class="big-spacer clearfix"></div>
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
				<a href=".overwiew-tab" class="back" data-toggle="tab">Back</a>
				<div class="big-spacer clearfix visible-xs"></div>
			</div>
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
				<h2 class="pull-left">Robust networking, collaborating, and authoring tools dedicated to technology professionals.</h2>
		        <div class="spacer clearfix"></div>
			<div class="col-xs-9 col-sm-9 col-md-10">
					<h4>Ut semper lacus eros, eu pharetra</h4>
					<p>Upsum varius eu. Vestibulum lacus enim, tristique sed tortor at, volutpat sollicitudin lacus. Mauris bibendum turpis a lacinia viverra. Morbi non dignissim felis, et imperdiet tortor. </p>
					<h4>Vivamus sed imperdiet risus, at vehicula massa</h4>
					<p>Aenean id lacinia massa. Nunc faucibus et nunc non blandit. Proin malesuada sed nisi id aliquam. Phasellus aliquet elit vel odio laoreet, ut imperdiet diam vulputate.</p>
					<h4 class="hidden-xs">Cras malesuada aliquam dignissim</h4>
					<p class="hidden-xs">Sed eleifend erat vel neque varius, in euismod metus rhoncus. Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio. Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida eros tortor, ut condimentum nunc sagittis nec. Phasellus iaculis semper sem et hendrerit. Aenean quis diam sit amet sapien lobortis egestas ut ut ipsum. Fusce egestas nisi et orci suscipit, sit amet ornare elit laoreet.</p>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-left no-padd-xs">
					<ul class="list-style">
						<li><i class="fa fa-circle"></i>Receive email at your very own @ieee.org address</li>
						<li><i class="fa fa-circle"></i>Create, share, and collaborate on documents</li>
						<li><i class="fa fa-circle"></i>Store research and other documents in 30GB of space</li>
						<li><i class="fa fa-circle"></i>Simultaneously edit drafts with other reviewers</li>
						<li><i class="fa fa-circle"></i>Connect with peers in member-only communities</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-right no-padd-xs">
					<ul class="list-style">
						<li><i class="fa fa-circle"></i>Enjoy instant messaging, screen sharing, and video chat</li>
						<li><i class="fa fa-circle"></i>Integrated with IEEE web, desctop, and mobile apps. Aenean quis diam sit amet sapien lobortis egestas ut ut ipsum</li>
						<li><i class="fa fa-circle"></i>Fusce egestas nisi et orci suscipit, sit amet ornare elit laoreet</li>
					</ul>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="col-xs-12 no-padd">
					<div class="col-xs-12 col-md-8 no-padd">
						<h4 class="ready-use">Ready to use it?</h4>
						<p>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. Mauris rutrum porttitor neque ac porttitor. In elementum quam ut imperdiet posuere. Sed lobortis, enim non laoreet porta, nulla felis eleifend quam, vitae lacinia mauris tortor sit amet erat. Nam euismod posuere nisi, at tincidunt ante porttitor vitae.</p>
					</div>
					<div class="sign-in col-xs-12 col-md-4 no-padd">
						<div class="clearfix big-spacer hidden-xs hidden-sm"></div>
						<div class="clearfix big-spacer hidden-xs hidden-sm"></div>
						<a href="sign_in" class="btn">Sign In</a>
					</div>
				</div>
			</div>
		</div>

		<div class="workspace-more tab-pane fade">
			<div class="big-spacer clearfix"></div>
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
				<a href=".overwiew-tab" class="back" data-toggle="tab">Back</a>
				<div class="big-spacer clearfix visible-xs"></div>
			</div>
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
				<h2 class="pull-left">Network. Collaborate. Create. Anywhere and anytime!</h2>
				<div class="spacer clearfix"></div>
				<div class="col-xs-3 col-sm-4 col-md-3 no-padd">
					<img class="img-responsive hidden-sm hidden-xs" src="assets/img/landing_page/workspace-1.png" alt="img">
					<img class="img-responsive hidden-md hidden-lg" src="assets/img/landing_page/workspace-2.png" alt="img">
				</div>

				<div class="col-xs-8 col-sm-8 col-md-9">
					<p>No need to download files, just run everything in the cloud.</p>
				</div>
				<div class=" col-xs-12 col-sm-8 col-md-9 no-padd-xs">
					<h4>Vivamus in nibh et nulla placerat rhoncus</h4>
					<p>Maecenas ut magna placerat, tincidunt est non, placerat dui. Integer nec dolor porta, bibendum metus tempus, suscipit lorem. Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. </p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 no-padd-sm no-padd-xs">
					<h4>Mauris rutrum porttitor neque ac porttitor</h4>
					<p>In elementum quam ut imperdiet posuere. Sed lobortis, enim non laoreet porta, nulla felis eleifend quam, vitae lacinia mauris tortor sit amet erat. Nam euismod posuere nisi, at tincidunt ante porttitor vitae. </p>
					<p>Pellentesque luctus condimentum nulla, in egestas velit vulputate quis. Morbi vitae turpis sed orci pretium viverra id a mi.</p>
				</div>

				<div class="clearfix big-spacer"></div>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-left no-padd-xs">
					<ul class="list-style">
						<li><i class="fa fa-circle"></i>Organize your research</li>
						<li><i class="fa fa-circle"></i>Import papers from other sources</li>
						<li><i class="fa fa-circle"></i>Search across online research library</li>
						<li><i class="fa fa-circle"></i>Submit manuscripts</li>
						<li><i class="fa fa-circle"></i>Receive IEEE subscriptions online</li>
						<li><i class="fa fa-circle"></i>Personalized recommendations</li>
						<li><i class="fa fa-circle"></i>Private research communities</li>
						<li><i class="fa fa-circle"></i>Shared documents</li>
						<li><i class="fa fa-circle"></i>Never worry about backups again</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 no-padd-right no-padd-xs">
					<ul class="list-style">
						<li><i class="fa fa-circle"></i>Aenean quis diam sit amet sapien lobortis </li>
						<li><i class="fa fa-circle"></i>Egestas ut ut ipsum. Fusce egestas nisi et orci </li>
						<li><i class="fa fa-circle"></i>Suscipit, sit amet ornare elit laoreet</li>
						<li><i class="fa fa-circle"></i>Mauris ullamcorper, tellus</li>
						<li><i class="fa fa-circle"></i>In dignissim tincidunt, arcu risus sodales felis</li>
						<li><i class="fa fa-circle"></i>Nec consequat nisl massa in dui. Sed at luctus risus. </li>
						<li><i class="fa fa-circle"></i>Nam eget auctor mauris, sit amet consectetur enim</li>
						<li><i class="fa fa-circle"></i>Nam varius turpis nibh, eget luctus justo pellentesque a</li>
					</ul>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="col-xs-12 no-padd">
					<div class="col-xs-12 col-md-8 no-padd">
						<h4 class="ready-use">Ready to use it?</h4>
						<p>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. Mauris rutrum porttitor neque ac porttitor. In elementum quam ut imperdiet posuere. Sed lobortis, enim non laoreet porta, nulla felis eleifend quam, vitae lacinia mauris tortor sit amet erat. Nam euismod posuere nisi, at tincidunt ante porttitor vitae.</p>
					</div>
					<div class="sign-in col-xs-12 col-md-4 no-padd">
						<div class="clearfix big-spacer hidden-xs hidden-sm"></div>
						<div class="clearfix big-spacer hidden-xs hidden-sm"></div>
						<a href="sign_in" class="btn">Sign In</a>
					</div>
				</div>
			</div>
		</div>

	</div>


		<div class="big-spacer clearfix"></div>
		<div class="big-spacer clearfix"></div>
	</div>
</div>
