<div id="landing-page-for">
	<div class="container no-padd">
		<div class="landing-page-bg visible-xs">
			<img class="img-responsive landing-page-promo-img" src="assets/img/landing_page/home_page_empty.jpg" alt="Sign in Banner">
			<div class="landing-page-promo col-xs-12 col-sm-5 col-md-4">
				<h1>Research, author, collaborate and network among experts all in one platform.</h1>
				<a href="sign_in" class="btn btn-info btn-sign-in">Sign in</a>
				<span>or</span>
				<a href="create_account" class="btn btn-info btn-create">Create a Free IEEE Account</a>
			</div>
			<ul class="landing-page-menu hidden-xs">
				<li><a href="#landingpage" class="active">Overview</a></li>
				<li><a href="#landingpage-formembers"    >For IEEE Members</a></li>
				<li><a href="#landingpage-forresearchers">For Researchers</a></li>
				<li><a href="#landingpage-forauthors"    >For Authors</a></li>
				<li><a href="#landingpage-forvolunteers" >For Volunteers</a></li>
			</ul>
		</div>
		<div class="navbar navbar-default navbar-landing">
			<div class="navbar-header">
				<!--<p class="visible-xs"><%= data.title %></p>-->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<%= data.title %><i class="fa fa-chevron-down"></i>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<!-- Nav tabs -->
				<ul class="nav navbar-nav">
					<li>                                                                <a href="#landingpage"               ><i class="fa fa-th-large"></i>Overview</a></li>
					<li class="<% if (data.view == 'formembers')     { %>active<% } %>"><a href="#landingpage-formembers"    ><i class="fa fa-trophy"></i>For Members</a></li>
					<li class="<% if (data.view == 'forresearchers') { %>active<% } %>"><a href="#landingpage-forresearchers"><i class="fa fa-flask"></i>For Researchers</a></li>
					<li class="<% if (data.view == 'forauthors')     { %>active<% } %>"><a href="#landingpage-forauthors"    ><i class="fa fa-book"></i>For Authors</a></li>
					<li class="<% if (data.view == 'forvolunteers')  { %>active<% } %>"><a href="#landingpage-forvolunteers" ><i class="fa fa-child"></i>For Volunteers</a></li>
				</ul>
			</div>
		</div>

		<!-- Tab panes -->
		<div class="tab-content padd">
			<div class="for-members     tab-pane<% if (data.view == 'formembers')     { %> active<% } %>" >
				<h2>For IEEE Members</h2>
				<div class="col-sm-12 no-padd">
					<div class="members">
						<div class="col-xs-12 col-sm-6 col-md-4 no-padd">
							<h4>Get an overview</h4>
							<div class="col-xs-6 col-sm-11 no-padd">
								<img class="img-responsive center-block" src="assets/img/landing_page/members.png" alt="img">
							</div>
							<div class="col-xs-6 col-sm-11 no-padd">
								<p class="txt-img">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis vehicula neque, in adipiscing et, nibh.</p>
							</div>
						</div>
						<div class="spacer clearfix visible-xs"></div>
						<div class="col-xs-12 col-sm-6 col-md-4 no-padd-xs">
							<h4>Essentials for beginners</h4>
							<p>Mauris gravida tortor lacus, vel congue urna porta ac. Mauris porttitor odio vitae ipsum eleifend. Vitae tempor mauris pretium. </p>
							<p>Vestibulum massa quam, vestibulum vel leo sed, <a href="#">viverra sagittis lectus</a>. Curabitur in dictum purus, pharetra pretium nisl. Integer nec ornare ipsum. </p>
							<p>Proin in libero vestibulum, et imperdiet purus.</p>
						</div>
						<div class="big-spacer clearfix visible-xs"></div>
						<div class="col-xs-12 col-sm-12 col-md-4 no-padd-xs no-padd-sm">
							<h4>Ready to use it? </h4>
							<div class="col-xs-12 col-sm-8 col-md-12 no-padd">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
								<p>Curabitur sodales lacinia condimentum. </p>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-12 no-padd">
								<div class="box-btn-signin">
									<a href="#" class="btn btn-sign-in">Sign in</a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="fundamentals">
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd">
							<div class="col-xs-12 col-sm-3 col-md-5 no-padd">
								<h2>Fundamentals <i class="fa fa-angle-right"></i></h2>
								<div class="col-sm-11 hidden-xs no-padd-left">
									<img class="img-responsive center-block" src="assets/img/landing_page/m-fund.png" alt="img">
								</div>
							</div>
							<div class="col-xs-12 col-sm-9 col-md-7 no-padd-xs">
								<h4>Nunc placerat </h4>
								<p>Pulvinar nibh a fringilla. Morbi ac sem nec sapien tincidunt iaculis. </p>
								<h4>Cras malesuada aliquam</h4>
								<p>Dignissim sed eleifend erat vel neque varius, in euismod metus rhoncus. </p>
								<h4>Quisque tellus felis</h4>
								<p>Aliquet et leo sed, ultrices iaculis odio. Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm  no-padd-xs">
							<div class="col-xs-12 col-sm-6 col-md-6  no-padd-xs no-padd-sm">
								<h4>Eros tortor</h4>
								<p>Ut condimentum nunc sagittis nec. Phasellus iaculis semper sem et hendrerit. Vestibulum eleifend magna sed justo porta ultrices. </p>
								<h4>Ut scelerisque massa </h4>
								<p>Vest, quis volutpat purus sagittis ac. Sed molestie dolor odio, vitae porttitor mi iaculis et.</p>
								<h4>Nullam faucibus</h4>
								<p>Scelerisque justo, vel luctus mauris hendrerit id. Suspendisse id neque urna. Fusce convallis neque dolor.</p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 no-padd-xs">
								<h4>Commodo</h4>
								<p>Egestas turpis placerat vitae. Suspendisse scelerisque nulla non nisl facilisis pretium. </p>
								<h4>Ut ac diam ut felis tristique aliquet</h4>
								<p>Sed eu egestas arcu, quis adipiscing lectus. Integer vulputate, neque eu suscipit hendrerit, lorem nunc suscipit quam, </p>
								<h4>Vel ullamcorper urna nisi </h4>
								<p>in dui. Quisque malesuada tincidunt urna nam porttitor.</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="road-map">
						<h2>What’s on the road map</h2>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd">
							<div class="hidden-xs col-sm-3 col-md-5 no-padd-left">
								<div class="col-sm-11 no-padd">
									<img class="img-responsive center-block" src="assets/img/landing_page/m-map.png" alt="img">
								</div>
							</div>
							<div class="col-xs-12 col-sm-9 col-md-7 no-padd-xs">
								<h4>Aenean quis diam sit amet sapien lobortis</h4>
								<p>egestas ut ut ipsum. Fusce egestas nisi et orci suscipit, sit amet ornare elit laoreet. Mauris ullamcorper, tellus in dignissim tincidunt, arcu risus sodales felis, nec consequat nisl massa. </p>
							</div>
						</div>
						<div class="spacer clearfix visible-sm"></div>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm no-padd-xs">
							<div class="col-xs-12 col-sm-6 col-md-6  no-padd-xs  no-padd-sm">
								<h4>Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio. </h4>
								<p>Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida eros tortor, ut condimentum nunc sagittis nec. Phasellus iaculis semper sem et hendrerit.  </p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6  no-padd-xs">
								<h4>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. </h4>
								<p>Mauris rutrum porttitor neque ac porttitor. In elementum quam ut imperdiet posuere. Sed lobortis, enim non laoreet. </p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="projects-ppct">
						<h2>Projects empowered by PPCT</h2>
						<div class="col-xs-12 col-sm-4 col-md-4 no-padd">
							<div class="col-xs-5 col-sm-12 col-md-12 no-padd-xs">
								<img class="img-responsive center-block" src="assets/img/landing_page/m-project-1.png" alt="img">
							</div>
							<div class="col-xs-7 col-sm-12 col-md-12">
								<h4>Aenean quis diam sit amet sapien lobortis</h4>
							</div>
							<div class="spacer clearfix visible-xs"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd-xs">
								<p>egestas ut ut ipsum. Fusce egestas nisi et orci suscipit, sit amet ornare elit laoreet. Mauris ullamcorper, tellus in dignissim.</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 no-padd">
							<div class="col-xs-5 col-sm-12 col-md-12 no-padd-xs">
								<img class="img-responsive center-block" src="assets/img/landing_page/m-project-2.png" alt="img">
							</div>
							<div class="col-xs-7 col-sm-12 col-md-12">
								<h4>Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio. </h4>
							</div>
							<div class="spacer clearfix visible-xs"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd-xs">
								<p>Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida eros tortor, ut nunc sagittis nec. Phasellus iaculis semper sem et hendrerit. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 no-padd">
							<div class="col-xs-5 col-sm-12 col-md-12 no-padd-xs">
								<img class="img-responsive center-block" src="assets/img/landing_page/m-project-3.png" alt="img">
							</div>
							<div class="col-xs-7 col-sm-12 col-md-12">
								<h4>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. </h4>
							</div>
							<div class="spacer clearfix visible-xs"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd-xs">
								<p>Mauris rutrum porttitor neque ac porttitor. In elementum quam ut posuere. Sed lobortis, enim non laoreet.</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="case-studies">
						<h2>Case studies</h2>
						<div class="col-xs-4 col-sm-3 col-md-2 no-padd-left hidden-xs">
							<img class="img-responsive center-block" src="assets/img/landing_page/m-case.png" alt="img">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-10 no-padd-xs">
							<h4>Vestibulum massa quam, vestibulum vel leo sed, viverra sagittis lectus</h4>
							<p>Curabitur in dictum purus, pharetra pretium nisl. Integer nec ornare ipsum. Ut semper lacus eros, eu pharetra ipsum varius eu. Vestibulum lacus enim, tristique sed tortor at, volutpat sollicitudin lacus. Mauris bibendum turpis a lacinia viverra. Morbi non dignissim felis, et imperdiet tortor. Vivamus sed imperdiet risus, at vehicula massa. Aenean id lacinia massa. Nunc faucibus et nunc non blandit. Proin malesuada sed nisi id aliquam. Phasellus aliquet elit vel odio laoreet, ut imperdiet diam vulputate. Donec luctus nulla sit amet commodo viverra. Suspendisse in lorem mattis nibh mollis tincidunt.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="for-help">
						<h2>Looking for help?</h2>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd-left">
							<div class="col-xs-2 col-sm-1 col-md-2 no-padd-right">
								<i class="fa fa-question-circle"></i>
							</div>
							<div class="col-xs-10 col-sm-10">
								<p class="help-txt">Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio. Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida eros tortor, ut condimentum nunc sagittis nec. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6">
							<p>
								<a href="#">Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio.</a>
								<a href="#">Nulla ultrices lectus nunc, a euismod magna pharetra at.</a>
								<a href="#">Maecenas gravida eros tortor, ut condimentum nunc.</a>
								<a href="#">Sagittis nec. Phasellus iaculis semper sem et hendrerit. </a>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div class="for-researchers tab-pane<% if (data.view == 'forresearchers') { %> active<% } %>" >
				<h2>For Researchers</h2>
				<div class="col-sm-12 no-padd">
					<div class="members">
						<div class="col-xs-12 col-sm-6 col-md-4 no-padd">
							<h4>Get an overview</h4>
							<div class="col-xs-6 col-sm-11 no-padd">
								<img class="img-responsive center-block" src="assets/img/landing_page/researches.png" alt="img">
							</div>
							<div class="col-xs-6 col-sm-11 no-padd">
								<p class="txt-img">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis vehicula neque, in adipiscing et, nibh.</p>
							</div>
						</div>
						<div class="spacer clearfix visible-xs"></div>
						<div class="col-xs-12 col-sm-6 col-md-4 no-padd-xs">
							<h4>Essentials for beginners</h4>
							<p>Mauris gravida tortor lacus, vel congue urna porta ac. Mauris porttitor odio vitae ipsum eleifend. Vitae tempor mauris pretium. </p>
							<p>Vestibulum massa quam, vestibulum vel leo sed, <a href="#">viverra sagittis lectus</a>. Curabitur in dictum purus, pharetra pretium nisl. Integer nec ornare ipsum. </p>
							<p>Proin in libero vestibulum, et imperdiet purus.</p>
						</div>
						<div class="big-spacer clearfix visible-xs"></div>
						<div class="col-xs-12 col-sm-12 col-md-4 no-padd-xs no-padd-sm">
							<h4>Ready to use it? </h4>
							<div class="col-xs-12 col-sm-8 col-md-12 no-padd">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
								<p>Curabitur sodales lacinia condimentum. </p>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-12 no-padd">
								<div class="box-btn-signin">
									<a href="#" class="btn btn-sign-in">Sign in</a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="fundamentals">
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd">
							<div class="col-xs-12 col-sm-3 col-md-5 no-padd">
								<h2>Fundamentals <i class="fa fa-angle-right"></i></h2>
								<div class="col-sm-11 hidden-xs no-padd-left">
									<img class="img-responsive center-block" src="assets/img/landing_page/r-fund.png" alt="img">
								</div>
							</div>
							<div class="col-xs-12 col-sm-9 col-md-7 no-padd-xs">
								<h4>Nunc placerat </h4>
								<p>Pulvinar nibh a fringilla. Morbi ac sem nec sapien tincidunt iaculis. </p>
								<h4>Cras malesuada aliquam</h4>
								<p>Dignissim sed eleifend erat vel neque varius, in euismod metus rhoncus. </p>
								<h4>Quisque tellus felis</h4>
								<p>Aliquet et leo sed, ultrices iaculis odio. Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm  no-padd-xs">
							<div class="col-xs-12 col-sm-6 col-md-6  no-padd-xs no-padd-sm">
								<h4>Eros tortor</h4>
								<p>Ut condimentum nunc sagittis nec. Phasellus iaculis semper sem et hendrerit. Vestibulum eleifend magna sed justo porta ultrices. </p>
								<h4>Ut scelerisque massa </h4>
								<p>Vest, quis volutpat purus sagittis ac. Sed molestie dolor odio, vitae porttitor mi iaculis et.</p>
								<h4>Nullam faucibus</h4>
								<p>Scelerisque justo, vel luctus mauris hendrerit id. Suspendisse id neque urna. Fusce convallis neque dolor.</p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 no-padd-xs">
								<h4>Commodo</h4>
								<p>Egestas turpis placerat vitae. Suspendisse scelerisque nulla non nisl facilisis pretium. </p>
								<h4>Ut ac diam ut felis tristique aliquet</h4>
								<p>Sed eu egestas arcu, quis adipiscing lectus. Integer vulputate, neque eu suscipit hendrerit, lorem nunc suscipit quam, </p>
								<h4>Vel ullamcorper urna nisi </h4>
								<p>in dui. Quisque malesuada tincidunt urna nam porttitor.</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="road-map">
						<h2>What’s on the road map</h2>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd">
							<div class="hidden-xs col-sm-3 col-md-5 no-padd-left">
								<div class="col-sm-11 no-padd">
									<img class="img-responsive center-block" src="assets/img/landing_page/r-map.png" alt="img">
								</div>
							</div>
							<div class="col-xs-12 col-sm-9 col-md-7 no-padd-xs">
								<h4>Aenean quis diam sit amet sapien lobortis</h4>
								<p>egestas ut ut ipsum. Fusce egestas nisi et orci suscipit, sit amet ornare elit laoreet. Mauris ullamcorper, tellus in dignissim tincidunt, arcu risus sodales felis, nec consequat nisl massa. </p>
							</div>
						</div>
						<div class="spacer clearfix visible-sm"></div>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm no-padd-xs">
							<div class="col-xs-12 col-sm-6 col-md-6  no-padd-xs  no-padd-sm">
								<h4>Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio. </h4>
								<p>Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida eros tortor, ut condimentum nunc sagittis nec. Phasellus iaculis semper sem et hendrerit.  </p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6  no-padd-xs">
								<h4>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. </h4>
								<p>Mauris rutrum porttitor neque ac porttitor. In elementum quam ut imperdiet posuere. Sed lobortis, enim non laoreet. </p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="projects-ppct">
						<h2>Projects empowered by PPCT</h2>
						<div class="col-xs-12 col-sm-4 col-md-4 no-padd">
							<div class="col-xs-5 col-sm-12 col-md-12 no-padd-xs">
								<img class="img-responsive center-block" src="assets/img/landing_page/r-project-1.png" alt="img">
							</div>
							<div class="col-xs-7 col-sm-12 col-md-12">
								<h4>Aenean quis diam sit amet sapien lobortis</h4>
							</div>
							<div class="spacer clearfix visible-xs"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd-xs">
								<p>egestas ut ut ipsum. Fusce egestas nisi et orci suscipit, sit amet ornare elit laoreet. Mauris ullamcorper, tellus in dignissim.</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 no-padd">
							<div class="col-xs-5 col-sm-12 col-md-12 no-padd-xs">
								<img class="img-responsive center-block" src="assets/img/landing_page/r-project-2.png" alt="img">
							</div>
							<div class="col-xs-7 col-sm-12 col-md-12">
								<h4>Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio. </h4>
							</div>
							<div class="spacer clearfix visible-xs"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd-xs">
								<p>Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida eros tortor, ut nunc sagittis nec. Phasellus iaculis semper sem et hendrerit. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 no-padd">
							<div class="col-xs-5 col-sm-12 col-md-12 no-padd-xs">
								<img class="img-responsive center-block" src="assets/img/landing_page/r-project-3.png" alt="img">
							</div>
							<div class="col-xs-7 col-sm-12 col-md-12">
								<h4>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. </h4>
							</div>
							<div class="spacer clearfix visible-xs"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd-xs">
								<p>Mauris rutrum porttitor neque ac porttitor. In elementum quam ut posuere. Sed lobortis, enim non laoreet.</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="case-studies">
						<h2>Case studies</h2>
						<div class="col-xs-4 col-sm-3 col-md-2 no-padd-left hidden-xs">
							<img class="img-responsive center-block" src="assets/img/landing_page/r-case.png" alt="img">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-10 no-padd-xs">
							<h4>Vestibulum massa quam, vestibulum vel leo sed, viverra sagittis lectus</h4>
							<p>Curabitur in dictum purus, pharetra pretium nisl. Integer nec ornare ipsum. Ut semper lacus eros, eu pharetra ipsum varius eu. Vestibulum lacus enim, tristique sed tortor at, volutpat sollicitudin lacus. Mauris bibendum turpis a lacinia viverra. Morbi non dignissim felis, et imperdiet tortor. Vivamus sed imperdiet risus, at vehicula massa. Aenean id lacinia massa. Nunc faucibus et nunc non blandit. Proin malesuada sed nisi id aliquam. Phasellus aliquet elit vel odio laoreet, ut imperdiet diam vulputate. Donec luctus nulla sit amet commodo viverra. Suspendisse in lorem mattis nibh mollis tincidunt.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="for-help">
						<h2>Looking for help?</h2>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd-left">
							<div class="col-xs-2 col-sm-1 col-md-2 no-padd-right">
								<i class="fa fa-question-circle"></i>
							</div>
							<div class="col-xs-10 col-sm-10">
								<p class="help-txt">Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio. Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida eros tortor, ut condimentum nunc sagittis nec. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6">
							<p>
								<a href="#">Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio.</a>
								<a href="#">Nulla ultrices lectus nunc, a euismod magna pharetra at.</a>
								<a href="#">Maecenas gravida eros tortor, ut condimentum nunc.</a>
								<a href="#">Sagittis nec. Phasellus iaculis semper sem et hendrerit. </a>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="for-authors     tab-pane<% if (data.view == 'forauthors')     { %> active<% } %>" >
				<h2>For Authors</h2>
				<div class="col-sm-12 no-padd">
					<div class="members">
						<div class="col-xs-12 col-sm-6 col-md-4 no-padd">
							<h4>Get an overview</h4>
							<div class="col-xs-6 col-sm-11 no-padd">
								<img class="img-responsive center-block" src="assets/img/landing_page/author.png" alt="img">
							</div>
							<div class="col-xs-6 col-sm-11 no-padd">
								<p class="txt-img">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis vehicula neque, in adipiscing et, nibh.</p>
							</div>
						</div>
						<div class="spacer clearfix visible-xs"></div>
						<div class="col-xs-12 col-sm-6 col-md-4 no-padd-xs">
							<h4>Essentials for beginners</h4>
							<p>Mauris gravida tortor lacus, vel congue urna porta ac. Mauris porttitor odio vitae ipsum eleifend. Vitae tempor mauris pretium. </p>
							<p>Vestibulum massa quam, vestibulum vel leo sed, <a href="#">viverra sagittis lectus</a>. Curabitur in dictum purus, pharetra pretium nisl. Integer nec ornare ipsum. </p>
							<p>Proin in libero vestibulum, et imperdiet purus.</p>
						</div>
						<div class="big-spacer clearfix visible-xs"></div>
						<div class="col-xs-12 col-sm-12 col-md-4 no-padd-xs no-padd-sm">
							<h4>Ready to use it? </h4>
							<div class="col-xs-12 col-sm-8 col-md-12 no-padd">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
								<p>Curabitur sodales lacinia condimentum. </p>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-12 no-padd">
								<div class="box-btn-signin">
									<a href="#" class="btn btn-sign-in">Sign in</a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="fundamentals">
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd">
							<div class="col-xs-12 col-sm-3 col-md-5 no-padd">
								<h2>Fundamentals <i class="fa fa-angle-right"></i></h2>
								<div class="col-sm-11 hidden-xs no-padd-left">
									<img class="img-responsive center-block" src="assets/img/landing_page/a-fund.png" alt="img">
								</div>
							</div>
							<div class="col-xs-12 col-sm-9 col-md-7 no-padd-xs">
								<h4>Nunc placerat </h4>
								<p>Pulvinar nibh a fringilla. Morbi ac sem nec sapien tincidunt iaculis. </p>
								<h4>Cras malesuada aliquam</h4>
								<p>Dignissim sed eleifend erat vel neque varius, in euismod metus rhoncus. </p>
								<h4>Quisque tellus felis</h4>
								<p>Aliquet et leo sed, ultrices iaculis odio. Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm  no-padd-xs">
							<div class="col-xs-12 col-sm-6 col-md-6  no-padd-xs no-padd-sm">
								<h4>Eros tortor</h4>
								<p>Ut condimentum nunc sagittis nec. Phasellus iaculis semper sem et hendrerit. Vestibulum eleifend magna sed justo porta ultrices. </p>
								<h4>Ut scelerisque massa </h4>
								<p>Vest, quis volutpat purus sagittis ac. Sed molestie dolor odio, vitae porttitor mi iaculis et.</p>
								<h4>Nullam faucibus</h4>
								<p>Scelerisque justo, vel luctus mauris hendrerit id. Suspendisse id neque urna. Fusce convallis neque dolor.</p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 no-padd-xs">
								<h4>Commodo</h4>
								<p>Egestas turpis placerat vitae. Suspendisse scelerisque nulla non nisl facilisis pretium. </p>
								<h4>Ut ac diam ut felis tristique aliquet</h4>
								<p>Sed eu egestas arcu, quis adipiscing lectus. Integer vulputate, neque eu suscipit hendrerit, lorem nunc suscipit quam, </p>
								<h4>Vel ullamcorper urna nisi </h4>
								<p>in dui. Quisque malesuada tincidunt urna nam porttitor.</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="road-map">
						<h2>What’s on the road map</h2>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd">
							<div class="hidden-xs col-sm-3 col-md-5 no-padd-left">
								<div class="col-sm-11 no-padd">
									<img class="img-responsive center-block" src="assets/img/landing_page/a-map.png" alt="img">
								</div>
							</div>
							<div class="col-xs-12 col-sm-9 col-md-7 no-padd-xs">
								<h4>Aenean quis diam sit amet sapien lobortis</h4>
								<p>egestas ut ut ipsum. Fusce egestas nisi et orci suscipit, sit amet ornare elit laoreet. Mauris ullamcorper, tellus in dignissim tincidunt, arcu risus sodales felis, nec consequat nisl massa. </p>
							</div>
						</div>
						<div class="spacer clearfix visible-sm"></div>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm no-padd-xs">
							<div class="col-xs-12 col-sm-6 col-md-6  no-padd-xs  no-padd-sm">
								<h4>Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio. </h4>
								<p>Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida eros tortor, ut condimentum nunc sagittis nec. Phasellus iaculis semper sem et hendrerit.  </p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6  no-padd-xs">
								<h4>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. </h4>
								<p>Mauris rutrum porttitor neque ac porttitor. In elementum quam ut imperdiet posuere. Sed lobortis, enim non laoreet. </p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="projects-ppct">
						<h2>Projects empowered by PPCT</h2>
						<div class="col-xs-12 col-sm-4 col-md-4 no-padd">
							<div class="col-xs-5 col-sm-12 col-md-12 no-padd-xs">
								<img class="img-responsive center-block" src="assets/img/landing_page/a-project-1.png" alt="img">
							</div>
							<div class="col-xs-7 col-sm-12 col-md-12">
								<h4>Aenean quis diam sit amet sapien lobortis</h4>
							</div>
							<div class="spacer clearfix visible-xs"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd-xs">
								<p>egestas ut ut ipsum. Fusce egestas nisi et orci suscipit, sit amet ornare elit laoreet. Mauris ullamcorper, tellus in dignissim.</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 no-padd">
							<div class="col-xs-5 col-sm-12 col-md-12 no-padd-xs">
								<img class="img-responsive center-block" src="assets/img/landing_page/a-project-2.png" alt="img">
							</div>
							<div class="col-xs-7 col-sm-12 col-md-12">
								<h4>Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio. </h4>
							</div>
							<div class="spacer clearfix visible-xs"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd-xs">
								<p>Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida eros tortor, ut nunc sagittis nec. Phasellus iaculis semper sem et hendrerit. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 no-padd">
							<div class="col-xs-5 col-sm-12 col-md-12 no-padd-xs">
								<img class="img-responsive center-block" src="assets/img/landing_page/a-project-3.png" alt="img">
							</div>
							<div class="col-xs-7 col-sm-12 col-md-12">
								<h4>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. </h4>
							</div>
							<div class="spacer clearfix visible-xs"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd-xs">
								<p>Mauris rutrum porttitor neque ac porttitor. In elementum quam ut posuere. Sed lobortis, enim non laoreet.</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="case-studies">
						<h2>Case studies</h2>
						<div class="col-xs-4 col-sm-3 col-md-2 no-padd-left hidden-xs">
							<img class="img-responsive center-block" src="assets/img/landing_page/a-case.png" alt="img">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-10 no-padd-xs">
							<h4>Vestibulum massa quam, vestibulum vel leo sed, viverra sagittis lectus</h4>
							<p>Curabitur in dictum purus, pharetra pretium nisl. Integer nec ornare ipsum. Ut semper lacus eros, eu pharetra ipsum varius eu. Vestibulum lacus enim, tristique sed tortor at, volutpat sollicitudin lacus. Mauris bibendum turpis a lacinia viverra. Morbi non dignissim felis, et imperdiet tortor. Vivamus sed imperdiet risus, at vehicula massa. Aenean id lacinia massa. Nunc faucibus et nunc non blandit. Proin malesuada sed nisi id aliquam. Phasellus aliquet elit vel odio laoreet, ut imperdiet diam vulputate. Donec luctus nulla sit amet commodo viverra. Suspendisse in lorem mattis nibh mollis tincidunt.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="for-help">
						<h2>Looking for help?</h2>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd-left">
							<div class="col-xs-2 col-sm-1 col-md-2 no-padd-right">
								<i class="fa fa-question-circle"></i>
							</div>
							<div class="col-xs-10 col-sm-10">
								<p class="help-txt">Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio. Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida eros tortor, ut condimentum nunc sagittis nec. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6">
							<p>
								<a href="#">Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio.</a>
								<a href="#">Nulla ultrices lectus nunc, a euismod magna pharetra at.</a>
								<a href="#">Maecenas gravida eros tortor, ut condimentum nunc.</a>
								<a href="#">Sagittis nec. Phasellus iaculis semper sem et hendrerit. </a>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="for-volunteers  tab-pane<% if (data.view == 'forvolunteers')  { %> active<% } %>" >
				<h2>For Volunteers</h2>
				<div class="col-sm-12 no-padd">
					<div class="members">
						<div class="col-xs-12 col-sm-6 col-md-4 no-padd">
							<h4>Get an overview</h4>
							<div class="col-xs-6 col-sm-11 no-padd">
								<img class="img-responsive center-block" src="assets/img/landing_page/volunteers.png" alt="img">
							</div>
							<div class="col-xs-6 col-sm-11 no-padd">
								<p class="txt-img">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis vehicula neque, in adipiscing et, nibh.</p>
							</div>
						</div>
						<div class="spacer clearfix visible-xs"></div>
						<div class="col-xs-12 col-sm-6 col-md-4 no-padd-xs">
							<h4>Essentials for beginners</h4>
							<p>Mauris gravida tortor lacus, vel congue urna porta ac. Mauris porttitor odio vitae ipsum eleifend. Vitae tempor mauris pretium. </p>
							<p>Vestibulum massa quam, vestibulum vel leo sed, <a href="#">viverra sagittis lectus</a>. Curabitur in dictum purus, pharetra pretium nisl. Integer nec ornare ipsum. </p>
							<p>Proin in libero vestibulum, et imperdiet purus.</p>
						</div>
						<div class="big-spacer clearfix visible-xs"></div>
						<div class="col-xs-12 col-sm-12 col-md-4 no-padd-xs no-padd-sm">
							<h4>Ready to use it? </h4>
							<div class="col-xs-12 col-sm-8 col-md-12 no-padd">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
								<p>Curabitur sodales lacinia condimentum. </p>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-12 no-padd">
								<div class="box-btn-signin">
									<a href="#" class="btn btn-sign-in">Sign in</a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="fundamentals">
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd">
							<div class="col-xs-12 col-sm-3 col-md-5 no-padd">
								<h2>Fundamentals <i class="fa fa-angle-right"></i></h2>
								<div class="col-sm-11 hidden-xs no-padd-left">
									<img class="img-responsive center-block" src="assets/img/landing_page/v-fund.png" alt="img">
								</div>
							</div>
							<div class="col-xs-12 col-sm-9 col-md-7 no-padd-xs">
								<h4>Nunc placerat </h4>
								<p>Pulvinar nibh a fringilla. Morbi ac sem nec sapien tincidunt iaculis. </p>
								<h4>Cras malesuada aliquam</h4>
								<p>Dignissim sed eleifend erat vel neque varius, in euismod metus rhoncus. </p>
								<h4>Quisque tellus felis</h4>
								<p>Aliquet et leo sed, ultrices iaculis odio. Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm  no-padd-xs">
							<div class="col-xs-12 col-sm-6 col-md-6  no-padd-xs no-padd-sm">
								<h4>Eros tortor</h4>
								<p>Ut condimentum nunc sagittis nec. Phasellus iaculis semper sem et hendrerit. Vestibulum eleifend magna sed justo porta ultrices. </p>
								<h4>Ut scelerisque massa </h4>
								<p>Vest, quis volutpat purus sagittis ac. Sed molestie dolor odio, vitae porttitor mi iaculis et.</p>
								<h4>Nullam faucibus</h4>
								<p>Scelerisque justo, vel luctus mauris hendrerit id. Suspendisse id neque urna. Fusce convallis neque dolor.</p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 no-padd-xs">
								<h4>Commodo</h4>
								<p>Egestas turpis placerat vitae. Suspendisse scelerisque nulla non nisl facilisis pretium. </p>
								<h4>Ut ac diam ut felis tristique aliquet</h4>
								<p>Sed eu egestas arcu, quis adipiscing lectus. Integer vulputate, neque eu suscipit hendrerit, lorem nunc suscipit quam, </p>
								<h4>Vel ullamcorper urna nisi </h4>
								<p>in dui. Quisque malesuada tincidunt urna nam porttitor.</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="road-map">
						<h2>What’s on the road map</h2>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd">
							<div class="hidden-xs col-sm-3 col-md-5 no-padd-left">
								<div class="col-sm-11 no-padd">
									<img class="img-responsive center-block" src="assets/img/landing_page/v-map.png" alt="img">
								</div>
							</div>
							<div class="col-xs-12 col-sm-9 col-md-7 no-padd-xs">
								<h4>Aenean quis diam sit amet sapien lobortis</h4>
								<p>egestas ut ut ipsum. Fusce egestas nisi et orci suscipit, sit amet ornare elit laoreet. Mauris ullamcorper, tellus in dignissim tincidunt, arcu risus sodales felis, nec consequat nisl massa. </p>
							</div>
						</div>
						<div class="spacer clearfix visible-sm"></div>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd-sm no-padd-xs">
							<div class="col-xs-12 col-sm-6 col-md-6  no-padd-xs  no-padd-sm">
								<h4>Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio. </h4>
								<p>Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida eros tortor, ut condimentum nunc sagittis nec. Phasellus iaculis semper sem et hendrerit.  </p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6  no-padd-xs">
								<h4>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. </h4>
								<p>Mauris rutrum porttitor neque ac porttitor. In elementum quam ut imperdiet posuere. Sed lobortis, enim non laoreet. </p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="projects-ppct">
						<h2>Projects empowered by PPCT</h2>
						<div class="col-xs-12 col-sm-4 col-md-4 no-padd">
							<div class="col-xs-5 col-sm-12 col-md-12 no-padd-xs">
								<img class="img-responsive center-block" src="assets/img/landing_page/v-project-1.png" alt="img">
							</div>
							<div class="col-xs-7 col-sm-12 col-md-12">
								<h4>Aenean quis diam sit amet sapien lobortis</h4>
							</div>
							<div class="spacer clearfix visible-xs"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd-xs">
								<p>egestas ut ut ipsum. Fusce egestas nisi et orci suscipit, sit amet ornare elit laoreet. Mauris ullamcorper, tellus in dignissim.</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 no-padd">
							<div class="col-xs-5 col-sm-12 col-md-12 no-padd-xs">
								<img class="img-responsive center-block" src="assets/img/landing_page/v-project-2.png" alt="img">
							</div>
							<div class="col-xs-7 col-sm-12 col-md-12">
								<h4>Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio. </h4>
							</div>
							<div class="spacer clearfix visible-xs"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd-xs">
								<p>Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida eros tortor, ut nunc sagittis nec. Phasellus iaculis semper sem et hendrerit. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 no-padd">
							<div class="col-xs-5 col-sm-12 col-md-12 no-padd-xs">
								<img class="img-responsive center-block" src="assets/img/landing_page/v-project-3.png" alt="img">
							</div>
							<div class="col-xs-7 col-sm-12 col-md-12">
								<h4>Fusce facilisis justo eu metus ullamcorper, vel posuere tellus egestas. </h4>
							</div>
							<div class="spacer clearfix visible-xs"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padd-xs">
								<p>Mauris rutrum porttitor neque ac porttitor. In elementum quam ut posuere. Sed lobortis, enim non laoreet.</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="case-studies">
						<h2>Case studies</h2>
						<div class="col-xs-4 col-sm-3 col-md-2 no-padd-left hidden-xs">
							<img class="img-responsive center-block" src="assets/img/landing_page/v-case.png" alt="img">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-10 no-padd-xs">
							<h4>Vestibulum massa quam, vestibulum vel leo sed, viverra sagittis lectus</h4>
							<p>Curabitur in dictum purus, pharetra pretium nisl. Integer nec ornare ipsum. Ut semper lacus eros, eu pharetra ipsum varius eu. Vestibulum lacus enim, tristique sed tortor at, volutpat sollicitudin lacus. Mauris bibendum turpis a lacinia viverra. Morbi non dignissim felis, et imperdiet tortor. Vivamus sed imperdiet risus, at vehicula massa. Aenean id lacinia massa. Nunc faucibus et nunc non blandit. Proin malesuada sed nisi id aliquam. Phasellus aliquet elit vel odio laoreet, ut imperdiet diam vulputate. Donec luctus nulla sit amet commodo viverra. Suspendisse in lorem mattis nibh mollis tincidunt.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-12 no-padd">
					<div class="for-help">
						<h2>Looking for help?</h2>
						<div class="col-xs-12 col-sm-12 col-md-6 no-padd-left">
							<div class="col-xs-2 col-sm-1 col-md-2 no-padd-right">
								<i class="fa fa-question-circle"></i>
							</div>
							<div class="col-xs-10 col-sm-10">
								<p class="help-txt">Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio. Nulla ultrices lectus nunc, a euismod magna pharetra at. Maecenas gravida eros tortor, ut condimentum nunc sagittis nec. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6">
							<p>
								<a href="#">Quisque tellus felis, aliquet et leo sed, ultrices iaculis odio.</a>
								<a href="#">Nulla ultrices lectus nunc, a euismod magna pharetra at.</a>
								<a href="#">Maecenas gravida eros tortor, ut condimentum nunc.</a>
								<a href="#">Sagittis nec. Phasellus iaculis semper sem et hendrerit. </a>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		</div>
</div>