<div class="dropdown-menu header-notifications">
	<div class="dropdown-arrow"></div>
	<div class="section connect-notification">
		<i class="fa fa-circle notification-indicator active"></i>
		<div class="table">
			<div class="cell img">
				<img src="assets/img/profile/avatars/person-13.png" alt="James Myers">
			</div>
			<div class="cell description">
				<p>
					<a href="#">James Myers</a> wants to connect with you.
				</p>
				<span><i class="fa fa-user"></i>53 minutes ago</span>
			</div>
			<div class="cell action">
				<div class="action-first">
					<a href="#" class="btn btn-accept">Accept</a>
					<div class="dropdown dropdown-submenu">
						<a href="#" data-toggle="dropdown" class="btn btn-decline dropdown-toggle">Decline <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="fa fa-ban"></i>Save for later</a></li>
							<li><a href="#" class="remove-user"><i class="fa fa-times"></i>Remove</a></li>
						</ul>
					</div>
				</div>
				<div class="action-second">
					<a href="#" class="btn btn-undo">Undo</a>
					<a href="#" class="btn btn-block-user">Block</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="section accepted-invations">
		<i class="fa fa-circle notification-indicator active"></i>
		<p><a href="#">Clarence Parker</a> and 5 others accepted your invitations.</p>
		<ul>
			<% _.each(data, function(item) { %>
				<li>
					<a href="#profile-searchresult">
						<img src="assets/img/profile/avatars/<%= item.image %>" alt="avatar">
					</a>
				</li>
			<% }); %>
		</ul>
		<div class="clearfix"></div>
		<span><i class="fa fa-check"></i>Yesterday at 3:50 PM</span>
		<div class="clearfix"></div>
	</div>
	<div class="section also-joined">
		<i class="fa fa-circle notification-indicator active"></i>
		<p><a href="#">Kathleen Price</a> and <a href="#">Kenneth Daniels</a> also joined <a href="#">MTT-S Society</a>.</p>
		<ul>
			<li>
				<a href="#profile-searchresult">
					<img src="assets/img/profile/avatars/person-4.png" alt="avatar">
				</a>
			</li>
			<li>
				<a href="#profile-searchresult">
					<img src="assets/img/profile/avatars/person-12.png" alt="avatar">
				</a>
			</li>
		</ul>
		<div class="clearfix"></div>
		<span><i class="fa fa-plus"></i>May 27 at 10:28 AM</span>
		<div class="clearfix"></div>
	</div>
	<div class="section posted">
		<i class="fa fa-circle notification-indicator active"></i>
		<div class="table">
			<div class="cell img">
				<img src="assets/img/profile/avatars/person-1.png" alt="Sandra Cooper">
			</div>
			<div class="cell description">
				<p>
					<a href="#">Sandra Cooper</a> posted an article <a href="#">Engineering ethics: A critical dimension of the profession</a>
				</p>
				<span><i class="fa fa-file"></i>May 25 at 7:49 PM</span>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="section recommend">
		<i class="fa fa-circle notification-indicator active"></i>
		<div class="table">
			<div class="cell img">
				<img src="assets/img/profile/avatars/person-1.png" alt="Sandra Cooper">
			</div>
			<div class="cell description">
				<p>
					<a href="#">Sandra Cooper</a> recommended an article to you. <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=759672">Making connections: engineering ethics on the World Wide Web</a>
				</p>
				<span><i class="fa fa-file"></i>May 25 at 7:49 PM</span>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="section commented">
		<i class="fa fa-circle notification-indicator active"></i>
		<p><a href="#">Bruce Gomez</a> and 12 others also commented on the <a href="#">post</a> by <a href="#">Judy Lewis.</a></p>
		<ul>
			<% _.each(data, function(item) { %>
				<li>
					<a href="#profile-searchresult">
						<img src="assets/img/profile/avatars/<%= item.image %>" alt="avatar">
					</a>
				</li>
			<% }); %>
		</ul>
		<div class="clearfix"></div>
		<span><i class="fa fa-comment"></i>May 27 at 10:28 AM</span>
		<div class="clearfix"></div>
	</div>
</div>
