<ul class="profile-header-fixed-nav header-dropdowns">
	<li>
		<a href="#" data-toggle="dropdown"><i class="fa fa-flag"></i><span class="notifications-count">5</span></a>
		<%= notifications %>
	<li>
		<a href="#" data-toggle="dropdown"><i class="fa fa-user"></i><i class="fa fa-plus"></i></a>
		<%= invite %>
	</li>
	<li>
		<a href="#" data-toggle="dropdown"><img src="assets/img/header/<%= data.image %>" class="top-avatar" width="25px" height="25px" alt="avatar"></a>
		<%= profile %>
	</li>
</ul>
