<div id="bg" class="container">
	<div id="bg-images"></div>

	<div class="no-padd-xs">
		<div class="apps-setup">
			<h1>Google Apps Setup</h1>

			<div class="col-xs-12 col-sm-9 description">
				<p>We noticed that you do not have a Gapps@IEEE account. It is important to use a Gaaps@IEEE account with PPCT since it will unlock exclusive members only communities and research storage.</p>
				<p>&nbsp;</p>
				<p>AccountsChoose the account type below and accept the applicable Gaaps consent terms if you wish to use Gapps with PPCT.</p>
			</div>

			<div class="col-xs-12 col-sm-7 col-sm-offset-2">
				<a href="#community-autoenrollment" class="btn btn-attach-ieee-acc">
					<div class="table">
						<div class="cell img">
							<img src="assets/img/ieee_btn_logo.png" width="40" alt="">
						</div>
						<div class="cell text">
							Setup a Gapps@IEEE.org account
						</div>
					</div>
				</a>
			</div>

			<div class="col-xs-12 col-sm-7 col-md-6 col-lg-6 col-sm-offset-2 attach-another">
				<i class="fa fa-google-plus"></i>
				<a href="#community-autoenrollment" class="btn btn-attach-google-acc">
					Attach or setup another Google account
				</a>
				<p>
					By doing this you could be missing out on exclusive members only communities and research storage.
				</p>
			</div>
			<div class="clearfix"></div>

			<a href="#community-autoenrollment" class="btn btn-later pull-right">Save for later &gt;</a>


			<div class="clearfix"></div>
		</div>
	</div>
</div>
