<div class="container">
	<div class="spacer clearfix visible-xs"></div>
	<div id="myprofile-activities">
		<div class="col-xs-12 col-sm-12 col-md-10 no-padd column-one">
			<div class="row padd-xs">
				<div class="col-xs-12 col-sm-12 col-md-4 no-padd">
					<div class="info-block commun-interest hidden-xs hidden-sm">
						<h4>Communities you may be interested in</h4>
						<div class="col-md-12 col-sm-12 col-xs-12 block-items clearfix">
							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<a href="#"><img src="assets/img/communities/data-analysis.png" class="img-responsive" alt="avatar"></a>
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">IEEE Vehicular Technology Society</a>
										<p>1829 members</p>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<a href="#"><img src="assets/img/communities/future-of-robotics.png" class="img-responsive" alt="avatar"></a>
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">IEEE Dielectrics and Electrical Insulation Society</a>
										<p>843 members</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd hidden-xs hidden-sm">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<a href="#"><img src="assets/img/communities/leaders-in-scientific-research.png" class="img-responsive" alt="avatar"></a>
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">IEEE Broadcast Technology Society</a>
										<p>1340 members</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd hidden-xs hidden-sm">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<a href="#"><img src="assets/img/communities/neuroscience.png" class="img-responsive" alt="avatar"></a>
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">IEEE Geoscience and Remote Sensing Society</a>
										<p>621 members</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd hidden-xs hidden-sm">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<a href="#"><img src="assets/img/communities/data-analysis.png" class="img-responsive" alt="avatar"></a>
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd hidden-xs hidden-sm">
										<a href="#" class="title link">IEEE Microwave Theory and Techniques Society</a>
										<p>423 members</p>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="info-block people-interest hidden-xs hidden-sm">
						<h4>People that share your interests from your extended circles</h4>
						<div class="col-md-12 col-sm-6 col-xs-12 block-items clearfix">
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-6.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Robin Wallace</a>
										<p><i class="fa fa-briefcase"></i> IEEE Standards</p>
										<p><i class="fa fa-map-marker"></i> Los Angeles</p>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-4.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Karen Robertson</a>
										<p><i class="fa fa-briefcase"></i>Microsoft</p>
										<p><i class="fa fa-map-marker"></i>Sydney</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-8.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Phillip Murphy</a>
										<p><i class="fa fa-briefcase"></i>IBM</p>
										<p><i class="fa fa-map-marker"></i>New York</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-10.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Alexander Pasik</a>
										<p><i class="fa fa-briefcase"></i>General Motors</p>
										<p><i class="fa fa-map-marker"></i>Dallas</p>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix hidden-sm hidden-xs"></div>

						<div class="box-btn-view hidden-sm hidden-xs">
							<a href="#" class="btn btn-view-all">View all</a>
						</div>

						<h4 class="hidden-sm hidden-xs">People that interested in the IEEE International Conference on Cloud Computing</h4>
						<div class="col-md-12 col-sm-6 col-xs-12 block-items clearfix">
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-9.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Stephanie Warren</a>
										<p><i class="fa fa-briefcase"></i>LG Electronics</p>
										<p><i class="fa fa-map-marker"></i>Vancouver</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-11.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Elizabeth Holmes</a>
										<p><i class="fa fa-briefcase"></i>Hewlett-Packard</p>
										<p><i class="fa fa-map-marker"></i>Buenos Aires</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-2.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8 description no-padd">
										<a href="#" class="title link">Maria Virginia Edwards</a>
										<p><i class="fa fa-briefcase"></i> Google</p>
										<p><i class="fa fa-map-marker"></i> Chicago</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-7.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Joyce C. Cooper</a>
										<p><i class="fa fa-briefcase"></i>Apple Computer</p>
										<p><i class="fa fa-map-marker"></i>Tokyo</p>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix  hidden-sm hidden-xs"></div>

						<div class="box-btn-view hidden-sm hidden-xs">
							<a href="#" class="btn btn-view-all">View all</a>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 no-padd-sm no-padd-xs">
					<div class="block-navbtn clearfix status-box info-block">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#status-tab" data-toggle="tab"><i class="fa fa-edit"></i>Status</a></li>
							<li><a href="#link-tab" data-toggle="tab"><i class="fa fa-chain"></i>Link</a></li>
							<li><a href="#document-tab" data-toggle="tab"><i class="fa fa-clipboard"></i>Document</a></li>
							<li><a href="#event-tab" data-toggle="tab"><i class="fa fa-calendar-o"></i>Event</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="status-tab">
								<textarea name=""  cols="30" rows="10"></textarea>
								<div class="clearfix"></div>
								<a href="#" class="btn btn-share">Share</a>
								<ul class="nav pull-right">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i>Public<i class="fa fa-chevron-down pull-right"></i></a>
										<ul class="dropdown-menu">
											<li><a href="#">Link</a></li>
											<li><a href="#">Link</a></li>
											<li><a href="#">Link</a></li>
										</ul>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="tab-pane" id="link-tab">

							</div>
							<div class="tab-pane" id="document-tab">

							</div>
							<div class="tab-pane" id="event-tab">

							</div>
						</div>
					</div>

					<div class="info-block no-padd no-padd-bottom">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="table title-header">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="sportlight">
								</div>
								<div class="content cell">
									<p><a href="#">Tom Griffin (You) </a> <span>shared a video</span></p>
									<p><span class="data">20 Apr 2014</span> - <i class="fa fa-globe"></i></p>
								</div>
							</div>
							<div class="table content-sportlight hidden-xs">
								<div class="video cell">
									<div class="video-block">
										<video width="100%" height="70%" poster="assets/img/home/video-img.jpg" controls>
											<source type="video/mp4" src="http://ieeetv.ieee.org/media/ieeetvmobile/ConferenceHighlights/IMS2014/IMS_2014_Opening_Plenary_mobile.mp4">
											<span>No video playback capabilities!</span>
										</video>
										<img class="play-btn" src="assets/img/icon_play.png" width="45" alt="play">
									</div>
								</div>
								<div class="content cell">
									<p class="hidden-xs">Carl Selinger: Stuff you Don't Learn in Engineering School</p>
									<p class="hidden-xs"><span class="bold-txt">Duration:</span> 00:07:35</p>
								</div>
							</div>
							<div class="content-sportlight visible-xs">
								<div class="video">
									<div class="video-block">
										<video width="100%" height="70%" poster="assets/img/home/video-img.jpg" controls>
											<source type="video/mp4" src="http://ieeetv.ieee.org/media/ieeetvmobile/ConferenceHighlights/IMS2014/IMS_2014_Opening_Plenary_mobile.mp4">
											<span>No video playback capabilities!</span>
										</video>
										<img class="play-btn" src="assets/img/icon_play.png" width="45" alt="play">
									</div>
								</div>
								<div class="content">
									<p>Carl Selinger: Stuff you Don't Learn in Engineering School</p>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="action-tabs">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#post1 .comments-tab" data-toggle="tab"><i class="fa fa-comment"></i>(5)</a></li>
								<li><a href="#post1 .like-tab" data-toggle="tab"><i class="fa fa-thumbs-up"></i>(7)</a></li>
								<li><a href="#post1 .share-tab" data-toggle="tab"><i class="fa fa-share-square"></i>(3)</a></li>
							</ul>
							<div id="post1" class="tab-content">
								<div class="tab-pane active comments-tab">
									<div class="block-comments">
										<div class="col-xs-12 col-sm-12 col-md-12">
											<div class="comments-box">
												<div class="comment-body">
													<div class="table">
														<div class="img cell hidden-xs">
															<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
														</div>
														<div class="content cell">
															<p class="name">Tom Griffin (You)</p>
															<p><span class="data">17 Apr 2014</span></p>
														</div>
													</div>
													<p>
														Congratulations! T'day i got a news that your university of California,Berkley has found a new planet which is like our planet earth.To see the news i felt very happy that the same university has done this great job where you study.... <a href="#">More</a>
													</p>
												</div>
												<div class="comment-body">
													<div class="table">
														<div class="img cell hidden-xs">
															<img class="img-responsive" src="assets/img/profile/avatars/person-3.png" alt="ava">
														</div>
														<div class="content cell">
															<p class="name">Alice Hamilton</p>
															<p><span class="data">17 Apr 2014</span></p>
														</div>
													</div>
													<p>
														I'm currently working on designing a social notifications page for a new take on PPCT.
													</p>
												</div>
											</div>
											<div class="add-comment">
												<div class="table">
													<div class="img cell hidden-xs">
														<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
													</div>
													<div class="content cell">
														<textarea name=""  cols="30" rows="10"></textarea>
													</div>
												</div>
											</div>

										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="tab-pane like-tab">
									<div class="col-xs-12">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<div class="clearfix"></div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="tab-pane" class="share-tab">

									<div class="clearfix"></div>
								</div>
							</div>
						</div>

					</div>



					<div class="info-block no-padd no-padd-bottom">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="table title-header">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="spectrum">
								</div>
								<div class="content cell">
									<p><a href="#">Tom Griffin (You)</a></p>
									<p><span class="data">23 Apr 2014</span> - <i class="fa fa-globe"></i></p>
								</div>
							</div>
							<img src="assets/img/home/img.png" class="img-responsive" alt="img">
							<div class="content-spectr">
								<p class="text-info">MIT has figured out how to build tiny nanoparticles capable of carrying three or more cancer drugs</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="action-tabs">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#post2 .comments-tab" data-toggle="tab"><i class="fa fa-comment"></i>(5)</a></li>
								<li><a href="#post2 .like-tab" data-toggle="tab"><i class="fa fa-thumbs-up"></i>(7)</a></li>
								<li><a href="#post2 .share-tab" data-toggle="tab"><i class="fa fa-share-square"></i>(3)</a></li>
							</ul>
							<div id="post2" class="tab-content">
								<div class="tab-pane active comments-tab">
									<div class="block-comments">
										<div class="col-xs-12 col-sm-12 col-md-12">
											<div class="comments-box">
												<div class="comment-body">
													<div class="table">
														<div class="img cell hidden-xs">
															<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
														</div>
														<div class="content cell">
															<p class="name">Tom Griffin (You)</p>
															<p><span class="data">17 Apr 2014</span></p>
														</div>
													</div>
													<p>
														Congratulations! T'day i got a news that your university of California,Berkley has found a new planet which is like our planet earth.To see the news i felt very happy that the same university has done this great job where you study.... <a href="#">More</a>
													</p>
												</div>
												<div class="comment-body">
													<div class="table">
														<div class="img cell hidden-xs">
															<img class="img-responsive" src="assets/img/profile/avatars/person-3.png" alt="ava">
														</div>
														<div class="content cell">
															<p class="name">Alice Hamilton</p>
															<p><span class="data">17 Apr 2014</span></p>
														</div>
													</div>
													<p>
														I'm currently working on designing a social notifications page for a new take on PPCT.
													</p>
												</div>
											</div>
											<div class="add-comment">
												<div class="table">
													<div class="img cell hidden-xs">
														<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
													</div>
													<div class="content cell">
														<textarea name=""  cols="30" rows="10"></textarea>
													</div>
												</div>
											</div>

										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="tab-pane like-tab">
									<div class="col-xs-12">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<div class="clearfix"></div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="tab-pane" class="share-tab">

									<div class="clearfix"></div>
								</div>
							</div>
						</div>

					</div>
					<div class="info-block no-padd no-padd-bottom">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="table title-header">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="maria">
								</div>
								<div class="content cell">
									<p><a href="#">Tom Griffin (You)</a></p>
									<p><span class="data">23 Apr 2014</span> - <i class="fa fa-globe"></i></p>
								</div>
							</div>
							<div class="graph">
								<div id="graph-container" style="height: 250px"></div>
							</div>
							<div class="content-graph">
								<p class="bold-txt header">A source-to-source transformation for increasing rule-based system parallelism</p>
								<p>Researchers aim to ease miniaturization pressure with dense 3-D circuitry instead of stacked chips. This monolithic manufacturing scheme, developed by CEA-Leti, builds
									<a href="#" class="link">More</a></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="action-tabs">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#post3 .comments-tab" data-toggle="tab"><i class="fa fa-comment"></i>(5)</a></li>
								<li><a href="#post3 .like-tab" data-toggle="tab"><i class="fa fa-thumbs-up"></i>(7)</a></li>
								<li><a href="#post3 .share-tab" data-toggle="tab"><i class="fa fa-share-square"></i>(3)</a></li>
							</ul>
							<div id="post3" class="tab-content">
								<div class="tab-pane active comments-tab">
									<div class="block-comments">
										<div class="col-xs-12 col-sm-12 col-md-12">
											<div class="comments-box">
												<div class="comment-body">
													<div class="table">
														<div class="img cell hidden-xs">
															<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
														</div>
														<div class="content cell">
															<p class="name">Tom Griffin (You)</p>
															<p><span class="data">17 Apr 2014</span></p>
														</div>
													</div>
													<p>
														Congratulations! T'day i got a news that your university of California,Berkley has found a new planet which is like our planet earth.To see the news i felt very happy that the same university has done this great job where you study.... <a href="#">More</a>
													</p>
												</div>
												<div class="comment-body">
													<div class="table">
														<div class="img cell hidden-xs">
															<img class="img-responsive" src="assets/img/profile/avatars/person-3.png" alt="ava">
														</div>
														<div class="content cell">
															<p class="name">Alice Hamilton</p>
															<p><span class="data">17 Apr 2014</span></p>
														</div>
													</div>
													<p>
														I'm currently working on designing a social notifications page for a new take on PPCT.
													</p>
												</div>
											</div>
											<div class="add-comment">
												<div class="table">
													<div class="img cell hidden-xs">
														<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
													</div>
													<div class="content cell">
														<textarea name=""  cols="30" rows="10"></textarea>
													</div>
												</div>
											</div>

										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="tab-pane like-tab">
									<div class="col-xs-12">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<div class="clearfix"></div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="tab-pane" class="share-tab">

									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="info-block no-padd no-padd-bottom">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="table title-header">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="comunity">
								</div>
								<div class="content cell">
									<p><a href="#">Tom Griffin (You) </a> <span>scheduled an event</span></p>
									<p><span class="data">20 Apr 2014</span> - <i class="fa fa-globe"></i></p>
								</div>
							</div>
							<div class="table content-comunity">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/home/img-calend.png" alt="calend">
								</div>
								<div class="content cell">
									<p class="hidden-xs">2014 International Conference on Computer<br> Communication and Informatics (ICCCI)</p>
									<p class="visible-xs">2014 International Conference on Computer Communication and Informatics (ICCCI)</p>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="action-tabs">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#post4 .comments-tab" data-toggle="tab"><i class="fa fa-comment"></i>(5)</a></li>
								<li><a href="#post4 .like-tab" data-toggle="tab"><i class="fa fa-thumbs-up"></i>(7)</a></li>
								<li><a href="#post4 .share-tab" data-toggle="tab"><i class="fa fa-share-square"></i>(3)</a></li>
							</ul>
							<div id="post4" class="tab-content">
								<div class="tab-pane active comments-tab">
									<div class="block-comments">
										<div class="col-xs-12 col-sm-12 col-md-12">
											<div class="comments-box">
												<div class="comment-body">
													<div class="table">
														<div class="img cell hidden-xs">
															<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
														</div>
														<div class="content cell">
															<p class="name">Tom Griffin (You)</p>
															<p><span class="data">17 Apr 2014</span></p>
														</div>
													</div>
													<p>
														Congratulations! T'day i got a news that your university of California,Berkley has found a new planet which is like our planet earth.To see the news i felt very happy that the same university has done this great job where you study.... <a href="#">More</a>
													</p>
												</div>
												<div class="comment-body">
													<div class="table">
														<div class="img cell hidden-xs">
															<img class="img-responsive" src="assets/img/profile/avatars/person-3.png" alt="ava">
														</div>
														<div class="content cell">
															<p class="name">Alice Hamilton</p>
															<p><span class="data">17 Apr 2014</span></p>
														</div>
													</div>
													<p>
														I'm currently working on designing a social notifications page for a new take on PPCT.
													</p>
												</div>
											</div>
											<div class="add-comment">
												<div class="table">
													<div class="img cell hidden-xs">
														<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
													</div>
													<div class="content cell">
														<textarea name=""  cols="30" rows="10"></textarea>
													</div>
												</div>
											</div>

										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="tab-pane like-tab">
									<div class="col-xs-12">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="ava">
										<div class="clearfix"></div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="tab-pane" class="share-tab">
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="box-btn-load hidden-md hidden-lg">
						<a href="#" class="btn btn-load-more">Load More</a>
						<div class="spacer clearfix"></div>
						<div class="col-xs-12 no-padd">
							<div class="ads center-block">
								<p>Advertisement</p>
								<img src="assets/img/ads/banner-tablet.png" class="advertising visible-sm" alt="banner" width="720">
								<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
								<div class="spacer clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2 hidden-sm hidden-xs column-two no-padd">
			<div class="block-timeline col-xs-12">
				<ul class="timeline">
					<li>
						<div class="timeline-badge"></div>
						<div class="timeline-date">Recent</div>
					</li>
					<li>
						<div class="timeline-badge open"></div>
						<div class="timeline-date">2014</div>
					</li>
				</ul>
			</div>
			<div class="ads">
				<p>Advertisement</p>
				<a href="#"><img src="assets/img/ads/skyscraper.png" alt="Advertisement"></a>
				<a href="#"><img class="advert" src="assets/img/ads/rectangle.png" width="160" alt="Advertisement"></a>
				<a href="#"><img class="advert" src="assets/img/ads/rectangle.png" width="160" alt="Advertisement"></a>
			</div>
		</div>
	</div>
</div>
