<div id="publications-modal" class="modal-dialog">
	<div class="modal-content">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<h4>Publications</h4>
		<div class="modal-description">
			<p>
				You have no Publications yet.
			</p>
			<form action="">
				<p>Please type your name:</p>
				<div class="row">
					<label class="col-sm-4" for="">
						<input type="text" placeholder="Last Name">
					</label>
					<label class="col-sm-4" for="">
						<input type="text" placeholder="First Name">
					</label>
					<label class="col-sm-4" for="">
						<input type="text" placeholder="Middle Name">
					</label>
					<div class="clearfix"></div>
				</div>
				<button class="btn btn-search">Search</button>
			</form>
		</div>
	</div>
</div>
