<div class="container no-padd padd-xs">
	<div class="spacer visible-xs"></div>
	<div id="settings-privacy">
		<!-- Left Panel -->
		<div class="col-xs-12 col-md-9 col-lg-10 no-padd">
	        <div class="profile-controls col-xs-12 no-padd">
				<div class="view-as col-xs-4 col-sm-4 padd-xs">
					<a href="#" class="view-profile-as dropdown-toggle profile-view-as-select" data-toggle="dropdown">
						View <span class="hidden-xs">my</span> profile as
						<i class="fa fa-chevron-down"></i>
					</a>
					<ul class="dropdown-menu view-as-menu">
						<li><a href="#profile-details"><i class="fa fa-check"></i>Myself</a></li>
						<li><a href="#profile-public"><i class="fa fa-check"></i>Public</a></li>
						<li><a href="#profile-as"><i class="fa fa-check"></i>All PPCT Users</a></li>
						<li><a href="#profile-as"><i class="fa fa-check"></i>IEEE Member</a></li>
						<li><a href="#profile-as"><i class="fa fa-check"></i>My Connections</a></li>
					</ul>
				</div>
		        <div class="active manage-settings privacy-menu col-xs-4 col-sm-4 padd-xs">
			        <a href="#profile-privacy" class="view-profile-as">Manage privacy <span class="hidden-xs">settings</span></a>
		        </div>
		        <div class="manage-profile personalinformation-menu col-xs-4 col-sm-4 padd-xs">
			        <a href="#profile-personalinfo" class="view-personalinformation">Edit&nbsp;<span class="hidden-xs">personal info</span><span class="hidden-sm hidden-md hidden-lg">profile</span></a>
		        </div>
			</div>
			<div class="info-block no-padd">
				<div id="master-visibility" class="col-xs-12">
					<div class="big-spacer clearfix"></div>
					<h4>Master Visibility Settings</h4>
					<div class="col-xs-12 col-sm-8 no-padd-xs no-padd-left">
						<p>A single visibility setting for all profile attributes.  This will override ALL settings below.</p>
					</div>
					<div class="col-xs-12 col-sm-4 no-padd-xs no-padd-left">
						<a href="#" class="dropdown-toggle master-visibility-select" data-toggle="dropdown">
							<span>Custom Selection</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="dropdown-menu master-visibility-select-menu">
							<li><a href="#" ><div><span>Public</span></div>Public internet users and all of PPCT.</a></li>
							<li><a href="#"><div><span>All PPCT</span></div>Everyone that has a PPCT account.</a></li>
							<li><a href="#"><div><span>IEEE Members</span></div>PPCT users who have a membership with IEEE.</a></li>
							<li><a href="#"><div><span>My Connections</span> (HIDDEN from Search)</div>Hidden to everyone but my connections.</a></li>
							<li class="active"><a class="custom-selection" href="#"><div><span>Custom Selection</span></div>Set it up manually using options bellow.</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<hr>
				<div id="profile-visibility" class="col-xs-12">
					<h4>Profile Visibility</h4>
					<div class="col-xs-12 col-sm-8 no-padd-xs no-padd-left">
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>profile photo</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>All Users</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li class="active"><a href="#"><span>All Users</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>biography</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>All PPCT Users</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li class="active"><a href="#"><span>All PPCT Users</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>membership info</b><br><i>(grade, volunteer status, category and citation)</i></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>EEE Members</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li class="active"><a href="#"><span>IEEE Members</span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>current location</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>My Connections</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li class="active"><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>IEEE section</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>Only Me</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
									<li class="active"><a href="#"><span>Only Me</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>interests</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>IEEE Members</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li class="active"><a href="#"><span></span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>work experience</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>My Connections</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li class="active"><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>education</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>Only Me</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
									<li class="active"><a href="#"><span>Only Me</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>mailing address</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>My Connections</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li class="active"><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>e-mail address</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>All Users</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li class="active"><a href="#"><span>All Users</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>instant messenger</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>IEEE Members</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li class="active"><a href="#"><span>IEEE Members</span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>phone number</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>My Connections</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li class="active"><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see the list of your <b>communities</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>Only Me</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
									<li class="active"><a href="#"><span>Only Me</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>memberships</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>My Connections</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li class="active"><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>publications</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>All Users</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li class="active"><a href="#"><span>All Users</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your <b>awards</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>IEEE Members</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li class="active"><a href="#"><span>IEEE Members</span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-visibility-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can see your connected <b>social profiles</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
									<span>My Connections</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li class="active"><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
				<hr>
				<div id="permissions" class="col-xs-12">
					<h4>Permissions</h4>
					<div class="col-xs-12 col-sm-8 no-padd-xs no-padd-left">
						<div class="profile-permission-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can send you a <b>message</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-permission-select" data-toggle="dropdown">
									<span>All PPCT Users</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li class="active"><a href="#"><span>All PPCT Users</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-permission-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can send you a <b>connection request</b></p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-permission-select" data-toggle="dropdown">
									<span>IEEE Members</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li class="active"><a href="#"><span>IEEE Members</span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-permission-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can <b>comment</b> on your posts</p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-permission-select" data-toggle="dropdown">
									<span>IEEE Members</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li class="active"><a href="#"><span>IEEE Members</span></a></li>
									<li><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-permission-item">
							<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
								<p>Who can <b>share content</b> with you</p>
							</div>
							<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
								<a href="#" class="dropdown-toggle profile-permission-select" data-toggle="dropdown">
									<span>My Connections</span>
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span>Public</span></a></li>
									<li><a href="#"><span>All PPCT</span></a></li>
									<li><a href="#"><span>IEEE Members</span></a></li>
									<li class="active"><a href="#"><span>My Connections</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div id="visibility-settings-modal">
					<p>
						All visibility settings will be changed to <b>IEEE Members</b>. Only those who have IEEE memberships will be able to see your profile. Are you sure?
					</p>
					<div class="btns-wrap">
						<a href="#" class="btn btn-yes-confirm" data-dismiss="modal" aria-hidden="true"><i class="fa fa-check"></i>Yes, confirm</a>
						<a href="#" class="btn btn-no-cancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>No, cancel</a>
					</div>
				</div>
			</div>
			</div>
		<!-- /Left Panel -->
		<!-- Right Panel -->
		<div class="ads col-md-3 col-lg-2 hidden-sm hidden-xs">
			<p class="advertisement center-block">Advertisement</p>

			<div class="side-advertisement">
				<a href="#" class="hidden-xs">
					<img src="assets/img/profile/advertising-robots.png" alt="ad">
				</a>
			</div>
		</div>
        <!-- /Right Panel -->
		<!-- Mobile and Tablet bottom Ads -->
	    <div class="col-xs-12 no-padd hidden-lg hidden-md">
		<div class="ads center-block">
			<p>Advertisement</p>
			<img src="assets/img/ads/banner-tablet.png" class="advertising visible-sm" alt="banner" width="720">
			<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
			<div class="spacer clearfix"></div>
		</div>
	    </div>
		<div class="spacer clearfix"></div>
	</div>
</div>
