<div class="declined-popup">
	<div class="col-sm-5 person">
		<h5><a class="person-name" href="">Mark Howard</a> connection has been declined <a class="btn btn-undo" href="">Undo</a></h5>
	</div>
	<div class="col-sm-7 person-action">
		<p>Reason for declining (optional):</p>
		<a href="#" class="btn btn-submit hidden-xs">Submit</a>
		<form action="">
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
					I do not wish to connect with this individual at this time
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					Block this user
				</label>
			</div>
			<a href="#" class="btn btn-submit visible-xs">Submit</a>
		</form>
	</div>
	<div class="clearfix"></div>
</div>
