<div class="container">
	<div class="spacer clearfix visible-xs"></div>
	<div id="profile-activities">
		<div class="col-xs-12 col-sm-12 col-md-10 no-padd column-one">
			<div class="row padd-xs">
				<div class="col-xs-12 col-sm-12 col-md-4 no-padd">
					<div class="info-block commun-interest hidden-xs hidden-sm">
						<h4>Communities you may be interested in</h4>
						<div class="col-md-12 col-sm-12 col-xs-12 block-items clearfix">
							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<a href="#"><img src="assets/img/communities/data-analysis.png" class="img-responsive" alt="avatar"></a>
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">IEEE Vehicular Technology Society</a>
										<p>1829 members</p>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<a href="#"><img src="assets/img/communities/future-of-robotics.png" class="img-responsive" alt="avatar"></a>
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">IEEE Dielectrics and Electrical Insulation Society</a>
										<p>843 members</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd hidden-xs hidden-sm">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<a href="#"><img src="assets/img/communities/leaders-in-scientific-research.png" class="img-responsive" alt="avatar"></a>
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">IEEE Broadcast Technology Society</a>
										<p>1340 members</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd hidden-xs hidden-sm">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<a href="#"><img src="assets/img/communities/neuroscience.png" class="img-responsive" alt="avatar"></a>
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">IEEE Geoscience and Remote Sensing Society</a>
										<p>621 members</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd hidden-xs hidden-sm">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<a href="#"><img src="assets/img/communities/data-analysis.png" class="img-responsive" alt="avatar"></a>
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd hidden-xs hidden-sm">
										<a href="#" class="title link">IEEE Microwave Theory and Techniques Society</a>
										<p>423 members</p>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="info-block people-interest hidden-xs hidden-sm">
						<h4>People that share your interests from your extended circles</h4>
						<div class="col-md-12 col-sm-6 col-xs-12 block-items clearfix">
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-6.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Robin Wallace</a>
										<p><i class="fa fa-briefcase"></i> IEEE Standards</p>
										<p><i class="fa fa-map-marker"></i> Los Angeles</p>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-4.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Karen Robertson</a>
										<p><i class="fa fa-briefcase"></i>Microsoft</p>
										<p><i class="fa fa-map-marker"></i>Sydney</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-8.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Phillip Murphy</a>
										<p><i class="fa fa-briefcase"></i>IBM</p>
										<p><i class="fa fa-map-marker"></i>New York</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-10.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Alexander Pasik</a>
										<p><i class="fa fa-briefcase"></i>General Motors</p>
										<p><i class="fa fa-map-marker"></i>Dallas</p>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix hidden-sm hidden-xs"></div>

						<div class="box-btn-view hidden-sm hidden-xs">
							<a href="#" class="btn btn-view-all">View all</a>
						</div>

						<h4 class="hidden-sm hidden-xs">People that interested in the IEEE International Conference on Cloud Computing</h4>
						<div class="col-md-12 col-sm-6 col-xs-12 block-items clearfix">
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-9.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Stephanie Warren</a>
										<p><i class="fa fa-briefcase"></i>LG Electronics</p>
										<p><i class="fa fa-map-marker"></i>Vancouver</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-11.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Elizabeth Holmes</a>
										<p><i class="fa fa-briefcase"></i>Hewlett-Packard</p>
										<p><i class="fa fa-map-marker"></i>Buenos Aires</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-2.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8 description no-padd">
										<a href="#" class="title link">Maria Virginia Edwards</a>
										<p><i class="fa fa-briefcase"></i> Google</p>
										<p><i class="fa fa-map-marker"></i> Chicago</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-7.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Joyce C. Cooper</a>
										<p><i class="fa fa-briefcase"></i>Apple Computer</p>
										<p><i class="fa fa-map-marker"></i>Tokyo</p>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix  hidden-sm hidden-xs"></div>

						<div class="box-btn-view hidden-sm hidden-xs">
							<a href="#" class="btn btn-view-all">View all</a>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 no-padd-sm no-padd-xs">
					<div class="content-nav">
						<div class="tab-content">
							<div class="message tab-pane active">
								<div class="message-wrap">
									<div class="top arrow content-arrow "></div>
									<textarea placeholder="Share your thoughts"></textarea>
									<div class="clearfix spacer"></div>
									<a href="#researchgroups-activities" class="btn-send btn btn-default pull-right">Send</a>
								</div>
							</div>
							<div class="a-link tab-pane">
								<div class="message-wrap">
									<div class="top arrow content-arrow for-link "></div>
									<div class="enter-link pull-left">
										<i class="fa fa-link"></i>
										<input type="text" class="" placeholder="Enter or paste a link">
										<i class="fa fa-times"></i>
									</div>
									<textarea placeholder="Share What's New..."></textarea>
									<div class="clearfix spacer"></div>
									<a href="#researchgroups-activities" class="btn-send btn btn-default pull-right">Send</a>
								</div>
							</div>
							<div class="document tab-pane">
								<div class="message-wrap">
									<div class="top arrow content-arrow for-document "></div>
									<input class="search-documents" type="text" placeholder="Share a document from your library for the group">
									<div class="clearfix spacer"></div>
									<a href="#researchgroups-documents" class="btn-send btn btn-default pull-right">Send</a>
								</div>
							</div>
						</div>
						<div class="clearfix visible-xs"></div>
						<div class="main-subnav-wrap">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs group-main-subnav" role="tablist">
								<li class="active"><a href=".message" role="tab" data-toggle="tab"><i class="fa fa-edit"></i> <span class="hidden-xs">Message</span></a></li>
								<li><a href=".a-link" role="tab" data-toggle="tab"><i class="fa fa-link"></i> <span class="hidden-xs">Link</span></a></li>
								<li><a href=".document" role="tab" data-toggle="tab"><i class="fa fa-file-text-o"></i> <span class="hidden-xs">Document</span></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>

					<div class="clearfix"></div>

					<div class="activities-autoload"></div>
					<img class="center-block load-spinner" src="assets/img/3-circle-bar.gif" width="60px"/>
					<div class="big-spacer clearfix"></div>
				</div>
				<div class="col-xs-12 hidden-md hidden-lg no-padd">
					<div class="ads center-block">
						<p>Advertisement</p>
						<img src="assets/img/ads/banner-tablet.png" class="advertising visible-sm" alt="banner" width="720">
						<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
						<div class="spacer clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2 hidden-sm hidden-xs column-two no-padd">
			<div class="block-timeline col-xs-12">
				<ul class="timeline">
					<li>
						<div class="timeline-badge"></div>
						<div class="timeline-date">Recent</div>
					</li>
					<li>
						<div class="timeline-badge open"></div>
						<div class="timeline-date">2014</div>
					</li>
				</ul>
			</div>
			<div class="ads">
				<p>Advertisement</p>
				<a href="#"><img src="assets/img/ads/skyscraper.png" alt="Advertisement"></a>
				<a href="#"><img class="advert" src="assets/img/ads/rectangle.png" width="160" alt="Advertisement"></a>
				<a href="#"><img class="advert" src="assets/img/ads/rectangle.png" width="160" alt="Advertisement"></a>
			</div>
		</div>
	</div>
</div>
