<div id="my-profile-connections" class="container">
	<div class="spacer clearfix visible-xs"></div>
	<div class="row padd-xs">
		<div class="col-md-9 col-lg-9">
			<div class="row">
				<ul class="nav nav-tabs my-connections-tabs">
					<li class="active col-xs-6 no-padd"><a href="#your-connections" data-toggle="tab"><img src="assets/img/profile/icon_users.png" width="26" height="23" alt="Your Connections">Your Connections — 156</a></li>
					<li class="col-xs-6 no-padd"><a href="#pending-requests" data-toggle="tab"><img src="assets/img/profile/icon_add_user.png" width="26" height="23" alt="Pending Requests">Pending Requests — 5</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active info-block" id="your-connections">
						<div class="col-xs-12 pagination">
							<p class="hidden-xs">
								Showing <b>1–16</b> of <b>156</b><a class="btn btn-left btn-default"><i class="fa fa-angle-left"></i></a><a class="btn btn-right btn-default"><i class="fa fa-angle-right"></i></a>
							</p>
							<div class="animated-search">
								<i class="fa fa-search show-input"></i>
								<input type="text" class="search-text" placeholder="Start typing here...">
								<i class="fa fa-times"></i>
							</div>
						</div>
						<div class="your-connections-results">
							<% _.each(data, function(connection,index) { %>
								<div class="col-xs-12 col-sm-6 results-item">
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-3 img">
											<img src="assets/img/profile/avatars/<%= connection['Avatar']%>" class="img-responsive" alt="avatar">
										</div>
										<div class="col-xs-6 col-sm-6 description no-padd">
											<p class="title"><%= connection['Name']%></p>
											<p class="hidden-xs"><i class="fa fa-briefcase"></i><%= connection['Company']%></p>
											<p class="hidden-xs"><i class="fa fa-map-marker"></i><%= connection['Location']%></p>
											<p class="visible-xs"><%= connection['Company']%>, <%= connection['Location']%></p>
										</div>
										<div class="col-xs-2 col-sm-2 col-md-3 action">
											<a href="#" class="btn hidden-sm hidden-xs"><i class="fa fa-envelope"></i></a>
											<div class="dropdown-wrap">
												<a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
												<div class="dropdown-menu">
													<div class="dropdown-arrow hidden-lg hidden-md"></div>
													<ul>
														<li><a href="#"><i class="fa fa-plus"></i>Add to custom networks</a>
															<ul>
																<li><a href="#">Custom 1</a></li>
																<li><a href="#">Custom 2</a></li>
															</ul>
														</li>
														<li class="create-custom"><a href="#" data-toggle="modal" data-backdrop="false" data-target="#create-custom-network"><i class="fa fa-circle"></i>Create custom network</a></li>
														<li><a href="#"><i class="fa fa-times"></i>Remove</a></li>
													</ul>
												</div>
												<a href="#" class="btn hidden-md hidden-lg"><i class="fa fa-envelope"></i></a>
											</div>
										</div>
									</div>
								</div>
							<% }); %>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="tab-pane" id="pending-requests">
						<div class="info-block">
							<div class="col-xs-12 pagination">
								<p class="hidden-xs">
									Showing <b>1–5</b> of <b>5</b>
									<a class="btn btn-left btn-default"><i class="fa fa-angle-left"></i></a><a class="btn btn-right btn-default"><i class="fa fa-angle-right"></i></a>
								</p>
								<div class="animated-search">
									<i class="fa fa-search show-input"></i>
									<input type="text" class="search-text" placeholder="Start typing here...">
									<i class="fa fa-times"></i>
								</div>
							</div>
							<div class="pending-requests-results">
								<% _.each(PendingRequestItems.toJSON(), function(pendingRequests,index) { %>
									<div class="col-xs-12 results-item">
										<div class="row">
											<div class="col-xs-4 col-sm-2 col-md-2 img">
												<img src="assets/img/profile/avatars/<%= pendingRequests['Avatar']%>" class="img-responsive" alt="avatar">
											</div>
											<div class="col-xs-6 col-sm-9 col-md-7 description no-padd">
												<p class="title">
													<%= pendingRequests['Name']%>
													<% if (pendingRequests['Icon'] != 'Not specified') { %>
														<img src="assets/img/people_search/<%= pendingRequests['Icon']%>" width="23" alt="avatar">
													<% } %>
													<% if (pendingRequests['V'] != 'Not specified') { %>
														<span class="v">V</span>
													<% } %>
												</p>
												<p><i class="fa fa-briefcase"></i><%= pendingRequests['Company']%></p>
												<% if (pendingRequests['University'] != 'Not specified') { %>
													<p><img src="assets/img/profile/graduate-cap.png" width="17" height="11" alt="University"><%= pendingRequests['University']%></p>
												<% } %>
												<p><i class="fa fa-map-marker"></i><%= pendingRequests['Location']%></p>
											</div>
											<div class="col-xs-2 col-sm-1 col-md-3 action">
												<div class="dropdown-wrap">
													<a href="#"class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i><span class="hidden-sm hidden-xs">Manage</span></a>
													<div class="dropdown-menu">
														<div class="dropdown-arrow hidden-lg hidden-md"></div>
														<ul>
															<li><a href="#"><i class="fa fa-check"></i>Accept</a></li>
															<li><a href="#"><i class="fa fa-ban"></i>Save for Later</a></li>
															<li><a href="#"><i class="fa fa-times"></i>Remove</a></li>
														</ul>
													</div>
												</div>
												<a href="#" class="btn"><i class="fa fa-envelope"></i><span class="hidden-sm hidden-xs">Message</span></a>
											</div>
										</div>
									</div>
								<% }); %>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="info-block">
							<h4>Saved for Later</h4>
							<div class="saved-for-later-results">
								<% _.each(SavedForLaterItems.toJSON(), function(pendingRequests,index) { %>
									<div class="col-xs-12 col-md-6 results-item">
										<div class="row">
											<div class="declined-popup-wrap"></div>
											<div class="col-xs-7 col-sm-9 col-md-7 description">
												<p class="title">
													<span class="name"><%= pendingRequests['Name']%></span>
													<% if (pendingRequests['Icon'] != 'Not specified') { %>
														<img src="assets/img/people_search/<%= pendingRequests['Icon']%>" width="23" alt="avatar">
													<% } %>
													<% if (pendingRequests['V'] != 'Not specified') { %>
														<span class="v">V</span>
													<% } %>
												</p>
												<p><i class="fa fa-briefcase"></i><%= pendingRequests['Company']%></p>
												<% if (pendingRequests['University'] != 'Not specified') { %>
													<p><img src="assets/img/profile/graduate-cap.png" width="17" height="11" alt="University"><%= pendingRequests['University']%></p>
												<% } %>
												<% if (pendingRequests['Location'] != 'Not specified') { %>
													<p><i class="fa fa-map-marker"></i><%= pendingRequests['Location']%></p>
												<% } %>
											</div>
											<div class="col-xs-5 col-sm-3 col-md-5  action">
												<a href="#" class="btn"><i class="fa fa-check"></i>Accept</a>
												<a href="#" class="btn btn-remove-from-saved-for-later"><i class="fa fa-times"></i>Remove</a>
											</div>
										</div>
									</div>
								<% }); %>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<div id="create-custom-network">
				<h5>Create custom network</h5>
				<input type="text">
				<a href="#" class="btn">Create Network</a>
				<a href="#" class="btn btn-cancel" data-dismiss="modal" aria-hidden="true">Cancel</a>
			</div>
		</div>
		<div class="col-md-3 col-lg-3 hidden-sm hidden-xs">
			<div class="info-block connections-filter">
				<h4>Networks</h4>
				<label>
					<input type="checkbox" class="checkbox" /><p>Societies</p>
				</label>
				<label>
					<input type="checkbox" class="checkbox" checked="checked" /><p>Section</p>
				</label>
				<label>
					<input type="checkbox" class="checkbox" /><p>Location</p>
				</label>
				<label>
					<input type="checkbox" class="checkbox" checked="checked" /><p>Technical Areas</p>
				</label>
				<label>
					<input type="checkbox" class="checkbox" /><p>Custom</p>
				</label>
			</div>

			<div class="ads">
				<div class="advertisement">
					<p>Advertisement</p>
					<div class="clearfix"></div>
					<a href="#" class="pull-left"><img src="assets/img/ads/skyscraper.png" alt="Advertisement"></a>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="ads center-block">
				<p>Advertisement</p>
				<img src="assets/img/ads/banner-tablet.png" class="advertising visible-sm" alt="banner" width="720">
				<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
				<div class="spacer clearfix"></div>
			</div>
		</div>
	</div>
</div>
