<div class="spacer clearfix"></div>

<div class="item-wrap -item-<%= id + 1 %>">
	<div class="item-content">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="table title-header-activities">
				<div class="img cell">
					<a href="#profile">
						<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="sportlight">
					</a>
				</div>
				<div class="content cell">
					<p><a href="#profile">Tom Griffin (You) </a> <span>uploaded a document</span></p>
					<p><span class="data">11 hours ago</span></p>
				</div>
			</div>
			<div class="content-community">
				<div class="content-document">
					<div class="table document-folder">
						<div class="img cell">
							<i class="fa fa-file-pdf-o"></i>
						</div>
						<div class="content cell">
							<p>Critical Machine Learning Algorithms</p>
							<div class="file-folder hidden-xs">
								<i class="fa fa-folder"></i>
								<a href="#">Machine Learning</a>
								<span class="separator">&frasl;</span>
								<a href="#">Algorithms</a>
							</div>
						</div>
					</div>
					<div class="file-folder visible-xs">
						<i class="fa fa-folder"></i>
						<a href="#">Machine Learning</a>
						<span class="separator">&frasl;</span>
						<a href="#">Algorithms</a>
					</div>
					<div class="content cell hidden-xs visible-lg visible-md">
						<p>An effort to help the team with the machine learning recommendation engine.</p>
					</div>
					<div class="table document-save">
						<div class="content cell hidden-xs visible-sm">
							<p>An effort to help the team with the machine learning recommendation engine.</p>
						</div>
						<div class="cell">
							<div class="clearfix spacer visible-xs"></div>
							<a href="#" class="btn btn-save pull-right">
								<img src="assets/img/home/icon-gd-save.png" alt="gd">
								Save
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="block-comments">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="comments-box">
					<div class="comment-body">

					</div>
					<div class="comment-body">

					</div>
				</div>
				<div class="leave-comment table">
					<div class="avatar cell hidden-xs">
						<a href="#profile"><img src="assets/img/profile/avatar_bw.jpg" width="30px"></a>
					</div>
					<div class="input cell">
						<input type="text" class="form-control" placeholder="Add a comment">
						<div style="display: none;" class="form-expanded">
							<textarea>It will be quite </textarea>
							<div class="block-send">
								<a class="btn-cancel btn btn-default pull-right" href="#">Cancel</a>
								<a class="btn-send btn btn-default pull-right" href="#">Send</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="spacer clearfix"></div>

<div class="item-wrap -item-<%= id + 2 %>">
	<div class="item-content">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="table title-header-activities">
				<div class="img cell">
					<a href="#profile-searchresult">
						<img class="img-responsive" src="assets/img/profile/avatars/person-3.png" alt="sportlight">
					</a>
				</div>
				<div class="content cell">
					<p><a href="#profile-searchresult">Rick Bush </a> <span>shared a video</span></p>
					<p><span class="data">07/12/2014 - 4:35PM</span></p>
				</div>
			</div>
			<div class="content-community">
				<div class="table content-video">
					<div class="video cell">
						<div class="video-block">
							<video width="100%" height="70%" poster="assets/img/network/video-img.png">
								<source type="video/mp4" src="http://ieeetv.ieee.org/media/ieeetvmobile/ConferenceHighlights/IMS2014/IMS_2014_Opening_Plenary_mobile.mp4">
								<span>No video playback capabilities!</span>
							</video>
							<img class="play-btn" src="assets/img/icon_play.png" width="45" alt="play">
						</div>
					</div>
					<div class="content cell">
						<p class="hidden-xs">How Oculus Rift, the Crystal Cove Prototype and DK2 Actually Work</p>
						<p class="hidden-xs"><span class="bold-txt">Duration:</span> 00:03:02</p>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="block-comments">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="comments-box">
					<div class="comment-body">
						<div class="table">
							<div class="img cell hidden-xs">
								<a href="#profile-searchresult">
									<img class="img-responsive" src="assets/img/library/avatars/4.png" alt="avatar">
								</a>
							</div>
							<div class="content cell">
								<a href="#profile-searchresult"><p class="name">Hugo Díaz</p></a>
								<p><span class="data">25 apr 2014 </span></p>
								<p>It has to answer two simple questions, is it useful or not? and for what.</p>
							</div>
						</div>
					</div>
					<div class="comment-body">
						<div class="table">
							<div class="img cell hidden-xs">
								<a href="#profile-searchresult">
									<img class="img-responsive" src="assets/img/library/avatars/2.png" alt="avatar">
								</a>
							</div>
							<div class="content cell">
								<a href="#profile-searchresult"><p class="name">Tamer Ali</p></a>
								<p><span class="data">16 apr 2014</span></p>
								<p>Have it started or not yet?</p>
							</div>
						</div>
					</div>
					<div class="comment-body">
						<div class="table">
							<div class="img cell hidden-xs">
								<a href="#profile-searchresult">
									<img class="img-responsive" src="assets/img/library/avatars/3.png" alt="avatar">
								</a>
							</div>
							<div class="content cell">
								<a href="#profile-searchresult"><p class="name">Jim Solderitsch</p></a>
								<p><span class="data">16 apr 2014</span></p>
								<p>Not working for me -- or it hasn't started yet!</p>
							</div>
						</div>
					</div>
				</div>
				<div class="leave-comment table">
					<div class="avatar cell hidden-xs">
						<a href="#profile"><img src="assets/img/profile/avatars/person-1.png" width="30px"></a>
					</div>
					<div class="input cell">
						<input type="text" class="form-control" placeholder="Add a comment">
						<div style="display: none;" class="form-expanded">
							<textarea>It will be quite </textarea>
							<div class="block-send">
								<a class="btn-cancel btn btn-default pull-right" href="#">Cancel</a>
								<a class="btn-send btn btn-default pull-right" href="#">Send</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="spacer clearfix"></div>

<div class="item-wrap -item-<%= id + 3 %>">
	<div class="item-content">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="table title-header-activities">
				<div class="img cell">
					<a href="#profile-searchresult">
						<img class="img-responsive" src="assets/img/profile/avatars/person-6.png" alt="sportlight">
					</a>
				</div>
				<div class="content cell">
					<p><a href="#profile-searchresult">Brian Pratz  </a> <span>uploaded a document</span></p>
					<p><span class="data">16 hours ago</span></p>
				</div>
			</div>
			<div class="content-community">
				<div class="table content-document-2">
					<div class="img cell">
						<img class="img-responsive" src="assets/img/network/ieee-spectrum.png" alt="calend">
					</div>
					<div class="content cell">
						<p>IEEE Transactions on Computers</p>
						<ul class="pull-left">
							<li>Issue 8 </li>
							<li>Apr 2013 </li>
							<li>12 articles </li>
							<li>21.7mb</li>
						</ul>
						<a href="#" class="btn btn-save pull-right hidden-xs">
							<img src="assets/img/home/icon-gd-save.png" alt="gd">
							Save
						</a>
					</div>

				</div>
				<div class="box-btn-save visible-xs">
					<a href="#" class="btn btn-save">
						<img src="assets/img/home/icon-gd-save.png" alt="gd">
						Save
					</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="block-comments">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="comments-box">
					<div class="comment-body">
						<div class="table">
							<div class="img cell hidden-xs">
								<a href="#profile">
									<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="avatar">
								</a>
							</div>
							<div class="content cell">
								<a href="#profile"><p class="name">Tom Griffin (You)</p></a>
								<p><span class="data">17 Apr 2014</span></p>
								<p>It has to answer two simple questions, is it useful or not? and for what.</p>
							</div>
						</div>
					</div>
					<div class="comment-body">
						<div class="table">
							<div class="img cell hidden-xs">
								<a href="#profile-searchresult">
									<img class="img-responsive" src="assets/img/profile/avatars/person-4.png" alt="avatar">
								</a>
							</div>
							<div class="content cell">
								<a href="#profile-searchresult"><p class="name">Alice Hamilton</p></a>
								<p><span class="data">17 Apr 2014</span></p>
								<p>Have it started or not yet?</p>
							</div>
						</div>
					</div>
				</div>
				<div class="leave-comment table">
					<div class="avatar cell hidden-xs">
						<a href="#profile"><img src="assets/img/profile/avatars/person-1.png" width="30px"></a>
					</div>
					<div class="input cell">
						<input type="text" class="form-control" placeholder="Add a comment">
						<div style="display: none;" class="form-expanded">
							<textarea>It will be quite </textarea>
							<div class="block-send">
								<a class="btn-cancel btn btn-default pull-right" href="#">Cancel</a>
								<a class="btn-send btn btn-default pull-right" href="#">Send</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="spacer clearfix"></div>

<div class="item-wrap -item-<%= id + 4 %>">
	<div class="item-content">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="table title-header-activities">
				<div class="img cell">
					<a href="#profile">
						<img class="img-responsive" src="assets/img/profile/avatar_bw.jpg" alt="avatar">
					</a>
				</div>
				<div class="content cell">
					<p><a href="#profile">Tom Griffin (You) </a> <span>uploaded a document</span></p>
					<p><span class="data">11 hours ago</span></p>
				</div>
			</div>
			<div class="content-community">
				<div class="content-event">
					<div class="table content-comunity">
						<div class="img cell">
							<img class="img-responsive" src="assets/img/home/img-calend.png" alt="calend">
						</div>
						<div class="content cell">
							<p class="hidden-xs">International Microwave Symposium</p>
						</div>
						<div class="btn-box cell">
							<p class="clearfix"><a href="#" class="btn pull-right"><i class="fa fa-check"></i> Going</a></p>
							<p><a href="#" class="btn pull-right"><i class="fa fa-envelope"></i> Invite</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="block-comments">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="leave-comment table">
					<div class="avatar cell hidden-xs">
						<a href="#profile"><img src="assets/img/profile/avatars/person-1.png" width="30px"></a>
					</div>
					<div class="input cell">
						<input type="text" class="form-control" placeholder="Add a comment">
						<div style="display: none;" class="form-expanded">
							<textarea>It will be quite </textarea>
							<div class="block-send">
								<a class="btn-cancel btn btn-default pull-right" href="#">Cancel</a>
								<a class="btn-send btn btn-default pull-right" href="#">Send</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>

</div>