<div class="container no-padd padd-xs">
	<div class="spacer visible-xs"></div>
	<div id="settings-personalinformation">
		<!-- Left Panel -->

		<div class="col-xs-12 col-md-9 col-lg-10 no-padd">
			<div class="profile-controls col-xs-12 no-padd">
				<div class="view-as col-xs-4 col-sm-4 padd-xs">
					<a href="#" class="view-profile-as dropdown-toggle profile-view-as-select" data-toggle="dropdown">
						View <span class="hidden-xs">my</span> profile as
						<i class="fa fa-chevron-down"></i>
					</a>
					<ul class="dropdown-menu view-as-menu">
						<li><a href="#profile-details"><i class="fa fa-check"></i>Myself</a></li>
						<li><a href="#profile-public"><i class="fa fa-check"></i>Public</a></li>
						<li><a href="#profile-as"><i class="fa fa-check"></i>All PPCT Users</a></li>
						<li><a href="#profile-as"><i class="fa fa-check"></i>IEEE Member</a></li>
						<li><a href="#profile-as"><i class="fa fa-check"></i>My Connections</a></li>
					</ul>
				</div>
				<div class="manage-settings privacy-menu col-xs-4 col-sm-4 padd-xs">
					<a href="#profile-privacy" class="view-profile-as">Manage privacy <span class="hidden-xs">settings</span></a>
				</div>
				<div class="active manage-profile personalinformation-menu col-xs-4 col-sm-4 padd-xs">
					<a href="#profile-personalinfo" class="view-personalinformation">Edit&nbsp;<span class="hidden-xs">personal info</span><span class="hidden-sm hidden-md hidden-lg">profile</span></a>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="table-inform col-lg-12 info-block">
				<div class="row">
					<div class="table">
						<div class="cell cell-icon ">
							<a href="#"><img src="assets/img/settings/icon-person.png" width="44" height="44" alt="Google"></a>
						</div>
						<div class="cell cell-txt">
							<h4>IEEE Personal Data</h4>
							<p>Name, profile, photo, gender, date of birth, biography, contact info.</p>
						</div>
						<div class="cell cell-button">
						<a href="https://www.ieee.org/profile/personalprofile/getPersonalProfile.html" target="_blank" class="btn-manage pull-right hidden-xs">Manage</a>
						<a href="https://www.ieee.org/profile/personalprofile/getPersonalProfile.html" class="pull-right visible-xs"><i class="fa fa-cog"></i></a>
					</div>
					</div>
				</div>
				<div class="row">
					<div class="table">
						<div class="cell cell-icon ">
							<a href="#"><img src="assets/img/settings/icon-education.png" width="44" height="44" alt="Google"></a>
						</div>
						<div class="cell cell-txt">
							<h4>Professional and Educational Info</h4>
							<p>Current and previous employers, certifications, university/college etc.</p>
						</div>
						<div class="cell cell-button">
							<a href="https://www.ieee.org/profile/profedu/getProfEduInformation.html" target="_blank" class="btn-manage pull-right hidden-xs">Manage</a>
							<a href="https://www.ieee.org/profile/profedu/getProfEduInformation.html" class="pull-right visible-xs"><i class="fa fa-cog"></i></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="table">
						<div class="cell cell-icon ">
							<a href="#"><img src="assets/img/settings/icon-membership.png" width="44" height="44" alt="Google"></a>
						</div>
						<div class="cell cell-txt">
							<h4>Memberships and Subscriptions</h4>
							<p>Manage your IEEE Memberships.</p>
						</div>
						<div class="cell cell-button">
							<a href="https://www.ieee.org/profile/membershipandsubscription/showMembershipsAndSubscriptions.html" target="_blank" class="btn-manage pull-right hidden-xs">Manage</a>
							<a href="https://www.ieee.org/profile/membershipandsubscription/showMembershipsAndSubscriptions.html" class="pull-right visible-xs"><i class="fa fa-cog"></i></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="table">
						<div class="cell cell-icon ">
							<a href="#"><img src="assets/img/settings/icon-technical.png" width="44" height="44" alt="Google"></a>
						</div>
						<div class="cell cell-txt">
							<h4>Technical Interests</h4>
							<div class="interests-setup">
								<div class="nav-wrap col-xs-12 no-padd-xs no-padd">
									<ul class="nav navbar-nav">
										<li class="active no-padd">
											<a href="#your-selections" data-toggle="tab"><i class="fa fa-bullseye"></i>Your Selections</a>
										</li>
										<li class="no-padd">
											<a href="#search-tab" data-toggle="tab"><i class="fa fa-search"></i>Search</a>
										</li>
										<li class="no-padd">
											<a href="#all-disciplines" data-toggle="tab"><i class="not-fa">A—Z</i>All Disciplines</a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
								<div class="tab-content">
									<div class="tab-pane active" id="your-selections">
										<div class="col-xs-12 col-sm-4 col-lg-3 pull-right no-padd">
											<div class="dropdown-nav pull-right">
												<span class="pull-left type-of-sort"><i class="fa fa-sort-amount-asc"></i></span>
												<ul class="nav pull-right">
													<li class="dropdown">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown">
															<span class="filter-selections-current">Date added</span>
															<i class="fa fa-chevron-down pull-right"></i>
														</a>
														<ul class="dropdown-menu filter-selections">
															<li><a href="#">Alphabet</a></li>
															<li class="filter-selections-current"><a href="#">Date added</a></li>
															<li><a href="#">Popularity</a></li>
														</ul>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-xs-12 col-sm-8 col-lg-9 no-padd-xs no-padd-left">
											<div class="interests-tags">
												<div class="interest pull-left">System Architecture<i class="remove fa fa-times"></i></div>
												<div class="interest pull-left">CRM<i class="remove fa fa-times"></i></div>
												<div class="interest pull-left">Program Management<i class="remove fa fa-times"></i></div>
												<div class="interest pull-left">Software Design<i class="remove fa fa-times"></i></div>
												<div class="interest pull-left">Web Analytics<i class="remove fa fa-times"></i></div>
												<div class="interest pull-left">Web Design<i class="remove fa fa-times"></i></div>
												<div class="interest pull-left">Enterprise Architecture<i class="remove fa fa-times"></i></div>
												<div class="interest pull-left">Cloud Computing<i class="remove fa fa-times"></i></div>
												<div class="interest pull-left">Fraud<i class="remove fa fa-times"></i></div>
												<div class="interest pull-left">Project Management Analytics<i class="remove fa fa-times"></i></div>
												<div class="interest pull-left">Digital Asset Management<i class="remove fa fa-times"></i></div>
												<div class="interest pull-left">Marketing<i class="remove fa fa-times"></i></div>
												<div class="interest pull-left">Interaction Design<i class="remove fa fa-times"></i></div>
												<div class="interest pull-left">Agile Methodologies<i class="remove fa fa-times"></i></div>
												<div class="clearfix"></div>
											</div>
										</div>

										<div class="clearfix"></div>
									</div>
									<div class="tab-pane" id="search-tab">
										<div class="input-wrap col-md-8 col-sm-12 no-padd-md no-padd-lg">
											<input type="text" class="file-tags-input" placeholder="Search for disciplines of your interest" />
											<a class="search-icon" href=""><i class="fa fa-search"></i></a>
										</div>
										<div class="clearfix"></div>
										<!-- <div class="col-xs-12 no-padd-xs results-on-typing">
											<ul class="results-list">
												<li class="col-sm-6 col-xs-12">
													<a href="#"><i class="fa fa-check"></i>Aerospace control</a>
													<ul>
														<li><a href="#"><i class="fa fa-check"></i>Air traffic control</a></li>
														<li><a href="#"><i class="fa fa-check"></i>Attitude control</a></li>
														<li><a href="#"><i class="fa fa-check"></i>Ground support</a></li>
													</ul>
												</li>
												<li class="col-sm-6 col-xs-12">
													<a href="#"><i class="fa fa-check"></i>Command and control systems</a>
												</li>
												<li class="col-sm-6 col-xs-12">
													<a href="#"><i class="fa fa-check"></i>Oscillators</a>
													<ul>
														<li><a href="#"><i class="fa fa-check"></i>Digital-controlled oscillators</a></li>
														<li><a href="#"><i class="fa fa-check"></i>Voltage-controlled oscillators</a></li>
													</ul>
												</li>
												<li class="col-sm-6 col-xs-12">
													<a href="#"><i class="fa fa-check"></i>Communication systems</a>
													<ul>
														<li><a href="#"><i class="fa fa-check"></i>Communication system control</a></li>
														<li><a href="#"><i class="fa fa-check"></i>Communication system traffic control</a></li>
													</ul>
												</li>
												<li class="col-sm-6 col-xs-12">
													<a href="#"><i class="fa fa-check"></i>Computer applications</a>
													<ul>
														<li><a href="#"><i class="fa fa-check"></i>Control engineering computing</a></li>
													</ul>
												</li>
											</ul>
											<div class="clearfix"></div>
											<a class="btn btn-load-more">See all</a>
											<div class="clearfix"></div>
										</div> -->
										<div class="clearfix"></div>
									</div>
									<div class="tab-pane " id="all-disciplines">
										<ul class="alphabet-list hidden-xs">
											<% _.each(_.range(
											'A'.charCodeAt(),
											'Z'.charCodeAt()
											), function(letter, index) { %>
											<li <%= (index == 0)? ' class="active"' : '' %>><a href="#"><%= String.fromCharCode(letter) %></a></li>
											<% }) %>
										</ul>
										<div id="alphabet-scroller" class="visible-xs">
											<ul class="alphabet-list-mobile ">
												<% _.each(_.range(
												'A'.charCodeAt(),
												'Z'.charCodeAt()
												), function(letter, index) { %>
												<li <%= (index == 0)? ' class="active"' : '' %>><a href="#"><%= String.fromCharCode(letter) %></a></li>
												<% }) %>
											</ul>
										</div>
										<div class="clearfix"></div>
										<div class="col-xs-12 no-padd-xs">
											<ul class="results-list">
												<li class="col-sm-6 col-xs-12">
													<a href="#"><i class="fa fa-check"></i>Aerospace control</a>
													<ul>
														<li><a href="#"><i class="fa fa-check"></i>Air traffic control</a></li>
														<li><a href="#"><i class="fa fa-check"></i>Attitude control</a></li>
														<li><a href="#"><i class="fa fa-check"></i>Ground support</a></li>
													</ul>
												</li>
												<li class="col-sm-6 col-xs-12">
													<a href="#"><i class="fa fa-check"></i>Command and control systems</a>
												</li>
												<li class="col-sm-6 col-xs-12">
													<a href="#"><i class="fa fa-check"></i>Oscillators</a>
													<ul>
														<li><a href="#"><i class="fa fa-check"></i>Digital-controlled oscillators</a></li>
														<li><a href="#"><i class="fa fa-check"></i>Voltage-controlled oscillators</a></li>
													</ul>
												</li>
												<li class="col-sm-6 col-xs-12">
													<a href="#"><i class="fa fa-check"></i>Communication systems</a>
													<ul>
														<li><a href="#"><i class="fa fa-check"></i>Communication system control</a></li>
														<li><a href="#"><i class="fa fa-check"></i>Communication system traffic control</a></li>
													</ul>
												</li>
												<li class="col-sm-6 col-xs-12">
													<a href="#"><i class="fa fa-check"></i>Computer applications</a>
													<ul>
														<li><a href="#"><i class="fa fa-check"></i>Control engineering computing</a></li>
													</ul>
												</li>
											</ul>
											<div class="clearfix"></div>
										</div>
										<div class="clearfix"></div>
										<a class="btn btn-load-more">See all</a>
										<div class="clearfix"></div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="row publication">
					<div class="table">
						<div class="cell cell-icon ">
							<a href="#"><img src="assets/img/settings/icon-publication.png" width="44" height="44" alt="Google"></a>
						</div>
						<div class="cell cell-txt">
							<h4>Your Publications</h4>
							<p>Are you an author who has one or more articles published in the IEEE <i>Xplore</i>?</p>
							<div class="block-nav-publications clearfix">
								<div class="box-input pull-left">
									<input type="text" placeholder="Last Name" value="Setti"/>
									<input type="text" placeholder="First Name" value="Gianluca"/>
									<input type="text" placeholder="Middle Name" value=" "/>
								</div>
								<a href="#" class="btn-add pull-left"><i class="fa fa-plus"></i></a>
								<div class="box-text pull-left">
									Do you spell your name differently from your PPCT profile?<br>
									Add it, and we will fetch your publications.
								</div>
								<div class="clearfix"></div>
								<a href="#" class="btn-claim">Claim Your Papers</a>
							</div>
						</div>
					</div>
					<div class="claimed-publications">
						<h5>You claimed 25 publications</h5>
						<div class="all-publications">
							<div class="row-box">
								<input type="checkbox" class="checkbox"/>
								<h6>Gianluca Setti, Montreal.</h6>
								<p>Technical Program Chairs 2004</p>
							</div>
							<div class="row-box">
								<input type="checkbox" class="checkbox"/>
								<h6>G. Setti.</h6>
								<p>Embeddable ADC-based True Random Number Generator for Cryptographic Applications Exploiting Nonlinear Signal Processing and Chaos vol.53 no.2-2,2005</p>
							</div>
							<div class="row-box">
								<input type="checkbox" class="checkbox"/>
								<h6>G. Setti.</h6>
								<p>Embeddable ADC-based True Random Number Generator for Cryptographic Applications Exploiting Nonlinear Signal Processing and Chaos vol.53 no.2-2,2005</p>
							</div>
							<div class="row-box">
								<input type="checkbox" class="checkbox"/>
								<h6>G. Setti.</h6>
								<p>Embeddable ADC-based True Random Number Generator for Cryptographic Applications Exploiting Nonlinear Signal Processing and Chaos vol.53 no.2-2,2005</p>
							</div>
							<div class="row-box">
								<input type="checkbox" class="checkbox"/>
								<h6>Gianluca Setti, Montreal</h6>
								<p>Technical Program Chairs 2004</p>
							</div>
						</div>
					</div>
					<div class="box-showall">
						<a href="#" class="btn-showall">Show all</a>
					</div>
				</div>
			</div>
		</div>
		<!-- / Left Panel -->
		<!-- Right Panel -->
		<div class="ads col-md-3 col-lg-2 hidden-sm hidden-xs">
			<p class="advertisement center-block">Advertisement</p>

			<div class="side-advertisement">
				<a href="#" class="hidden-xs">
					<img src="assets/img/profile/advertising-robots.png" alt="ad">
				</a>
			</div>
		</div>
		<!-- /Right Panel -->
			<!-- Mobile and Tablet bottom Ads -->
		    <div class="col-xs-12 no-padd hidden-lg hidden-md">
			<div class="ads center-block">
				<p>Advertisement</p>
				<img src="assets/img/ads/banner-tablet.png" class="advertising visible-sm" alt="banner" width="720">
				<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
				<div class="spacer clearfix"></div>
			</div>
	    </div>
	    <div class="spacer clearfix"></div>
	</div>
</div>
