<div id="bg" class="container">
	<div id="bg-images"></div>
	<div id="library-setup">
		<div class="no-padd-xs">
			<div id="overlay">
				<div class="col-xs-12 col-sm-9 no-padd">
					<h1>Organizing the Library</h1>

					<div class="description padd">
						<p>Your PPCT Library can be automatically organized into subfolders, based upon document metdata, to make it easier for you to manage documents. This only pertains to the directory dedicated to the PPCT Library. No other directories within your Google Drive will be modified.</p>
					</div>
					<h3 class="question-for-use">Do you want the PPCT Library to organize your Google Drive?</h3>
					<div class="answer-box">
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
								<b>No</b> - I will organize my Google Drive myself.
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked="checked">
								<b>Yes</b> - I would like the PPCT Library to automatically organize my research.
							</label>
						</div>
					</div>
				</div>

				<div class="clearfix big-spacer"></div>

				<div class="col-xs-12 no-padd">
					<div class="library-organizing">
						<div class="info-block clearfix">
							<div class="col-md-12">
								<div class="check-box">
									<label>
										<input type="checkbox" class="checkbox"/>
										Delete original files from Research/PPCT Library/Incoming upon successful import <i class="fa fa-question-circle question"></i>
									</label>
								</div>
								<div class="check-box">
									<label>
										<input type="checkbox" class="checkbox" checked="checked"/>
										Organize Research/PPCT Library/Data into subdirectories:
									</label>
								</div>
							</div>
							<div class="col-md-5 padd-top">
								<ul class="nav pull-left">
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											Author
											<i class="fa fa-chevron-down pull-right"></i>
										</a>
										<ul class="dropdown-menu">
											<li><a href="#">Generate Citation</a></li>
											<li><a href="#">Flag for Review</a></li>
											<li><a href="#">Delete</a></li>
										</ul>
									</li>
								</ul>
								<a href="#" class="btn btn-add pull-right">Add</a>
								<div class="clearfix"></div>
							</div>
							<div class="file-tree col-md-7 no-padd">
								<div class="tree well no-padd-left">
									<ul class="no-padd">
										<li>
											<span><i class="fa fa-folder"></i> PPCT Library</span>
											<ul>
												<li>
													<span><i class="fa fa-folder"></i> Data</span>
													<ul>
														<li>
															<span><i class="fa fa-folder"></i> Category</span>
															<ul>
																<li>
																	<span><i class="fa fa-folder"></i> Year</span>
																	<ul>
																		<li>
																			<span><i class="fa fa-folder"></i> Author</span>
																		</li>
																	</ul>
																</li>
															</ul>
														</li>
													</ul>
												</li>

											</ul>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-12">
								<b>Example document:</b>
								<a href="#" class="link-gdrive">Google Drive/Research/PPCT Library/Data/file.pdf</a>
							</div>
						</div>
						<div class="info-block clearfix">
							<div class="col-md-12">
								<div class="check-box">
									<label>
										<input type="checkbox" class="checkbox"/>
										Replace spaces in file names with hyphens
									</label>
								</div>
								<div class="check-box">
									<label>
										<input type="checkbox" class="checkbox" checked="checked"/>
										Rename files in the PPCT Library as follows:
									</label>
								</div>
							</div>
							<div class="col-md-5 padd-top">
								<ul class="nav pull-left">
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											Author Initial
											<i class="fa fa-chevron-down pull-right"></i>
										</a>
										<ul class="dropdown-menu">
											<li><a href="#">Source</a></li>
											<li><a href="#">Title</a></li>
											<li><a href="#">Author Initial</a></li>
											<li><a href="#">Category</a></li>
											<li><a href="#">Date</a></li>
										</ul>
									</li>
								</ul>
								<a href="#" class="btn btn-add  pull-right">Add</a>
							</div>
							<div class="col-md-7"></div>
						</div>
					</div>
				</div>

				<div class="clearfix big-spacer"></div>

				<div class="col-xs-4 col-sm-2 no-padd">
					<a href="#librarysetup-managingcitations" class="btn btn-later pull-left">Skip this step</a>
				</div>
				<div class="col-xs-4 col-sm-8 no-padd">
					<a href="#librarysetup-filelocationchosen" class="btn btn-nav btn-previous pull-right"><i class="fa fa-chevron-left"></i> Previous</a>
				</div>
				<div class="col-xs-4 col-sm-2  no-padd">
					<a href="#librarysetup-managingcitations" class="btn btn-nav btn-continue">Continue <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
