<div id="bg" class="container">
	<div id="bg-images"></div>

	<div id="library-setup">
		<div class="no-padd-xs">
			<div id="overlay">
				<div class="col-xs-12 col-sm-9 no-padd">
					<h1>Cloud Storage Setup&nbsp;<i class="fa fa-question-circle question"></i></h1>

					<div class="description padd">
						<p>Your IEEE membership includes access to GoogleApps@IEEE, a program focused on providing members with Google Apps Enterprise Edition. This service includes 30gb of cloud-based storage for email and documents stored in your PPCT Library.</p>
						<p>&nbsp;</p>
						<p>The PPCT Library also works with other cloud-based storage providers. While some functions will be unavailable, you will be able to store research, generate citations, conduct searches, and build smart collections for your papers. IEEE recommends using Google Drive with PPCT.</p>
					</div>
				</div>
				<div class="col-xs-12 no-padd">
					<div class="row">
 						<div class="col-xs-12 setup-cloud-storage">
							<h3 class="question-for-use">Would you like to setup cloud storage?</h3>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="checked">
									<b>No</b> - I do not wish to store documents in ppct, just links. (Limiting features of the library).
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									<b>Yes</b> - Utilize a cloud storage provider to leverage all the features of the PPCT library.
								</label>
							</div>
 						</div>
					</div>
				</div>
				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>

				<div class="col-xs-4 col-sm-2 no-padd">
					<a href="#library" class="btn btn-later pull-left">Save for later</a>
				</div>
				<div class="col-xs-4 col-sm-8 no-padd">
					<a href="#library" class="btn btn-nav btn-previous pull-right"><i class="fa fa-chevron-left"></i> Previous</a>
				</div>
				<div class="col-xs-4 col-sm-2  no-padd">
					<a href="#librarysetup-storagelocation" class="btn btn-nav btn-continue">Continue <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
