<div id="bg" class="container">
	<div id="bg-images"></div>
	<div id="library-setup" class="library-setup-import">
		<div class="no-padd-xs">
			<div id="overlay">
				<div class="col-xs-12 col-sm-9 no-padd">
					<h1>PPCT Library: Import Research</h1>

					<div class="description padd">
						<p>
							It's very easy to get started with the PPCT Library. Import your research from other applications, connect to a cloud-based storage provider to migrate content to your Google Drive, or simply upload files from your computer.
						</p>
					</div>
				</div>

				<div class="import-from-ieee-xplore col-xs-12">
					<div class="row">
						<div class="col-sm-8">
							<label>
								<input type="checkbox" class="checkbox" checked="checked"/><p>Import articles I have downloaded from IEEE Xplore</p>
							</label>
						</div>
						<div class="col-sm-4">
							<img src="assets/img/library_setup/ieee_xplore_logo.png" class="img-responsive" alt="Storage provider">
						</div>
					</div>
				</div>

				<div class="col-xs-12">
					<h4>How do you want to import other research into the PPCT Library?</h4>
					<label>
						<input type="radio" class="radio" checked="checked" /><p>I will not be migrating any research into PPCT Library</p>
					</label>
				</div>

				<div class="col-xs-12">
					<div class="row">
						<!-- Tabs Navigation Buttons -->
						<div class="col-xs-12">
							<h3 class="question-for-use">Research tools</h3>
						</div>
						<div class="col-xs-12 col-md-5 col-lg-4">
							<div class="box-tabs-nav">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#zotero" data-toggle="tab">
										<div class="table">
											<div class="img cell">
												<img src="assets/img/library_setup/zotero_logo.png" width="30" height="30" alt="Storage provider">
											</div>
											<div class="text cell">
												Zotero
											</div>
										</div>
									</a>
									</li>
									<li class="active"><a href="#mendeley" data-toggle="tab">
										<div class="table">
											<div class="img cell">
												<img src="assets/img/library_setup/mendeley_logo.png" width="30" height="30" alt="Storage provider">
											</div>
											<div class="text cell">
												Mendeley
											</div>
										</div>
									</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="clearfix big-spacer hidden-md hidden-lg"></div>
						<!-- Tabs Content -->
						<div class="col-xs-12 col-md-7 col-lg-8">
							<div class="tab-content">
								<div class="tab-pane" id="zotero">
									<div class="col-xs-4 col-sm-5 col-md-3 zotero-logo">
										<img src="assets/img/library_setup/zotero_logo.png" width="100%" class="img-responsive" alt="Storage provider">
									</div>
									<div class="col-xs-8 col-sm-12 col-md-9">
										<h3>Sign in</h3>
										<form action="">
											<label>
												<input type="text" name="username" placeholder="Email">
											</label>
											<label>
												<input type="password" name="password" placeholder="Password">
											</label>
											<a href="#" class="btn btn-subscribe pull-right">Sign in</a>
										</form>
									</div>
								</div>
								<div class="tab-pane active" id="mendeley">
									<div class="retrieved-docs">
										<h4>Documents retrieved from Mendeley</h4>
										<p>Retrieved 2077 documents from Mendeley below. Please select the documents you would like to import.</p>

										<div class="search-box">
											<input type="text" placeholder="Search">
											<a href="#"><i class="fa fa-search"></i></a>
										</div>

										<div class="all-docs">
											<div class="row-box">
												<input type="checkbox" class="checkbox">
												<p>Select All</p>
											</div>
											<div class="row-box first">
												<input type="checkbox" class="checkbox">
												<h6>Gianluca Setti, Montreal.</h6>
												<p>Technical Program Chairs 2004</p>
											</div>
											<div class="row-box">
												<input type="checkbox" class="checkbox">
												<h6>G. Setti.</h6>
												<p>Embeddable ADC-based True Random Number Generator for Cryptographic Applications Exploiting Nonlinear Signal Processing and Chaos vol.53 no.2-2,2005</p>
											</div>
											<div class="row-box">
												<input type="checkbox" class="checkbox">
												<h6>G. Setti.</h6>
												<p>Peformance of Chaos-Based Asynchronous DS-CDMA with Different Pulse Shapes IEEE Communications Letters, vol.8, no.7, pp.416-418, 2004</p>
											</div>
											<div class="row-box">
												<input type="checkbox" class="checkbox">
												<h6>L. Razzini, G. Setti.</h6>
												<p>Embeddable ADC-based true random number generator for cryptographic applications exploiting nonlinear signal processing and chaos vol.53 no.2-2, 2005</p>
											</div>
										</div>
										<div class="box-showall">
											<a href="#" class="btn-showall">Show all</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="clearfix big-spacer"></div>

				<div class="col-xs-4 col-sm-2 no-padd">
					<a href="#library" class="btn btn-later pull-left">Save for later</a>
				</div>
				<div class="col-xs-4 col-sm-8 no-padd">
					<a href="#librarysetup-importmendeleystep2" class="btn btn-nav btn-previous pull-right"><i class="fa fa-chevron-left"></i> Previous</a>
				</div>
				<div class="col-xs-4 col-sm-2  no-padd">
					<a href="#librarysetup-importmendeleystep4" class="btn btn-nav btn-continue">Continue <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
