<div id="bg" class="container">
	<div id="bg-images"></div>
	<div id="library-setup">
		<div class="no-padd-xs">
			<div id="overlay">
				<div class="col-xs-12 col-sm-9 no-padd">
					<h1>Storage Location</h1>

					<div class="description padd">
						<p>The PPCT library requires a folder on Google Drive in order to store documents and metadata. The name of this folder is 'PPCT Library' and it can be stored anywhere on your Google Drive. Please do not move or delete this folder.</p>
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="answer-box col-xs-12">
					<h3 class="question-for-use">Would you like to setup cloud storage?</h3>
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="checked">
							<b>No</b> - I authorize PPCT to automatically choose a location for the PPCT library.
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							<b>Yes</b> - I would like to choose the folder for the PPCT library.
						</label>
					</div>
				</div>

				<div class="clearfix big-spacer"></div>
				<div class="clearfix big-spacer"></div>

				<div class="col-xs-4 col-sm-2 no-padd">
					<a href="#librarysetup-filelocation" class="btn btn-later pull-left">Skip this step</a>
				</div>
				<div class="col-xs-4 col-sm-8 no-padd">
					<a href="#librarysetup" class="btn btn-nav btn-previous pull-right"><i class="fa fa-chevron-left"></i> Previous</a>
				</div>
				<div class="col-xs-4 col-sm-2  no-padd">
					<a href="#librarysetup-filelocation" class="btn btn-nav btn-continue">Continue <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
