<div id="bibliography-modal" class="modal-dialog">
	<div class="modal-content col-xs-12 no-padd">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<h4>3 Citations</h4>
		<div class="spacer clearfix"></div>
		<div class="text-center">
			<!--<i class="fa fa-spinner"></i>-->
			<img class="hidden-xs" src="assets/img/bibliography/spinner.gif" width="90" alt="spinner">
			<img class="visible-xs" src="assets/img/bibliography/generating_mobile.gif" width="290" alt="progress">
		</div>
		<div class="spacer clearfix"></div>
		<p class="text-center">Generating...</p>
		<div class="spacer clearfix"></div>
		<div class="foot center-block">
			<button class="btn btn-default btn-cancel">Cancel</button>
		</div>
	</div>
</div>
