<div id="bibliography-modal" class="modal-dialog">
	<div class="modal-content col-xs-12 no-padd citation-style-select">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<h4>3 Citations</h4>
		<div class="selector-panel bibliographies-next-step title-step-name table">
			<div class="img cell">
				<img src="assets/img/bibliography/icon_books.png" width="58" alt="icon">
			</div>
			<div class="txt cell">
				<h4>Bibliographies</h4>
			</div>
		</div>
		<p>Citation Style:</p>
		<div class="dropdown citation-select">
			<div class="dropdown-toggle" data-toggle="dropdown">
				<span class="current">American Medical Assosiation</span>
				<i class="fa fa-chevron-down pull-right"></i></div>
			<ul class="dropdown-menu">
				<li id="li-political">American Political Science Assosiation</li>
				<li id="li-psychological">American Psychological Assosiation</li>
				<li id="li-sociological">American Sociological Assosiation</li>
			</ul>
		</div>
		<p>Delivery (.rtf):</p>
		<div class="type-of-save">
			<p><label><input type="radio" class="save-locally"  name="group1" value="locally" checked="checked"><span>Save Locally</span></label></p>
			<p><label><input type="radio" class="save-to-ppct-library" name="group1" value="ppct_library"><span>Save to PPCT Library</span></label></p>
		</div>
		<div class="spacer clearfix"></div>
		<div class="foot center-block">
			<button class="btn btn-default btn-back">Back</button>
			<button class="btn btn-default btn-continue">Continue</button>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

