<div id="bibliography-modal" class="modal-dialog">
	<div class="modal-content col-xs-12 no-padd">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<h4>3 Citations</h4>
		<p class="txt-question">You’ve gathered a ton of research! What do you want to do with it?</p>
		<div class="spacer clearfix"></div>
		<div class="selector-panel bibliographies-next-step table">
			<div class="img cell">
				<img src="assets/img/bibliography/icon_books.png" width="58" alt="icon">
			</div>
			<div class="txt cell">
				<h4>Bibliographies</h4>
				<p>PPCT will automatically create and format your bibliographies.</p>
			</div>
		</div>
		<hr>
		<div class="selector-panel export-citations-next-step table">
			<div class="img cell">
				<img src="assets/img/bibliography/icon_export_citations.png" width="58" alt="icon">
			</div>
			<div class="txt cell">
				<h4>Export Citations</h4>
				<p>Locally or to cloud storage, using a specified format.</p>
			</div>
		</div>
		<div class="spacer clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>
