<div id="add-folder" class="modal-dialog">
	<div class="col-xs-12 no-padd">
		<!--<a href="#" class="close"><i class="fa fa-times"></i></a>-->
		<h4>Rename Collection</h4>
		<div class="spacer clearfix"></div>

		<input type="text" class="col-xs-12 no-padd collection-name">

		<div class="buttons center-block col-xs-12 no-padd">
			<div class="col-xs-6">
				<a href="#researchgroups-participants" class="btn btn-default btn-rename pull-right">Rename</a>
			</div>
			<div class="col-xs-6">
				<a href="#" class="btn btn-default btn-cancel">Cancel</a>
			</div>
		</div>
		<div class="big-spacer clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>