<div id="researchtools-modal" class="modal-dialog">
	<div class="modal-content col-xs-12 no-padd">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<h4>Documents retrieved from Mendeley</h4>
		<div class="retrieved-docs">
			<p>Retrieved 2077 documents from Mendeley below. Please select the documents you would like to import.</p>
			<div class="spacer clearfix"></div>
			<div class="search-box">
				<input type="text" placeholder="Search">
				<a href="#"><i class="fa fa-search"></i></a>
			</div>

			<div class="all-docs">
				<div class="row-box">
					<input type="checkbox" class="checkbox" autocomplete="off" style="display: none;">
					<p>Select All</p>
				</div>
				<div class="row-box first">
					<input type="checkbox" class="checkbox" autocomplete="off" style="display: none;">
					<h6>Gianluca Setti, Montreal.</h6>
					<p>Technical Program Chairs 2004</p>
				</div>
				<div class="row-box">
					<input type="checkbox" class="checkbox" autocomplete="off" style="display: none;">
					<h6>G. Setti.</h6>
					<p>Embeddable ADC-based True Random Number Generator for Cryptographic Applications Exploiting Nonlinear Signal Processing and Chaos vol.53 no.2-2,2005</p>
				</div>
				<div class="row-box">
					<input type="checkbox" class="checkbox" autocomplete="off" style="display: none;">
					<h6>G. Setti.</h6>
					<p>Peformance of Chaos-Based Asynchronous DS-CDMA with Different Pulse Shapes IEEE Communications Letters, vol.8, no.7, pp.416-418, 2004</p>
				</div>
				<div class="row-box">
					<input type="checkbox" class="checkbox" autocomplete="off" style="display: none;">
					<h6>L. Razzini, G. Setti.</h6>
					<p>Embeddable ADC-based true random number generator for cryptographic applications exploiting nonlinear signal processing and chaos vol.53 no.2-2, 2005</p>
				</div>
			</div>
			<div class="box-showall">
				<a href="#" class="btn-showall">Show all</a>
			</div>
		</div>
		<a href="#" class="btn btn-default btn-back pull-left">Back</a>
		<a href="#" class="btn btn-default btn-continue pull-right">Continue</a>
		<div class="clearfix big-spacer hidden-md hidden-lg"></div>
	</div>
</div>