<div id="researchtools-modal" class="modal-dialog">
	<div class="modal-content col-xs-12 no-padd">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<h4>Research Tools</h4>
		<div class="spacer clearfix"></div>
		<div class="selector-panel zotero table">
			<div class="img cell">
				<img src="assets/img/library_setup/zotero_logo.png" width="58" alt="icon">
			</div>
			<div class="txt cell">
				<h4>Zotero</h4>
			</div>
		</div>
		<hr>
		<div class="selector-panel mendeley table">
			<div class="img cell">
				<img src="assets/img/library_setup/mendeley_logo.png" width="58" alt="icon">
			</div>
			<div class="txt cell">
				<h4>Mendeley</h4>
			</div>
		</div>
		<div class="spacer clearfix"></div>
		<div class="big-spacer clearfix visible-xs"></div>
	</div>
	<div class="clearfix"></div>
</div>
