<div id="researchtools-modal" class="modal-dialog">
	<div class="modal-content col-xs-12 no-padd">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<h4>Research Tools</h4>
		<div class="spacer clearfix"></div>
		<div class="tab-pane active" id="mendeley">
			<div class="col-xs-12 col-md-4">
				<div class="big-spacer hidden-sm hidden-xs"></div>
				<div class="mendeley-logo">
					<img src="assets/img/library_setup/mendeley_logo.png" width="120px" alt="MENDELEY">
				</div>
			</div>
			<div class="col-xs-12 col-md-8">
				<p class="heading">Sign in</p>
				<div class="spacer"></div>
				<form class="mendeley-login-form" action="#">
					<input type="text" name="username" placeholder="Email">
					<div class="big-spacer"></div>
					<input type="text" name="password" placeholder="Password">
					<div class="clearfix"></div>
					<div class="big-spacer"></div>
					<a href="#librarysetup-importmendeleystep2" class="btn btn-sign-in pull-right">Sign in</a>
				</form>
			</div>
		</div>
		<div class="spacer clearfix"></div>
		<div class="big-spacer clearfix visible-xs"></div>
	</div>
	<div class="clearfix"></div>
</div>
