<div id="researchtools-modal" class="modal-dialog">
	<div class="modal-content col-xs-12 no-padd">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<h4>Research Tools</h4>
		<div class="col-xs-12 mendeley-box">
			<img src="assets/img/library_setup/mendeley_logo_big.png" width="100%" class="img-responsive company-logo" alt="Storage provider">
			<div class="clearfix"></div>
			<ul class="import-done">
				<li><i class="fa fa-check"></i><span>Retrieving 2277 documents from the Mendeley account associated with 'tom@thegrif.net.</span></li>
				<li><i class="fa fa-check"></i><span>Download from Mendeley complete.</span></li>
				<li><i class="fa fa-check"></i><span>Uploading documents into Google Drive.</span></li>
			</ul>
			<div class="btn-done"><i class="fa fa-check"></i>Done</div>
		</div>
		<a href="#" class="btn btn-default btn-back pull-left">Back</a>
		<a href="#" class="btn btn-default btn-continue pull-right">Continue</a>
		<div class="clearfix big-spacer hidden-md hidden-lg"></div>
	</div>
</div>