<div id="researchgroups-modal" class="modal-dialog">
	<div class="invite-by-mail modal-content col-xs-12 no-padd padd-xs">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<h4>Add participants to your research group</h4>
		<p>Individual added here will also be added to your connections.</p>
		<textarea class="mails" placeholder="Add e-mail addresses separated by commas">bobby.hunt@ieee.org, nancy.cooper@ieee.org, christina.gibson@ieee.org, ernest.gomez@</textarea>
		<div class="spacer clearfix"></div>
		<div class="fake-editbox">
			Please join my research group on PPCT, a new online research and collaborative authoring tool. Create an account at <a href=">http://PPCT.ieee.org/createanaccount/">http://PPCT.ieee.org/createanaccount/</a> to get started.
		</div>
		<div class="big-spacer clearfix"></div>
		<div class="buttons center-block col-xs-12 no-padd">
			<div class="col-xs-6">
				<a href="#researchgroups-participants" class="btn btn-default btn-continue pull-right">Send</a>
			</div>
			<div class="col-xs-6">
				<a href="#" class="btn btn-default btn-cancel">Cancel</a>
			</div>
		</div>
		<div class="big-spacer clearfix"></div>
	</div>
</div>
