<div id="researchgroups-modal" class="modal-dialog">
	<div class="modal-content col-xs-12 no-padd">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<h4>Close group</h4>
		<div class="spacer clearfix"></div>

		<p>Nemo enim ipsam voluptatem, quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

		<div class="spacer clearfix"></div>

		<div class="buttons center-block col-xs-12 no-padd">
			<div class="col-xs-6">
				<a href="#researchgroups-list" class="btn btn-default btn-create pull-right">Close</a>
			</div>
			<div class="col-xs-6">
				<a href="#" class="btn btn-default btn-cancel">Cancel</a>
			</div>
		</div>
		<div class="big-spacer clearfix"></div>
	</div>
</div>
