
<div id="researchgroups-modal" class="modal-dialog">
	<div class="modal-content col-xs-12 no-padd">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<h4>Edit group Info</h4>
		<div class="spacer clearfix"></div>

		<label class="group-name label-title">
			<p><span class="star">*</span> Group Name:</p>
			<input type="text" value="Cloud Computing"/>
		</label>

		<div class="spacer clearfix"></div>

		<label class="group-description label-title">
			<p>Description:</p>
			<textarea placeholder="1000 symbols maximum" maxlength="1000">This community covers all major areas of computing and information technology, including computer hardware, software development, multimedia, and IT security.</textarea>
			<p class="symbols-left"><span></span> symbols remaining</p>
		</label>

		<div class="spacer clearfix"></div>

		<label class="label-title">
			<p>Group Image:</p>
		</label>

		<div class="group-image table">
			<div class="img cell">
				<img class="hidden-xs hidden-sm" src="assets/img/network_communities/02.png" width="90">
				<img class="hidden-md hidden-lg"src="assets/img/network_communities/02.png" width="60">
				<input class="upload-image hidden" type="file" name="image" accept="image/png"/>
				<div class="clearfix"></div>
				<a class="upload-trigger upload-btn btn btn-default hidden-sm hidden-xs">
					Replace
				</a>
			</div>
			<div class="text cell">
				<p class="max-file-size hidden-xs hidden-sm">Maximum file size is 500 KB</p>
				<p class="mobile-tap hidden-md hidden-lg">Tap to select an image from your device’s internal memory.</p>
			</div>
		</div>
		<div class="spacer clearfix"></div>
		<div class="buttons center-block col-xs-12 no-padd">
			<div class="col-xs-6">
				<a href="#researchgroups-emptyowner" class="btn btn-default btn-create pull-right">Save</a>
			</div>
			<div class="col-xs-6">
				<a href="#" class="btn btn-default btn-cancel">Cancel</a>
			</div>
		</div>
		<div class="spacer clearfix"></div>
		<div class="big-spacer clearfix visible-xs"></div>
	</div>
</div>
