<div class="container">
	<div class="spacer clearfix visible-xs"></div>
	<div id="home-view">
		<div class="col-xs-12 col-sm-12 col-md-10 no-padd column-one">
			<div class="row padd-xs">
				<div class="col-xs-12 col-sm-12 col-md-4 no-padd">
					<div class="info-block commun-interest hidden-xs hidden-sm">
						<h4>Communities you may be interested in</h4>

						<div class="col-md-12 col-sm-12 col-xs-12 block-items clearfix">
							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/communities/data-analysis.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">IEEE Vehicular Technology Society</a>
										<p>1829 members</p>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/communities/data-analysis.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">IEEE Dielectrics and Electrical Insulation Society</a>
										<p>843 members</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd hidden-xs hidden-sm">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/communities/data-analysis.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">IEEE Broadcast Technology Society</a>
										<p>1340 members</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd hidden-xs hidden-sm">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/communities/data-analysis.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">IEEE Geoscience and Remote Sensing Society</a>
										<p>621 members</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-12 results-item no-padd hidden-xs hidden-sm">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/communities/data-analysis.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd hidden-xs hidden-sm">
										<a href="#" class="title link">IEEE Microwave Theory and Techniques Society</a>
										<p>423 members</p>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="info-block people-interest hidden-xs hidden-sm">
						<h4>People that share your interests from your extended circles</h4>
						<div class="col-md-12 col-sm-6 col-xs-12 block-items clearfix">
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-6.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Robin Wallace</a>
										<p><i class="fa fa-briefcase"></i> IEEE Standards</p>
										<p><i class="fa fa-map-marker"></i> Los Angeles</p>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-4.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Karen Robertson</a>
										<p><i class="fa fa-briefcase"></i>Microsoft</p>
										<p><i class="fa fa-map-marker"></i>Sydney</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-8.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Phillip Murphy</a>
										<p><i class="fa fa-briefcase"></i>IBM</p>
										<p><i class="fa fa-map-marker"></i>New York</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-10.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Alexander Pasik</a>
										<p><i class="fa fa-briefcase"></i>General Motors</p>
										<p><i class="fa fa-map-marker"></i>Dallas</p>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix hidden-sm hidden-xs"></div>

						<div class="box-btn-view hidden-sm hidden-xs">
							<a href="#" class="btn btn-view-all">View all</a>
						</div>

						<h4 class="hidden-sm hidden-xs">People that interested in the IEEE International Conference on Cloud Computing</h4>
						<div class="col-md-12 col-sm-6 col-xs-12 block-items clearfix">
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-9.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Stephanie Warren</a>
										<p><i class="fa fa-briefcase"></i>LG Electronics</p>
										<p><i class="fa fa-map-marker"></i>Vancouver</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-11.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Elizabeth Holmes</a>
										<p><i class="fa fa-briefcase"></i>Hewlett-Packard</p>
										<p><i class="fa fa-map-marker"></i>Buenos Aires</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-2.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8 description no-padd">
										<a href="#" class="title link">Maria Virginia Edwards</a>
										<p><i class="fa fa-briefcase"></i> Google</p>
										<p><i class="fa fa-map-marker"></i> Chicago</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 results-item no-padd hidden-sm hidden-xs">
								<div class="row">
									<div class="col-xs-4 col-sm-3 col-md-4 col-lg-3 img">
										<img src="assets/img/profile/avatars/person-7.png" class="img-responsive" alt="avatar">
									</div>
									<div class="col-xs-8 col-sm-8  description no-padd">
										<a href="#" class="title link">Joyce C. Cooper</a>
										<p><i class="fa fa-briefcase"></i>Apple Computer</p>
										<p><i class="fa fa-map-marker"></i>Tokyo</p>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix  hidden-sm hidden-xs"></div>

						<div class="box-btn-view hidden-sm hidden-xs">
							<a href="#" class="btn btn-view-all">View all</a>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 no-padd-sm no-padd-xs">
					<h4>Top Activity search results for “engineering”:</h4>
					<div class="block-navbtn clearfix">
						<a href="#" class="btn btn-manage pull-left hidden-xs">
							<i class="fa fa-cogs"></i>
							Manage Activity Feed
						</a>
						<a href="#" class="btn btn-manage-xs pull-left visible-xs">
							<i class="fa fa-cogs"></i>
						</a>
						<div class="dropdown-nav pull-right">
							<span class="pull-left">Filter Activities</span>
							<ul class="nav pull-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Call for papers
										<i class="fa fa-chevron-down pull-right"></i></a>
									<ul class="dropdown-menu">
										<li><a href="#">Link</a></li>
										<li><a href="#">Link</a></li>
										<li><a href="#">Link</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="info-block no-padd no-padd-bottom">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="table title-header">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/home/spectrum.png" alt="spectrum">
								</div>
								<div class="content cell">
									<p><a href="#">IEEE Spectrum </a></p>
									<p><span class="data">23 Apr 2014</span> - <i class="fa fa-globe"></i></p>
								</div>
							</div>
							<img src="assets/img/home/img.png" class="img-responsive" alt="img">
							<div class="content-spectr">
								<p class="text-info">MIT has figured out how to build tiny nanoparticles capable of carrying three or more cancer drugs</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="block-comments">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<input type="text" class="form-control" placeholder="Add a comment">
							</div>
							<div class="clearfix"></div>
						</div>

					</div>
					<div class="info-block no-padd no-padd-bottom">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="table title-header">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/home/maria.png" alt="maria">
								</div>
								<div class="content cell">
									<p><a href="#">Maria Virginia Edwards</a></p>
									<p><span class="data">23 Apr 2014</span> - <i class="fa fa-globe"></i></p>
								</div>
							</div>
							<div class="graph">
								<div id="graph-container" style="height: 250px"></div>
							</div>
							<div class="content-graph">
								<p class="bold-txt header">A source-to-source transformation for increasing rule-based system parallelism</p>
								<p>Researchers aim to ease miniaturization pressure with dense 3-D circuitry instead of stacked chips. This monolithic manufacturing scheme, developed by CEA-Leti, builds
									<a href="#" class="link">More</a></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="block-comments">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="comments-box">
									<div class="nav-comments"></div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/1.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Hugo Díaz</p>
											<p><span class="data">25 Apr 2014</span></p>
											<p>It has to answer two simple questions, is it useful or not? and for what.</p>
										</div>
									</div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/2.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Tamer Ali</p>
											<p><span class="data">16 Apr 2014</span></p>
											<p>Have it started or not yet?</p>
										</div>
									</div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/2.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Jim Solderitsch</p>
											<p><span class="data">16 Apr 2014</span></p>
											<p>Not working for me -- or it hasn't started yet!</p>
										</div>
									</div>
								</div>
								<input type="text" class="form-control" placeholder="Add a comment">
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="info-block no-padd no-padd-bottom">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="table title-header">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/home/comunity.png" alt="comunity">
								</div>
								<div class="content cell">
									<p><a href="#">ICCCI Comunity</a> <span>scheduled an event</span></p>
									<p><span class="data">20 Apr 2014</span> - <i class="fa fa-globe"></i></p>
								</div>
							</div>
							<div class="table content-comunity">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/home/img-calend.png" alt="calend">
								</div>
								<div class="content cell">
									<p class="hidden-xs">2014 International Conference on Computer<br> Communication and Informatics (ICCCI)</p>
									<p class="visible-xs">2014 International Conference on Computer Communication and Informatics (ICCCI)</p>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="block-comments">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="comments-box">
									<div class="nav-comments">
										<a href="#" class="hidden-xs">6 comments <i class="fa fa-chevron-down"></i></a>
										<a href="#" class="btn-comment-xs visible-xs pull-right"><i class="fa fa-comment"></i> 6</a>
									</div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/1.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Jesse Parent</p>
											<p><span class="data">17 Apr 2014</span></p>
											<p>Yes, let me know!</p>
										</div>
									</div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/2.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Sherif Abdelwahab</p>
											<p><span class="data">17 Apr 2014</span></p>
											<p>Thank you IEEE anyway, waiting for the next schedule :)</p>
										</div>
									</div>
								</div>
								<input type="text" class="form-control" placeholder="Add a comment">
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="info-block no-padd no-padd-bottom">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="table title-header">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/home/sportlight.png" alt="sportlight">
								</div>
								<div class="content cell">
									<p><a href="#">IEEE TV Sportlight</a> <span>uploaded a video</span></p>
									<p><span class="data">20 Apr 2014</span> - <i class="fa fa-users"></i></p>
								</div>
							</div>
							<div class="table content-sportlight hidden-xs">
								<div class="video cell">
									<div class="video-block">
										<video width="100%" height="70%" poster="assets/img/home/video-img.jpg" controls>
											<source type="video/mp4" src="http://ieeetv.ieee.org/media/ieeetvmobile/ConferenceHighlights/IMS2014/IMS_2014_Opening_Plenary_mobile.mp4">
											<span>No video playback capabilities!</span>
										</video>
										<img class="play-btn" src="assets/img/icon_play.png" width="45" alt="play">
									</div>
								</div>
								<div class="content cell">
									<p class="hidden-xs">Carl Selinger: Stuff you Don't Learn in Engineering School</p>
									<p class="hidden-xs"><span class="bold-txt">Duration:</span> 00:07:35</p>
								</div>
							</div>
							<div class="content-sportlight visible-xs">
								<div class="video">
									<div class="video-block">
										<video width="100%" height="70%" poster="assets/img/home/video-img.jpg" controls>
											<source type="video/mp4" src="http://ieeetv.ieee.org/media/ieeetvmobile/ConferenceHighlights/IMS2014/IMS_2014_Opening_Plenary_mobile.mp4">
											<span>No video playback capabilities!</span>
										</video>
										<img class="play-btn" src="assets/img/icon_play.png" width="45" alt="play">
									</div>
								</div>
								<div class="content">
									<p>Carl Selinger: Stuff you Don't Learn in Engineering School</p>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="block-comments">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="comments-box">
									<div class="nav-comments">
										<a href="#" class="hidden-xs">Hide comments <i class="fa fa-chevron-up"></i></a>
										<a href="#" class="btn btn-hide visible-xs pull-right">Hide</a>
									</div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/1.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Jesse Parent</p>
											<p><span class="data">17 Apr 2014</span></p>
											<p>Yes, let me know!</p>
										</div>
									</div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/2.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Sherif Abdelwahab</p>
											<p><span class="data">17 Apr 2014</span></p>
											<p>Thank you IEEE anyway, waiting for the next schedule :)</p>
										</div>
									</div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/3.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Aung Thiha</p>
											<p><span class="data">14 Apr 2014</span></p>
											<p>create an event?</p>
										</div>
									</div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/4.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Pavel Bures</p>
											<p><span class="data">14 Apr 2014</span></p>
											<p>So, is there some g+ event to sign up? How do we join?</p>
										</div>
									</div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/5.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Vinayak Mathur</p>
											<p><span class="data">12 Apr 2014</span></p>
											<p>Please create an event</p>
										</div>
									</div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/6.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Gergely Magyar</p>
											<p><span class="data">12 Apr 2014</span></p>
											<p>It's great, just please create an event :-)</p>
										</div>
									</div>
								</div>
								<input type="text" class="form-control" placeholder="Add a comment">
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="box-btn-load hidden-md hidden-lg">
						<a href="#" class="btn btn-load-more">Load More</a>
						<div class="spacer clearfix"></div>
					</div>
					<div class="info-block no-padd no-padd-bottom hidden-sm hidden-xs">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="table title-header">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/home/spectrum.png" alt="spectrum">
								</div>
								<div class="content cell">
									<p><a href="#">IEEE Spectrum</a> <span>uploaded a document</span></p>
									<p><span class="data">20 Apr 2014</span> - <i class="fa fa-globe"></i></p>
								</div>
							</div>
							<div class="table content-spectrum">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/home/img-car.png" alt="calend">
								</div>
								<div class="content cell">
									<p>IEEE Transactions on Services Computing</p>
									<ul class="pull-left">
										<li>Issue 2 </li>
										<li>Apr-Jun 2013 </li>
										<li>12 articles </li>
										<li>14.17mb</li>
									</ul>
									<a href="#" class="btn btn-save pull-right">
										<img src="assets/img/home/icon-gd-save.png" alt="gd"/>
										Save
									</a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="block-comments">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<input type="text" class="form-control" placeholder="Add a comment">
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="info-block no-padd no-padd-bottom hidden-sm hidden-xs">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="table title-header">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/home/kimberly.png" alt="kimberly">
								</div>
								<div class="content cell">
									<p><a href="#">Kimberly Allen</a></p>
									<p><span class="data">20 Apr 2014</span> - <i class="fa fa-globe"></i></p>
								</div>
							</div>
							<p>
								Well other than the usual professional job I like to say in this occasion that an importance should give on tooo….. “Awareness building up programme”: There are 1000 billions barrels of fossil fuel reserve with a usage of 100 millions
								<a href="#" class="link">More</a></p>
						</div>
						<div class="clearfix"></div>
						<div class="block-comments">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<input type="text" class="form-control" placeholder="Add a comment">
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ads col-xs-12 col-md-2">
			<p>Advertisement</p>
			<img src="assets/img/ads/skyscraper.png" class="advertising hidden-xs hidden-sm" alt="banner" width="160">
			<div class="spacer hidden-sm hidden-xs"></div>
			<img class="advert hidden-xs hidden-sm" src="assets/img/ads/rectangle.png" alt="Advertisement" width="160">
			<div class="spacer hidden-sm hidden-xs"></div>
			<img class="advert hidden-xs hidden-sm" src="assets/img/ads/rectangle.png" alt="Advertisement" width="160">

			<img src="assets/img/ads/banner-tablet.png" class="advertising visible-sm" alt="banner" width="720">
			<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
			<div class="spacer clearfix"></div>
		</div>
	</div>
</div>
