<div class="col-xs-12 padd hidden-xs">
	<div class="pagination pull-right hidden-sm">
		Showing <b>1–20</b> of <b>138</b>
		<a class="btn btn-left btn-default"><i class="fa fa-chevron-left"></i></a>
		<a class="btn btn-right btn-default"><i class="fa fa-chevron-right"></i></a>
		<form class="jump-to-page pull-right">
			<label>
				Jump to page
				<input type="text" value="11">
			</label>
		</form>
	</div>
	<div class="tags pull-left">
		<a class="tag btn btn-default pull-left">To Review <i class="fa fa-times"></i></a>
		<a class="tag btn btn-default pull-left">Conferences <i class="fa fa-times"></i></a>
		<a class="reset btn btn-default pull-left">Reset</a>
	</div>
</div>

<div class="grid-results col-xs-12 no-padd">
	<% _.each(articles, function(article,index) { %>
	<div class="grid-item">
		<h5><%=article["Title"]%></h5>
		<ul class="hidden-xs">
			<li><%=article["Authors"]%></li>
			<li><%=article["Source"]%></li>
			<li><%=article["Year"]%></li>
		</ul>
		<p class="visible-xs">Authors: <a href="#"><%=article["Authors"]%></a></p>
		<p class="visible-xs">Source: <a href="#"><%=article["Source"]%></a> (<%=article["Year"]%>)</p>
		<div class="clearfix"></div>
		<p class="hidden-xs"><%=article["Text"]%></p>
		<div class="clearfix"></div>
	</div>
	<div class="slidedown-window"></div>
	<% }); %>
</div>
