<nav id="library-menu-right" class="mm-menu mm-horizontal mm-ismenu">
	<div class="library-filters">
		<div class="info-block filter">
			<h4>Filters</h4>
			<i class="fa fa-chevron-up slide-arrow"></i>
			<div class="clearfix"></div>
			<div class="slide-box">
				<label class="checkbox-all">
					<input type="checkbox" class="checkbox" /><p>All</p>
				</label>
				<div class="checkbox-group">
					<label>
						<input type="checkbox" class="checkbox" checked="checked" /><p>Recently Added</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" checked="checked" /><p>Requires Attention</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" checked="checked" /><p>To Review</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" /><p>Favourites</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" /><p>My Publications</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" /><p>Recommended</p>
					</label>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="info-block filter">
			<h4>Type</h4>
			<i class="fa fa-chevron-up slide-arrow"></i>
			<div class="clearfix"></div>
			<div class="slide-box">
				<label class="checkbox-all">
					<input type="checkbox" class="checkbox" /><p>All</p>
				</label>
				<div class="checkbox-group">
					<label>
						<input type="checkbox" class="checkbox" /><p>Conferences (56)</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" /><p>Books & eBooks (6521)</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" /><p>Patents (432)</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" /><p>Magazine articles (366221)</p>
					</label>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="info-block filter">
			<h4>Publish date</h4>
			<i class="fa fa-chevron-down slide-arrow"></i>
			<div class="clearfix"></div>
			<div class="slide-box" style="display:none;">
				<label class="checkbox-all">
					<input type="checkbox" class="checkbox" /><p>All time</p>
				</label>
				<div class="checkbox-group">
					<label>
						<input type="checkbox" class="checkbox" /><p>Last year (56)</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" /><p>Last two years (6521)</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" /><p>Last three years (12432)</p>
					</label>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="info-block filter">
			<h4>My research collections</h4>
			<i class="fa fa-chevron-down slide-arrow"></i>
			<div class="clearfix"></div>
			<div class="slide-box" style="display:none;">
				<label class="checkbox-all">
					<input type="checkbox" class="checkbox" /><p>All</p>
				</label>
				<div class="checkbox-group">
					<label>
						<input type="checkbox" class="checkbox" /><p>Prep Docs for ML Consultant (56)</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" /><p>Vandelay Industries (6521)</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" /><p>New Product Ideas (432)</p>
					</label>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="info-block filter">
			<h4>My tags</h4>
			<i class="fa fa-chevron-down slide-arrow"></i>
			<div class="clearfix"></div>
			<div class="slide-box" style="display:none;">
				<label class="checkbox-all">
					<input type="checkbox" class="checkbox" /><p>All</p>
				</label>
				<div class="checkbox-group">
					<label>
						<input type="checkbox" class="checkbox" /><p>New York (56)</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" /><p>Mohawk Valley (6521)</p>
					</label>
					<label>
						<input type="checkbox" class="checkbox" /><p>North Jersey (432)</p>
					</label>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<button class="btn-refine">Refine</button>
	</div>
</nav>

<div class="container no-padd padd-xs">
	<div class="col-xs-12 no-padd">
		<h4>Showing Research search results for “engineering”:</h4>

		<div class="col-sm-4 col-md-3 col-lg-2 no-padd-left hidden-xs hidden-sm" id="files-filters">
			<div id="tab1" class="info-block filter">
				<h4>Filters</h4>
				<i class="fa fa-chevron-up slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box">
					<label class="checkbox-all">
						<input type="checkbox" class="checkbox" /><p>All</p>
					</label>
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" checked="checked" /><p>Recently Added</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" checked="checked" /><p>Requires Attention</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" checked="checked" /><p>To Review</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Favourites</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>My Publications</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Recommended</p>
						</label>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="tab2" class="info-block filter">
				<h4>Type</h4>
				<i class="fa fa-chevron-up slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box">
					<label class="checkbox-all">
						<input type="checkbox" class="checkbox" /><p>All</p>
					</label>
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>Conferences (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Books & eBooks (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Patents (432)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Magazine articles (366221)</p>
						</label>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="tab3" class="info-block filter">
				<h4>Publish date</h4>
				<i class="fa fa-chevron-down slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box" style="display:none;">
					<label class="checkbox-all">
						<input type="checkbox" class="checkbox" /><p>All time</p>
					</label>
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>Last year (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Last two years (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Last three years (12432)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ 2 more
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="tab4" class="info-block filter">
				<h4>My research collections</h4>
				<i class="fa fa-chevron-down slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box" style="display:none;">
					<label class="checkbox-all">
						<input type="checkbox" class="checkbox" /><p>All</p>
					</label>
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>Prep Docs for ML Consultant (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Vandelay Industries (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>New Product Ideas (432)</p>
						</label>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="tab5" class="info-block filter">
				<h4>My tags</h4>
				<i class="fa fa-chevron-down slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box" style="display:none;">
					<label class="checkbox-all">
						<input type="checkbox" class="checkbox" /><p>All</p>
					</label>
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>New York (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Mohawk Valley (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>North Jersey (432)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ Add
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div id="searchresults-research" class="col-xs-12 col-md-9 col-lg-10 no-padd">
			<div class="col-xs-12 col-md-9 col-lg-10 no-padd">
				<div class="tabs-btns hidden-xs">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#library" data-toggle="tab">
								myLibrary
							</a>
						</li>
						<li>
							<a href="#ieee-xplore" data-toggle="tab">
								IEEE Xplore
							</a>
						</li>
						<li>
							<a href="#google" data-toggle="tab">
								Google Scholar
							</a>
						</li>
						<li>
							<a href="#academic-search" data-toggle="tab">
								Microsoft Academic Search
							</a>
						</li>
					</ul>
				</div>

				<div class="research-tabs tab-content col-xs-12 no-padd" id="library">
					<div class="mobile-tabs dropdown visible-xs col-xs-7 col-xs-offset-5 padd-xs">
						<a href="#" class="current dropdown-toggle" data-toggle="dropdown">
							<span>myLibrary</span> <i class="fa fa-chevron-down"></i>
						</a>

						<ul class="dropdown dropdown-menu tabs-select">
							<li class="active">
								<a href="#mylibrary" data-toggle="tab">
									myLibrary
								</a>
							</li>
							<li>
								<a href="#ieee-xplore" data-toggle="tab">
									IEEE Xplore
								</a>
							</li>
							<li>
								<a href="#google" data-toggle="tab">
									Google Scholar
								</a>
							</li>
							<li>
								<a href="#academic-search" data-toggle="tab">
									Microsoft Academic Search
								</a>
							</li>
						</ul>
					</div>

					<div class="spacer clearfix visible-xs"></div>

					<div class="tab-pane active" id="mylibrary">
					    <div class="grid-view"></div>
					</div>

					<div class="tab-pane" id="ieee-xplore">
						<div class="grid-view"></div>
					</div>

					<div class="tab-pane" id="google">
						<div class="grid-view"></div>
					</div>

					<div class="tab-pane" id="academic-search">
						<div class="grid-view"></div>
					</div>
				</div>

				<div class="hidden-md hidden-lg col-xs-12 no-padd-xs no-padd-sm">
					<div class="load-more">
						<div class="spacer visible-xs clearfix"></div>
						<a href="#" class="btn btn-load-more">Load More</a>
					</div>
					<div class="spacer clearfix"></div>
				</div>
			</div>

			<div class="col-xs-12 col-md-3 col-lg-2 no-padd">
				<div class="ads hidden-sm hidden-xs">
					<p>Advertisement</p>
					<img src="assets/img/ads/skyscraper.png" class="advertising" alt="banner" width="160">
					<div class="spacer"></div>
					<img class="advert" src="assets/img/ads/rectangle.png" alt="Advertisement" width="160">
					<div class="spacer"></div>
					<img class="advert" src="assets/img/ads/rectangle.png" alt="Advertisement" width="160">
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 hidden-md hidden-lg no-padd">
		<div class="ads center-block">
			<p>Advertisement</p>
			<img src="assets/img/ads/banner-tablet.png" class="advertising visible-sm" alt="banner" width="720">
			<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
			<div class="spacer clearfix"></div>
		</div>
	</div>
	<div class="big-spacer clearfix"></div>
</div>
