<div class="container no-padd">
	<div class="spacer clearfix visible-xs"></div>
	<div id="searchresults-all-tree" class="">

		<div class="col-xs-12 no-padd padd-xs">
			<div class="info-block community-search clearfix">
				<h4>Top Community search results for “engineering”:</h4>
				<div class="results-search row">
					<div class="community col-xs-12 no-padd">
						<div class="col-xs-4 col-md-2 img">
							<img src="assets/img/network_communities/09.png" class="img-responsive" alt="">
						</div>
						<div class="col-xs-8 col-md-4 description">
							<a class="community-title" href="#">
								IEEE Oceanic Engineering Society
							</a>
							<div class="popup-wrap hidden-xs hidden-sm">
								<i class="fa fa-check popup-toggle"></i>
								<p class="popup-prompt" style="display: none;">
									You do not have access to this community. You must first join <a href="#">IEEE Photonix Society</a>. Click Learn More for aditional info.
								</p>
							</div>
							<p class="hidden-md hidden-lg">
								Provided by <a href="#">IEEE Oceanic Engineering</a>
							</p>
							<p class="hidden-xs">
								Focus includes all aspects of science, engineering, and technology that address research, development, and operations pertaining to all bodies of water.
							</p>
							<a href="#" class="members-count visible-xs">3623 members</a>
							<a href="#" class="btn btn-info btn-learn-more pull-left hidden-xs hidden-md hidden-lg">Access Now</a>
							<i class="fa fa-question popup-toggle visible-sm pull-left"></i>
							<a href="#" class="hidden-md hidden-lg members-count hidden-xs">3623 members</a>
						</div>
						<div class="col-xs-3 provide hidden-xs hidden-sm">
							<p>
								Provided by <a href="#">IEEE Oceanic Engineering</a>
							</p>
							<a href="#" class="btn btn-info btn-learn-more">Access Now</a>
						</div>
						<div class="col-xs-3 hidden-xs hidden-sm" style="position: relative">
							<div class="members">
								<a class="member" href="#profile-searchresult"><img src="assets/img/network_communities/members/1.jpg" class="img-responsive" alt="member"></a>
								<a class="member" href="#profile-searchresult"><img src="assets/img/network_communities/members/2.jpg" class="img-responsive" alt="member"></a>
								<a class="member" href="#profile-searchresult"><img src="assets/img/network_communities/members/3.jpg" class="img-responsive" alt="member"></a>
								<a class="member" href="#profile-searchresult"><img src="assets/img/network_communities/members/4.jpg" class="img-responsive" alt="member"></a>
								<a class="member" href="#profile-searchresult"><img src="assets/img/network_communities/members/5.jpg" class="img-responsive" alt="member"></a>
								<a class="member" href="#profile-searchresult"><img src="assets/img/network_communities/members/6.jpg" class="img-responsive" alt="member"></a>
								<a class="member" href="#profile-searchresult"><img src="assets/img/network_communities/members/7.jpg" class="img-responsive" alt="member"></a>
								<a class="member" href="#profile-searchresult"><img src="assets/img/network_communities/members/8.jpg" class="img-responsive" alt="member"></a>
								<a class="member" href="#profile-searchresult"><img src="assets/img/network_communities/members/9.jpg" class="img-responsive" alt="member"></a>
								<a class="member" href="#profile-searchresult"><img src="assets/img/network_communities/members/10.jpg" class="img-responsive" alt="member"></a>
								<div class="clearfix"></div>
								<a href="#">3623 members</a>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="table">
						<div class="cell community-offset">

						</div>
						<div class="cell community-small">
							<div class="community col-xs-12">
								<div class="col-xs-4 col-md-1 img">
									<img src="assets/img/network_communities/10.png" class="img-responsive" alt="">
								</div>
								<div class="col-xs-8 col-md-8 description">
									<a class="community-title" href="#">IEEE Cloud Computing</a>
									<div class="popup-wrap hidden-xs hidden-sm">
										<i class="fa fa-lock popup-toggle"></i>
										<p class="popup-prompt" style="display: none;">
											You do not have access to this community. You must first join <a href="#">IEEE Photonix Society</a>. Click Learn More for aditional info.
										</p>
									</div>
									<p class="hidden-md hidden-lg">
										Provided by <a href="#">IEEE</a>
									</p>
									<p class="hidden-xs">
										Cloud Computing has become a scalable services consumption and delivery platform in the field of Services Computing.
									</p>
									<a href="#" class="members-count visible-xs">3623 members</a>
									<a href="#" class="btn btn-info btn-learn-more pull-left hidden-xs hidden-md hidden-lg">Access Now</a>
									<i class="fa fa-question popup-toggle visible-sm pull-left"></i>
									<a href="#" class="hidden-md hidden-lg members-count hidden-xs">3623 members</a>
								</div>
								<div class="col-xs-3 provide hidden-xs hidden-sm">
									<p>
										Provided by <a href="#">IEEE</a>
									</p>
									<a href="#" class="btn btn-info btn-learn-more">Learn More</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="community col-xs-12">
								<div class="col-xs-4 col-md-1 img">
									<img src="assets/img/network_communities/11.png" class="img-responsive" alt="">
								</div>
								<div class="col-xs-8 col-md-8 description">
									<a class="community-title" href="#">IEEE Magnetics Society</a>
									<div class="popup-wrap hidden-xs hidden-sm">
										<i class="fa fa-check popup-toggle"></i>
										<p class="popup-prompt" style="display: none;">
											You do not have access to this community. You must first join <a href="#">IEEE Photonix Society</a>. Click Learn More for aditional info.
										</p>
									</div>
									<p class="hidden-md hidden-lg">
										Provided by <a href="#">IEEE</a>
									</p>
									<p class="hidden-xs">
										The Vision of the IEEE Magnetics Society is to be the leading international professional organization for magnetism and for related professionals throughout the world.
									</p>
									<a href="#" class="members-count visible-xs">3623 members</a>
									<a href="#" class="btn btn-info btn-learn-more pull-left hidden-xs hidden-md hidden-lg">Access Now</a>
									<i class="fa fa-question popup-toggle visible-sm pull-left"></i>
									<a href="#" class="hidden-md hidden-lg members-count hidden-xs">3623 members</a>
								</div>
								<div class="col-xs-3 provide hidden-xs hidden-sm">
									<p>
										Provided by <a href="#">IEEE</a>
									</p>
									<a href="#" class="btn btn-info btn-learn-more">Access Now</a>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 no-padd">
				<div class="block-btn clearfix">
					<a href="#" class="btn"><i class="fa fa-users"></i> View All Community Results</a>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="col-xs-12 no-padd">
				<div class="col-md-10 no-padd">
					<div class="info-block clearfix">
						<h4>Top People search results for “engineering”:</h4>
						<div class="persons row">
							<div class="person col-xs-12">
								<div class="avatar col-xs-3 col-sm-3 col-md-2 col-lg-2 no-padd-xs">
									<img src="assets/img/people/person_1.png" class="img-responsive" alt="avatar">
								</div>
								<div class="info col-xs-7 col-sm-6 col-lg-8 no-padd-right-xs">
									<h5>
										<a href="#">Jane Craig</a>
										<img src="assets/img/people_search/ieee_student.png" width="23" alt="avatar">
										<span class="v">V</span>
									</h5>
									<p>
										<i class="fa fa-briefcase hidden-xs"></i>
										Manager, Fox Business Corporation
									</p>
									<p>
										<img src="assets/img/profile/graduate-cap.png" class="hidden-xs" width="16" alt="icon">
										Princeton University
									</p>
									<p>
										<i class="fa fa-map-marker hidden-xs"></i>
										New York
									</p>
								</div>
								<div class="controls col-xs-2 col-sm-3 col-lg-2">
									<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
									<div class="spacer"></div>
									<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
								</div>
							</div>
							<div class="table">
								<div class="cell persons-offset"></div>

								<div class="cell persons-small">
									<div class="col-xs-12">
										<div class="person col-xs-12 col-md-6">
											<div class="avatar col-xs-3 col-sm-3 col-md-2 col-lg-3 no-padd-xs">
												<img src="assets/img/people/person_3.png" class="img-responsive" alt="avatar">
											</div>
											<div class="info col-xs-9 col-sm-9 col-lg-9 no-padd-right-xs">
												<h5>
													<a href="#">Frank Robertson</a>
													<span class="v">V</span>
												</h5>
												<p>
													<img src="assets/img/profile/graduate-cap.png" class="hidden-xs" width="16" alt="icon">
													University of Utah, University of Virginia
												</p>
												<p>
													<i class="fa fa-map-marker hidden-xs"></i>
													Salt Lake City
												</p>
											</div>
										</div>
										<div class="person col-xs-12 col-md-6">
											<div class="avatar col-xs-3 col-sm-3 col-md-2 col-lg-3 no-padd-xs">
												<img src="assets/img/people/person_4.png" class="img-responsive" alt="avatar">
											</div>
											<div class="info col-xs-9 col-sm-9 col-lg-9 no-padd-right-xs">
												<h5>
													<a href="#">Becky Worely</a>
													<img src="assets/img/people_search/ieee_member.png" width="23" alt="avatar">
													<span class="v">V</span>
												</h5>
												<p>
													<i class="fa fa-briefcase hidden-xs"></i>
													Tech News for Humans, ABC
												</p>
												<p>
													<i class="fa fa-map-marker hidden-xs"></i>
													Washington D.C.
												</p>
											</div>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="person col-xs-12 col-md-6">
											<div class="avatar col-xs-3 col-sm-3 col-md-2 col-lg-3 no-padd-xs">
												<img src="assets/img/people/person_3.png" class="img-responsive" alt="avatar">
											</div>
											<div class="info col-xs-9 col-sm-9 col-lg-9 no-padd-right-xs">
												<h5>
													<a href="#">Frank Robertson</a>
													<span class="v">V</span>
												</h5>
												<p>
													<img src="assets/img/profile/graduate-cap.png" class="hidden-xs" width="16" alt="icon">
													University of Utah, University of Virginia
												</p>
												<p>
													<i class="fa fa-map-marker hidden-xs"></i>
													Salt Lake City
												</p>
											</div>
										</div>
										<div class="person col-xs-12 col-md-6">
											<div class="avatar col-xs-3 col-sm-3 col-md-2 col-lg-3 no-padd-xs">
												<img src="assets/img/people/person_4.png" class="img-responsive" alt="avatar">
											</div>
											<div class="info col-xs-9 col-sm-9 col-lg-9 no-padd-right-xs">
												<h5>
													<a href="#">Becky Worely</a>
													<img src="assets/img/people_search/ieee_member.png" width="23" alt="avatar">
													<span class="v">V</span>
												</h5>
												<p>
													<i class="fa fa-briefcase hidden-xs"></i>
													Tech News for Humans, ABC
												</p>
												<p>
													<i class="fa fa-map-marker hidden-xs"></i>
													Washington D.C.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 no-padd">
						<div class="block-btn clearfix">
							<a href="#" class="btn"><i class="fa fa-user"></i> View All People Search Results</a>
						</div>
					</div>

					<div class="clearfix"></div>

					<div class="info-block clearfix">
						<h4>Top Research search results for “engineering”:</h4>
						<div class="research-results row">
							<div class="searchresults-research col-xs-12 col-sm-12 col-md-12 col-lg-12">

								<div class="research-tabs tab-content col-xs-12 no-padd">

									<div class="spacer clearfix visible-xs"></div>

									<div class="" id="library">
										<div class="grid-view">
											<div class="grid-results col-xs-12 no-padd">

												<div class="grid-item">
													<h5>A view of cloud computing</h5>
													<ul class="hidden-xs">
														<li>M Armbrust, A Fox, R Griffith, AD Joseph</li>
														<li>Communications of the ACM</li>
														<li>2010</li>
													</ul>
													<p class="visible-xs">Authors: <a href="#">M Armbrust, A Fox, R Griffith, AD Joseph</a></p>
													<p class="visible-xs">Source: <a href="#">Communications of the ACM</a> (2010)</p>
													<div class="clearfix"></div>
													<p class="hidden-xs">Cloud computing, the long-held dream of computing as a utility, has the potential to transform a large part of the IT industry, making software even more attractive as a service and shaping the way IT hardware is designed and purchased. Developers with innovative ideas for ...</p>
													<div class="clearfix"></div>
												</div>
												<div class="table">
													<div class="cell grid-offset"></div>

													<div class="cell grid-small">
														<div class="grid-item">
															<h5>The NIST definition of cloud computing (draft)</h5>
															<ul class="hidden-xs">
																<li>P Mell, T Grance</li>
																<li>NIST Special Publication</li>
																<li>2011</li>
															</ul>
															<p class="visible-xs">Authors: <a href="#">P Mell, T Grance</a></p>
															<p class="visible-xs">Source: <a href="#">NIST Special Publication</a> (2011)</p>
															<div class="clearfix"></div>
															<p class="hidden-xs">The National Institute of Standards and Technology (NIST) developed this document in furtherance of its statutory responsibilities under the Federal Information Security Management Act (FISMA) of 2002, Public Law 107-347.</p>
															<div class="clearfix"></div>
														</div>
														<div class="grid-item">
															<h5>A view of cloud computing</h5>
															<ul class="hidden-xs">
																<li>M Armbrust, A Fox, R Griffith, AD Joseph</li>
																<li>Communications of the ACM</li>
																<li>2010</li>
															</ul>
															<p class="visible-xs">Authors: <a href="#">M Armbrust, A Fox, R Griffith, AD Joseph</a></p>
															<p class="visible-xs">Source: <a href="#">Communications of the ACM</a> (2010)</p>
															<div class="clearfix"></div>
															<p class="hidden-xs">Cloud computing, the long-held dream of computing as a utility, has the potential to transform a large part of the IT industry, making software even more attractive as a service and shaping the way IT hardware is designed and purchased. Developers with innovative ideas for ...</p>
															<div class="clearfix"></div>
														</div>
													</div>
												</div>


											</div>
										</div>
									</div>
								</div>
								<div class="big-spacer clearfix"></div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 no-padd">
						<div class="block-btn clearfix">
							<a href="#" class="btn"><i class="fa fa-flask"></i> View All Research Results</a>
						</div>
					</div>

					<div class="clearfix"></div>

					<div class="info-block no-padd no-padd-bottom">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="table title-header">
								<div class="img cell">
									<img class="img-responsive" src="assets/img/home/maria.png" alt="maria">
								</div>
								<div class="content cell">
									<p><a href="#">Maria Virginia Edwards</a></p>
									<p><span class="data">23 Apr 2014</span> - <i class="fa fa-globe"></i></p>
								</div>
							</div>
							<div class="graph">
								<div id="graph-container" style="height: 250px"></div>
							</div>
							<div class="content-graph">
								<p class="bold-txt header">A source-to-source transformation for increasing rule-based system parallelism</p>
								<p>Researchers aim to ease miniaturization pressure with dense 3-D circuitry instead of stacked chips. This monolithic manufacturing scheme, developed by CEA-Leti, builds
									<a href="#" class="link">More</a></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="block-comments">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="comments-box">
									<div class="nav-comments"></div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/1.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Hugo Díaz</p>
											<p><span class="data">25 Apr 2014</span></p>
											<p>It has to answer two simple questions, is it useful or not? and for what.</p>
										</div>
									</div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/2.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Tamer Ali</p>
											<p><span class="data">16 Apr 2014</span></p>
											<p>Have it started or not yet?</p>
										</div>
									</div>
									<div class="table comment-body">
										<div class="img cell hidden-xs">
											<img class="img-responsive" src="assets/img/home/avatar/2.png" alt="ava">
										</div>
										<div class="content cell">
											<p class="name">Jim Solderitsch</p>
											<p><span class="data">16 Apr 2014</span></p>
											<p>Not working for me -- or it hasn't started yet!</p>
										</div>
									</div>
								</div>
								<input type="text" class="form-control" placeholder="Add a comment">
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>

						<div class="table community-tree">
							<div class="cell offset-left"></div>

							<div class="cell">
								<div class="info-block no-padd no-padd-bottom">
									<div class="col-xs-12 col-sm-12 col-md-12">
										<div class="table title-header">
											<div class="img cell">
												<img class="img-responsive" src="assets/img/home/comunity.png" alt="comunity">
											</div>
											<div class="content cell">
												<p><a href="#">ICCCI Comunity</a> <span>scheduled an event</span></p>
												<p><span class="data">20 Apr 2014</span> - <i class="fa fa-globe"></i></p>
											</div>
										</div>
										<div class="table content-comunity">
											<div class="img cell">
												<img class="img-responsive" src="assets/img/home/img-calend.png" alt="calend">
											</div>
											<div class="content cell">
												<p class="hidden-xs">2014 International Conference on Computer<br> Communication and Informatics (ICCCI)</p>
												<p class="visible-xs">2014 International Conference on Computer Communication and Informatics (ICCCI)</p>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="block-comments">
										<div class="col-xs-12 col-sm-12 col-md-12">
											<input type="text" class="form-control" placeholder="Add a comment">
										</div>
										<div class="clearfix"></div>
									</div>
								</div>

								<div class="info-block no-padd no-padd-bottom">
									<div class="col-xs-12 col-sm-12 col-md-12">
										<div class="table title-header">
											<div class="img cell">
												<img class="img-responsive" src="assets/img/home/spectrum.png" alt="spectrum">
											</div>
											<div class="content cell">
												<p><a href="#">IEEE Spectrum</a> <span>uploaded a document</span></p>
												<p><span class="data">20 Apr 2014</span> - <i class="fa fa-globe"></i></p>
											</div>
										</div>
										<div class="table content-spectrum">
											<div class="img cell">
												<img class="img-responsive" src="assets/img/home/img-car.png" alt="calend">
											</div>
											<div class="content cell">
												<p>IEEE Transactions on Services Computing</p>
												<ul class="pull-left">
													<li>Issue 2 </li>
													<li>Apr-Jun 2013 </li>
													<li>12 articles </li>
													<li>14.17mb</li>
												</ul>
												<a href="#" class="btn btn-save pull-right">
													<img src="assets/img/home/icon-gd-save.png" alt="gd"/>
													Save
												</a>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="block-comments">
										<div class="col-xs-12 col-sm-12 col-md-12">
											<input type="text" class="form-control" placeholder="Add a comment">
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-xs-12 col-md-2 no-padd">
					<div class="ads center-block">
						<p>Advertisement</p>
						<img src="assets/img/ads/skyscraper.png" class="advertising hidden-xs hidden-sm" alt="banner" width="160">
							<img class="advert hidden-xs hidden-sm" src="assets/img/ads/rectangle.png" alt="Advertisement" width="160">
						<div class="spacer hidden-sm hidden-xs"></div>
						<img class="advert hidden-xs hidden-sm" src="assets/img/ads/rectangle.png" alt="Advertisement" width="160">

						<img src="assets/img/ads/banner-tablet.png" class="advertising center-block visible-sm" alt="banner" width="720">
						<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
