<div class="container">
	<nav id="searchresults-people-menu-right" class="mm-menu mm-horizontal mm-ismenu">
		<div>
			<div class="info-block filter">
				<h4>Relationship</h4>
				<i class="fa fa-chevron-up slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box">
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" checked="checked" /><p>PPCT Connections (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" checked="checked" /><p>PPCT Extended Connections (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" checked="checked" /><p>Similar to you (12)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Community Members (432)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Everyone Else (366221)</p>
						</label>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="info-block filter">
				<h4>Country</h4>
				<i class="fa fa-chevron-up slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box">
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>India (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>United States (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Japan (432)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>United Kingdom (366221)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Germany (366221)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Canada (366221)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>South Korea (366221)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ Add
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="info-block filter">
				<h4>Interests</h4>
				<i class="fa fa-chevron-down slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box" style="display:none;">
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>Cloud computing (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Cloud security (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>System-on-chip (432)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ Add
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="info-block filter">
				<h4>IEEE Region</h4>
				<i class="fa fa-chevron-down slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box" style="display:none;">
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>Region 1 (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Region 2 (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Region 3 (432)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ Add
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="info-block filter">
				<h4>IEEE Section</h4>
				<i class="fa fa-chevron-down slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box" style="display:none;">
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>New York (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Mohawk Valley (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>North Jersey (432)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ Add
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="info-block filter">
				<h4>Company</h4>
				<i class="fa fa-chevron-down slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box" style="display:none;">
					<label class="checkbox-all">
						<input type="checkbox" class="checkbox" /><p>All</p>
					</label>
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>Intel Corporation (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>IBM (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Cisco Systems (432)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ Add
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="info-block filter">
				<h4>Industry</h4>
				<i class="fa fa-chevron-down slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box" style="display:none;">
					<label class="checkbox-all">
						<input type="checkbox" class="checkbox" /><p>All</p>
					</label>
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>Information Technology (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Computer Software (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Research (432)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ Add
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<button class="btn-refine">Refine</button>
		</div>
	</nav>

	<div id="searchresults-people" class="row padd-xs">
		<h4>Showing People search results for "engineering":</h4>
		<div class="col-xs-12 col-sm-4 col-md-3 no-padd hidden-xs">
			<div id="tab1" class="info-block filter">
				<h4>Relationship</h4>
				<i class="fa fa-chevron-up slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box">
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" checked="checked" /><p>PPCT Connections (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" checked="checked" /><p>PPCT Extended Connections (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" checked="checked" /><p>Similar to you (12)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Community Members (432)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Everyone Else (366221)</p>
						</label>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="tab2" class="info-block filter">
				<h4>Country</h4>
				<i class="fa fa-chevron-up slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box">
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>India (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>United States (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Japan (432)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>United Kingdom (366221)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Germany (366221)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Canada (366221)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>South Korea (366221)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ Add
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="tab3" class="info-block filter">
				<h4>Interests</h4>
				<i class="fa fa-chevron-down slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box" style="display:none;">
					<label class="checkbox-all">
						<input type="checkbox" class="checkbox" /><p>All time</p>
					</label>
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>Cloud computing (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Cloud security (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>System-on-chip (432)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ Add
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="tab4" class="info-block filter">
				<h4>IEEE Region</h4>
				<i class="fa fa-chevron-down slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box" style="display:none;">
					<label class="checkbox-all">
						<input type="checkbox" class="checkbox" /><p>All</p>
					</label>
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>Region 1 (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Region 2 (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Region 3 (432)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ Add
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="" class="info-block filter">
				<h4>IEEE Section</h4>
				<i class="fa fa-chevron-down slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box" style="display:none;">
					<label class="checkbox-all">
						<input type="checkbox" class="checkbox" /><p>All</p>
					</label>
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>New York (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Mohawk Valley (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>North Jersey (432)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ Add
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="info-block filter">
				<h4>Company</h4>
				<i class="fa fa-chevron-down slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box" style="display:none;">
					<label class="checkbox-all">
						<input type="checkbox" class="checkbox" /><p>All</p>
					</label>
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>Intel Corporation (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>IBM (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Cisco Systems (432)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ Add
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="info-block filter">
				<h4>Industry</h4>
				<i class="fa fa-chevron-down slide-arrow"></i>
				<div class="clearfix"></div>
				<div class="slide-box" style="display:none;">
					<label class="checkbox-all">
						<input type="checkbox" class="checkbox" /><p>All</p>
					</label>
					<div class="checkbox-group">
						<label>
							<input type="checkbox" class="checkbox" /><p>Information Technology (56)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Computer Software (6521)</p>
						</label>
						<label>
							<input type="checkbox" class="checkbox" /><p>Research (432)</p>
						</label>
					</div>
					<button class="btn-block btn-default btn-add">
						+ Add
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-8 col-md-9">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 col-md-9 col-lg-10 no-padd-xs no-padd-right">
							<div id="results" class="info-block">
								<div class="pagination pull-right hidden-xs">
									<div class="pull-left">Showing <b>1–20</b> of <b>72</b>
										<a class="btn btn-left btn-default">&lt;</a><a class="btn btn-right btn-default">&gt;</a>
									</div>
									<form class="jump-to-page pull-right">
										<label>
											Jump to page
											<input type="text" value="11">
										</label>
									</form>
								</div>

								<div class="clearfix"></div>

								<div class="tags hidden-xs">
									<a class="btn btn-default">PPCT Cirles<i class="fa fa-times"></i></a>
									<a class="btn btn-default">India<i class="fa fa-times"></i></a>
									<a class="btn btn-default">United States<i class="fa fa-times"></i></a>
									<a class="btn btn-default btn-reset">Reset</a>
								</div>

								<div class="clearfix"></div>

								<div class="spacer"></div>

								<div class="persons row">
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_1.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Jane Craig</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Student">
													<img src="assets/img/people_search/ieee_student.png" width="23" alt="avatar">
												</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Volunteer">
													<span class="v">V</span>
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Manager, Fox Business Corporation
											</p>
											<p>
												<img src="assets/img/profile/graduate-cap.png" class="hidden-xs" width="16" alt="icon">
												Princeton University
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												New York
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_2.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Konstantinos Karachalios</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="Senior Member">
													<img src="assets/img/people_search/senior_member.png" width="23" alt="avatar">
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Managing Director, IEEE-Standards
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Association, Los Angeles
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
											<div class="spacer"></div>
											<p class="similar-link"><img src="assets/img/profile/icon_similar.png" width="20" alt="icon"><a class="hidden-xs">Similar to you</a></p>
										</div>
										<div class="col-xs-12 no-padd-xs similar-box">
											<div class="row">
												<div class="connections col-xs-12 col-sm-12 col-md-8 col-lg-7">
													<h5>Shared connections — 14 (<a href="#">view all</a>)</h5>
													<div class="similar-people row">
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/01.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Michael Campbell</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Toronto</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/02.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Catherine Reyes</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Adelaide</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/03.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Nicholas Young</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Manchester</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/04.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Stephen Richardson</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Dublin</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/05.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Brenda Murphy</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Seattle</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/06.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Shirley Simpson</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Oakland</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="interests col-xs-12 col-sm-12 col-md-4 col-lg-5">
													<h5>Shared interests — 9 (<a href="#">view all</a>)</h5>
													<p><a href="#">Cloud Computing</a></p>
													<p><a href="#">IEEE Transactions on Services</a></p>
													<p><a href="#">IEEE International Conference on Cloud Computing</a></p>
													<p><a href="#">Social Networking</a></p>
													<p><a href="#">Analysis</a></p>
												</div>
											</div>
											<i class="fa fa-times close"></i>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_3.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Frank Robertson</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Volunteer">
													<span class="v">V</span>
												</a>
											</h5>
											<p>
												<img src="assets/img/profile/graduate-cap.png" class="hidden-xs" width="16" alt="icon">
												University of Utah, University of Virginia
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Salt Lake City
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_4.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Becky Worely</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Member">
													<img src="assets/img/people_search/ieee_member.png" width="23" alt="avatar">
												</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Volunteer">
													<span class="v">V</span>
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Tech News for Humans, ABC
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Washington D.C.
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_5.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">James Walker</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Associate">
													<img src="assets/img/people_search/ieee_associate.png" width="23" alt="grade">
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Center for the Edge
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Burlingame, California
											</p>
										</div>
										<div class="controls col-xs-2 col-lg-2 col-sm-3">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_1.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Jane Craig</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Student">
													<img src="assets/img/people_search/ieee_student.png" width="23" alt="avatar">
												</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Volunteer">
													<span class="v">V</span>
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Manager, Fox Business Corporation
											</p>
											<p>
												<img src="assets/img/profile/graduate-cap.png" class="hidden-xs" width="16" alt="icon">
												Princeton University
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												New York
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_2.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Konstantinos Karachalios</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="Senior Member">
													<img src="assets/img/people_search/senior_member.png" width="23" alt="avatar">
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Managing Director, IEEE-Standards
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Association, Los Angeles
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
											<div class="spacer"></div>
											<p class="similar-link"><img src="assets/img/profile/icon_similar.png" width="20" alt="icon"><a class="hidden-xs">Similar to you</a></p>
										</div>
										<div class="col-xs-12 no-padd-xs similar-box">
											<div class="row">
												<div class="connections col-xs-12 col-sm-12 col-md-8 col-lg-7">
													<h5>Shared connections — 14 (<a href="#">view all</a>)</h5>
													<div class="similar-people row">
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/01.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Michael Campbell</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Toronto</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/02.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Catherine Reyes</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Adelaide</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/03.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Nicholas Young</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Manchester</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/04.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Stephen Richardson</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Dublin</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/05.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Brenda Murphy</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Seattle</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/06.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Shirley Simpson</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Oakland</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="interests col-xs-12 col-sm-12 col-md-4 col-lg-5">
													<h5>Shared interests — 9 (<a href="#">view all</a>)</h5>
													<p><a href="#">Cloud Computing</a></p>
													<p><a href="#">IEEE Transactions on Services</a></p>
													<p><a href="#">IEEE International Conference on Cloud Computing</a></p>
													<p><a href="#">Social Networking</a></p>
													<p><a href="#">Analysis</a></p>
												</div>
											</div>
											<i class="fa fa-times close"></i>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_3.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Frank Robertson</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Volunteer">
													<span class="v">V</span>
												</a>
											</h5>
											<p>
												<img src="assets/img/profile/graduate-cap.png" class="hidden-xs" width="16" alt="icon">
												University of Utah, University of Virginia
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Salt Lake City
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_4.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Becky Worely</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Member">
													<img src="assets/img/people_search/ieee_member.png" width="23" alt="avatar">
												</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Volunteer">
													<span class="v">V</span>
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Tech News for Humans, ABC
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Washington D.C.
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_5.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">James Walker</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Associate">
													<img src="assets/img/people_search/ieee_associate.png" width="23" alt="grade">
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Center for the Edge
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Burlingame, California
											</p>
										</div>
										<div class="controls col-xs-2 col-lg-2 col-sm-3">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>								<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_1.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Jane Craig</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Student">
													<img src="assets/img/people_search/ieee_student.png" width="23" alt="avatar">
												</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Volunteer">
													<span class="v">V</span>
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Manager, Fox Business Corporation
											</p>
											<p>
												<img src="assets/img/profile/graduate-cap.png" class="hidden-xs" width="16" alt="icon">
												Princeton University
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												New York
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_2.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Konstantinos Karachalios</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="Senior Member">
													<img src="assets/img/people_search/senior_member.png" width="23" alt="avatar">
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Managing Director, IEEE-Standards
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Association, Los Angeles
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
											<div class="spacer"></div>
											<p class="similar-link"><img src="assets/img/profile/icon_similar.png" width="20" alt="icon"><a class="hidden-xs">Similar to you</a></p>
										</div>
										<div class="col-xs-12 no-padd-xs similar-box">
											<div class="row">
												<div class="connections col-xs-12 col-sm-12 col-md-8 col-lg-7">
													<h5>Shared connections — 14 (<a href="#">view all</a>)</h5>
													<div class="similar-people row">
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/01.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Michael Campbell</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Toronto</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/02.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Catherine Reyes</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Adelaide</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/03.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Nicholas Young</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Manchester</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/04.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Stephen Richardson</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Dublin</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/05.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Brenda Murphy</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Seattle</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/06.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Shirley Simpson</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Oakland</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="interests col-xs-12 col-sm-12 col-md-4 col-lg-5">
													<h5>Shared interests — 9 (<a href="#">view all</a>)</h5>
													<p><a href="#">Cloud Computing</a></p>
													<p><a href="#">IEEE Transactions on Services</a></p>
													<p><a href="#">IEEE International Conference on Cloud Computing</a></p>
													<p><a href="#">Social Networking</a></p>
													<p><a href="#">Analysis</a></p>
												</div>
											</div>
											<i class="fa fa-times close"></i>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_3.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Frank Robertson</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Volunteer">
													<span class="v">V</span>
												</a>
											</h5>
											<p>
												<img src="assets/img/profile/graduate-cap.png" class="hidden-xs" width="16" alt="icon">
												University of Utah, University of Virginia
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Salt Lake City
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_4.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Becky Worely</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Member">
													<img src="assets/img/people_search/ieee_member.png" width="23" alt="avatar">
												</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Volunteer">
													<span class="v">V</span>
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Tech News for Humans, ABC
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Washington D.C.
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_5.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">James Walker</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Associate">
													<img src="assets/img/people_search/ieee_associate.png" width="23" alt="grade">
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Center for the Edge
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Burlingame, California
											</p>
										</div>
										<div class="controls col-xs-2 col-lg-2 col-sm-3">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>								<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_1.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Jane Craig</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Student">
													<img src="assets/img/people_search/ieee_student.png" width="23" alt="avatar">
												</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Volunteer">
													<span class="v">V</span>
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Manager, Fox Business Corporation
											</p>
											<p>
												<img src="assets/img/profile/graduate-cap.png" class="hidden-xs" width="16" alt="icon">
												Princeton University
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												New York
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_2.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Konstantinos Karachalios</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="Senior Member">
													<img src="assets/img/people_search/senior_member.png" width="23" alt="avatar">
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Managing Director, IEEE-Standards
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Association, Los Angeles
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
											<div class="spacer"></div>
											<p class="similar-link"><img src="assets/img/profile/icon_similar.png" width="20" alt="icon"><a class="hidden-xs">Similar to you</a></p>
										</div>
										<div class="col-xs-12 no-padd-xs similar-box">
											<div class="row">
												<div class="connections col-xs-12 col-sm-12 col-md-8 col-lg-7">
													<h5>Shared connections — 14 (<a href="#">view all</a>)</h5>
													<div class="similar-people row">
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/01.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Michael Campbell</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Toronto</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/02.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Catherine Reyes</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Adelaide</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/03.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Nicholas Young</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Manchester</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/04.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Stephen Richardson</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Dublin</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/05.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Brenda Murphy</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Seattle</p>
																</div>
															</div>
														</div>
														<div class="similar-person col-xs-12 col-sm-6">
															<div class="table">
																<div class="cell img"><img src="assets/img/similars/06.jpg" width="20" alt="avatar"></div>
																<div class="cell">
																	<h6>Shirley Simpson</h6>
																	<p><i class="fa fa-map-marker hidden-xs"></i> Oakland</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="interests col-xs-12 col-sm-12 col-md-4 col-lg-5">
													<h5>Shared interests — 9 (<a href="#">view all</a>)</h5>
													<p><a href="#">Cloud Computing</a></p>
													<p><a href="#">IEEE Transactions on Services</a></p>
													<p><a href="#">IEEE International Conference on Cloud Computing</a></p>
													<p><a href="#">Social Networking</a></p>
													<p><a href="#">Analysis</a></p>
												</div>
											</div>
											<i class="fa fa-times close"></i>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_3.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Frank Robertson</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Volunteer">
													<span class="v">V</span>
												</a>
											</h5>
											<p>
												<img src="assets/img/profile/graduate-cap.png" class="hidden-xs" width="16" alt="icon">
												University of Utah, University of Virginia
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Salt Lake City
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_4.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">Becky Worely</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Member">
													<img src="assets/img/people_search/ieee_member.png" width="23" alt="avatar">
												</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Volunteer">
													<span class="v">V</span>
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Tech News for Humans, ABC
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Washington D.C.
											</p>
										</div>
										<div class="controls col-xs-2 col-sm-3 col-lg-2">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
									<div class="person col-xs-12">
										<div class="avatar col-xs-3 col-sm-3 no-padd-xs">
											<a href="#profile-searchresult"><img src="assets/img/people/person_5.png" class="img-responsive" alt="avatar"></a>
										</div>
										<div class="info col-xs-7 col-sm-6 col-lg-7 no-padd-right-xs">
											<h5>
												<a href="#profile-searchresult">James Walker</a>
												<a class="popup" data-toggle="tooltip" data-placement="top" title="IEEE Associate">
													<img src="assets/img/people_search/ieee_associate.png" width="23" alt="grade">
												</a>
											</h5>
											<p>
												<i class="fa fa-briefcase hidden-xs"></i>
												Center for the Edge
											</p>
											<p>
												<i class="fa fa-map-marker hidden-xs"></i>
												Burlingame, California
											</p>
										</div>
										<div class="controls col-xs-2 col-lg-2 col-sm-3">
											<a class="btn btn-default"><i class="fa fa-plus"></i> <span class="hidden-xs">Connect</span></a>
											<div class="spacer"></div>
											<a class="btn btn-default"><i class="fa fa-envelope"></i> <span class="hidden-xs">Message</span></a>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="load-more visible-xs">
								<a href="#" class="btn btn-load-more">Load More</a>
							</div>
						</div>
						<div class="col-xs-12 col-md-3 col-lg-2 no-padd">
							<div class="ads hidden-sm hidden-xs">
								<p>Advertisement</p>
								<img src="assets/img/ads/skyscraper.png" class="advertising" alt="banner" width="160">
								<div class="spacer"></div>
								<img class="advert" src="assets/img/ads/rectangle.png" alt="Advertisement" width="160">
								<div class="spacer"></div>
								<img class="advert" src="assets/img/ads/rectangle.png" alt="Advertisement" width="160">
							</div>
						</div>
						<div class="spacer clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 hidden-md hidden-lg no-padd">
			<div class="ads center-block">
				<p>Advertisement</p>
				<img src="assets/img/ads/banner-tablet.png" class="advertising visible-sm" alt="banner" width="720">
				<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
				<div class="spacer clearfix"></div>
			</div>
		</div>
	</div>
</div>
