<div class="container">
	<div id="searchresults-communities" class="row padd-xs">
		<h4>Showing Community search results for "engineering":</h4>
		<div class="col-xs-12 col-md-10 no-padd">
			<div class="info-block no-padd">
				<div class="hidden-sm hidden-xs pull-right">
					<div class="pagination">
						<div class="pull-left">
							Showing <b>1–20</b> of <b>138</b>
							<a class="btn btn-left btn-default">&lt;</a><a class="btn btn-right btn-default">&gt;</a>
						</div>
						<form class="jump-to-page pull-right">
							<label>
								Jump to page
								<input type="text" value="11">
							</label>
						</form>
					</div>
				</div>
				<div class="clearfix"></div>
				<div id="results-of-search" class="detailed-results">
					<% _.each (data, function(community) { %>
						<div class="community">
							<div class="col-xs-4 col-md-2 img">
								<a href="#network-communitylp"><img src="assets/img/network_communities/<%= community.image %>" class="img-responsive" alt=""></a>
							</div>
							<div class="col-xs-8 col-md-6 description">
								<a class="community-title" href="#network-communitylp"><%= community.title %></a>
								<div class="popup-wrap">
									<i class="fa fa-<%= community.icon %> popup-toggle"></i>
									<p class="popup-prompt">
										<%= community.popup %>
									</p>
								</div>
								<p class="hidden-md hidden-lg">
									Provided by <a href="#"><%= community.providedBy %></a>
								</p>
								<p>
									<%= community.text %>
								</p>
								<p class="provided-by hidden-xs hidden-sm">
									Provided by <a href="#"><%= community.providedBy %></a>
								</p>
								<a href="#" class="btn btn-info btn-learn-more"><%= community.button %></a>
								<a href="#" class="hidden-md hidden-lg members-count"><%= community.membersNumber %> members</a>
							</div>
							<div class="col-xs-3 col-md-4 hidden-xs hidden-sm">
								<div class="members">
									<% _.each(community.membersIds, function(memberId) {%>
										<a class="member" href="#profile-searchresult"><img src="assets/img/network_communities/members/<%= memberId %>.jpg" class="img-responsive" alt="member"></a>
									<% });%>
									<div class="clearfix"></div>
									<a href="#"><%= community.membersNumber %> members</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					<% }); %>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="load-more hidden-md hidden-lg">
				<a href="#" class="btn btn-load-more">Load More</a>
			</div>
		</div>
		<div class="col-xs-12 col-md-2 no-padd">
			<div class="ads center-block">
				<p>Advertisement</p>
				<img src="assets/img/ads/skyscraper.png" class="advertising hidden-xs hidden-sm" alt="banner" width="160">
				<img class="advert hidden-xs hidden-sm" src="assets/img/ads/rectangle.png" alt="Advertisement" width="160">
				<div class="spacer hidden-sm hidden-xs"></div>
				<img class="advert hidden-xs hidden-sm" src="assets/img/ads/rectangle.png" alt="Advertisement" width="160">

				<img src="assets/img/ads/banner-tablet.png" class="advertising center-block visible-sm" alt="banner" width="720">
				<img src="assets/img/ads/banner-mobile.png" class="advertising center-block visible-xs" alt="banner">
			</div>
		</div>
	</div>
</div>
