<div class="container no-padd padd-xs">
	<div class="spacer visible-xs"></div>
	<div id="settings-activity">
		<div class="info-block col-xs-12 no-padd">
			<div class="header-block col-xs-12 padd-xs">
				<h3>Manage Activity Stream</h3>
				<p>This area is designed to provide PPCT users with the ability to personalize the activity streams.</p>
				<p>Deselect the checkboxes below to remove a content source from your activity feed.</p>
			</div>
			<div class="body-block col-xs-12 no-padd">
				<div class="col-xs-12 col-sm-6">
					<h4>Network Activities</h4>
					<p>Displayed in the Network and the Home activity streams.</p>
					<ol>
						<li>
							<p>News/Updates IEEE News [Future]</p>
							<label>
								<input type="checkbox" class="checkbox" checked="checked">
								The Institute News [Future]
							</label>
							<label>
								<input type="checkbox" class="checkbox" checked="checked">
								IEEE.tv
							</label>
							<label>
								<input type="checkbox" class="checkbox">
								Spectrum
							</label>
							<label>
								<input type="checkbox" class="checkbox">
								IEEE Social Media
							</label>
							<div class="table">
								<div class="cell">
									<label>
										<input type="checkbox" class="checkbox" checked="checked">
										Twitter
									</label>
								</div>
								<div class="cell">
									<label>
										<input type="checkbox" class="checkbox" checked="checked">
										Linkedin
									</label>
								</div>
								<div class="cell">
									<label>
										<input type="checkbox" class="checkbox">
										Facebook
									</label>
								</div>
							</div>
						</li>
						<li>
							<p>Connection Updates</p>
							<label>
								<input type="checkbox" class="checkbox" checked="checked">
								My Connections Join a Community
							</label>
							<label>
								<input type="checkbox" class="checkbox">
								People you may Know
							</label>
							<label>
								<input type="checkbox" class="checkbox">
								Confirmed Connection Requests
							</label>
						</li>
						<li>
							<p>Events</p>
							<label>
								<input type="checkbox" class="checkbox" checked="checked">
								IEEE vTools
							</label>
							<label>
								<input type="checkbox" class="checkbox">
								Conference Events (ICX)
							</label>
							<label>
								<input type="checkbox" class="checkbox">
								Conference Call for Papers
							</label>
						</li>
						<li>
							<p>Recommendations</p>
							<label>
								<input type="checkbox" class="checkbox">
								Recommendations based on Keywords / Interests
							</label>
						</li>
						<li>
							<p>Connected Profiles</p>
							<label>
								<input type="checkbox" class="checkbox">
								Facebook Updates (TBD)
							</label>
							<label>
								<input type="checkbox" class="checkbox">
								Twitter Feed
							</label>
							<label>
								<input type="checkbox" class="checkbox">
								LinkedIn
							</label>
							<label>
								<input type="checkbox" class="checkbox">
								G+ Personal Stream
							</label>
						</li>
					</ol>
				</div>
				<div class="col-xs-12 col-sm-6">
					<h4>Library Activities</h4>
					<p>Displayed in the Library and the Home activity streams.</p>
					<ol>
						<li>
							<p>Publications and Articles</p>
							<label>
								<input type="checkbox" class="checkbox" checked="checked">
								Article Keyword Match (ENHANCEMENT)
							</label>
							<label>
								<input type="checkbox" class="checkbox" checked="checked">
								Articles Connections Published (ENHANCEMENT)
							</label>
							<label>
								<input type="checkbox" class="checkbox">
								Calls for Journal Papers (Xplore)
							</label>
							<label>
								<input type="checkbox" class="checkbox">
								Popular Articles (ENHANCEMENT)
							</label>
							<label>
								<input type="checkbox" class="checkbox" checked="checked">
								Pub Subscriptions (ENHANCEMENT)
							</label>
							<label>
								<input type="checkbox" class="checkbox">
								Subscriptions (Memberships)
							</label>
						</li>
					</ol>
					<div class="spacer clearfix"/>
					<div class="twitter col-xs-12 no-padd">
						<div class="title table">
							<div class="icon cell">
								<i class="fa fa-twitter-square"></i>
							</div>
							<div class="text cell">
								<h4>Twitter</h4>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
							</div>
						</div>
						<div class="suggest-block">
							<p class="before-input">Select <b>Twitter users</b> whose tweets you would like to see in your PPCT stream.</p>
							<input type="text" data-role="tagsinput" value="thomasgriffin, johndoe, karenrobertson"/>
							<p class="after-input">
								Suggested Tweeter accounts:
								<a href="https://twitter.com/ieeeorg">ieeeorg</a>,
								<a href="https://twitter.com/ieeespectrum">ieeespectrum</a>,
								<a href="https://twitter.com/ieeexplore">ieeexplore</a>
							</p>
						</div>
						<div class="spacer clearfix"></div>
						<div class="suggest-block">
							<p class="before-input">Connect <b>all tweets</b> filtered by precific hashtags or keyphrases to your feed. Hashtags:</p>
							<input type="text" data-role="tagsinput" value="engineering, cloudcomputing, aerospace"/>
							<p class="after-input">
								Suggested tags:
								<a href="https://twitter.com/hashtag/ieeeorg">ieeeorg</a>,
								<a href="https://twitter.com/hashtag/ieeespectrum">ieeespectrum</a>,
								<a href="https://twitter.com/hashtag/ieeexplore">ieeexplore</a>,
								<a href="https://twitter.com/hashtag/smartgrid">smartgrid</a>,
								<a href="https://twitter.com/hashtag/ieee5g">ieee5g</a>
							</p>
						</div>
						<div class="spacer clearfix"></div>
						<div class="suggest-block">
							<p class="before-input">Keywords/keyphrases</p>
							<input type="text" data-role="tagsinput" value="cloud computing, digital asset management, tom griffin"/>
						</div>
					</div>
				</div>
			</div>
			<div class="spacer clearfix"></div>
		</div>
		<div class="big-spacer clearfix"></div>
	</div>
</div>
