<div class="container no-padd padd-xs">
	<div class="spacer visible-xs"></div>
	<div id="settings-privacy">
		<div class="info-block no-padd">
			<div id="master-visibility" class="col-xs-12">
				<h4>Master Visibility Setting</h4>
				<div class="col-xs-12 col-sm-8 no-padd-xs no-padd-left">
					<p>Define who will be able to see your PPCT profile. This one may override other visibility settings.</p>
				</div>
				<div class="col-xs-12 col-sm-4 no-padd-xs no-padd-left">
					<a href="#" class="dropdown-toggle master-visibility-select" data-toggle="dropdown">
						<span>All PPCT</span>
						<i class="fa fa-chevron-down"></i>
					</a>
					<ul class="dropdown-menu master-visibility-select-menu">
						<li><a href="#" ><div><span>Public</span></div>Public internet users and all of PPCT.</a></li>
						<li class="active"><a href="#"><div><span>All PPCT</span></div>Everyone that has a PPCT account.</a></li>
						<li><a href="#"><div><span>IEEE Members</span></div>PPCT users who have a membership with IEEE.</a></li>
						<li><a href="#"><div><span>My Connections</span> (HIDDEN from Search)</div>Hidden to everyone but my connections.</a></li>
						<li><a class="custom-selection" href="#"><div><span>Custom Selection</span></div>Set it up manually using options bellow.</a></li>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
			<hr>
			<div id="profile-visibility" class="col-xs-12">
				<h4>Profile Visibility</h4>
				<div class="col-xs-12 col-sm-4 no-padd-left pull-right">
					<div class="view-as">
						<p>See how exactly your profile is shown for other users.</p>
						<div class="dropdown-wrap">
							<a href="#" class="dropdown-toggle profile-view-as-select" data-toggle="dropdown">
								<span>View My Profile As</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu view-as-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 no-padd-xs no-padd-left">
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>profile photo</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>							
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>biography</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>							
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>membership info</b><br><i>(grade, volunteer status, category and citation)</i></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>							
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>current location</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>							
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>IEEE section</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>							
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>interests</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>							
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>work experience</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>					
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>education</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>							
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>mailing address</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>							
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>e-mail address</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>							
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>instant messenger</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>							
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>phone number</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>							
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see the list of your <b>communities</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>							
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>memberships</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>						
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>publications</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>		
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your <b>awards</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>	
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-visibility-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can see your connected <b>social profiles</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-visibility-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
			<hr>
			<div id="permissions" class="col-xs-12">
				<h4>Permissions</h4>
				<div class="col-xs-12 col-sm-8 no-padd-xs no-padd-left">
					<div class="profile-permission-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can send you a <b>message</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-permission-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>	
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-permission-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can send you a <b>connection request</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-permission-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>		
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-permission-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can <b>comment</b> on your posts</p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-permission-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="profile-permission-item">
						<div class="col-xs-12 col-sm-7 no-padd-xs no-padd-left">
							<p>Who can <b>share content</b> with you</p>
						</div>
						<div class="col-xs-12 col-sm-5 no-padd-xs no-padd-left">
							<a href="#" class="dropdown-toggle profile-permission-select" data-toggle="dropdown">
								<span>All PPCT</span>
								<i class="fa fa-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div id="visibility-settings-modal">
				<p>
					All visibility settings will be changed to <b>IEEE Members</b>. Only those who have IEEE memberships will be able to see your profile. Are you sure?
				</p>
				<div class="btns-wrap">
					<a href="#" class="btn btn-yes-confirm" data-dismiss="modal" aria-hidden="true"><i class="fa fa-check"></i>Yes, confirm</a>
					<a href="#" class="btn btn-no-cancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>No, cancel</a>
				</div>
			</div>
		</div>
	</div>
	<div id="settings-profile-view">
		<div class="profile-view-nav">
			<a href="" class="btn btn-back"><i class="fa fa-angle-left"></i>Back</a>
			<div class="pull-right">
				<p class="hidden-xs">
					This is how PPCT users see your profile
				</p>
				<div class="dropdown-wrap">
					<a href="#" class="dropdown-toggle profile-view-as-select" data-toggle="dropdown">
						<span>All PPCT</span>
						<i class="fa fa-chevron-down"></i>
					</a>
					<ul class="dropdown-menu">
								<li><a href="#"><span>Public</span></a></li>
								<li class="active"><a href="#"><span>All PPCT</span></a></li>
								<li><a href="#"><span>IEEE Members</span></a></li>
								<li><a href="#"><span>My Connections</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="profile-view-content"></div>
	</div>
</div>