<div class="container no-padd padd-xs">
	<div class="spacer visible-xs"></div>
	<div id="settings-services">
		<div class="info-block border-thick clearfix no-padd">
			<div class="table-services col-lg-12">
				<div class="row">
					<div class="cell cell-icon ">
						<a href="#"><img src="assets/img/settings/google_plus.png" width="44" height="44" alt="Google Plus"></a>
					</div>
					<div class="cell cell-txt">
						<span class="name-resource">Google+</span>
					</div>
					<div class="cell cell-button">
						<a href="#" class="btn-connect pull-right hidden-xs">Manage</a>
						<a href="#" class="pull-right visible-xs"><i class="fa fa-cog"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="cell cell-icon">
						<a href="#"><img src="assets/img/settings/facebook.png" width="44" height="44" alt="Facebook"></a>
					</div>
					<div class="cell cell-txt">
						<span class="name-resource">Facebook</span>
					</div>
					<div class="cell cell-button">
						<a href="#" class="btn-connect pull-right hidden-xs">Manage</a>
						<a href="#" class="pull-right visible-xs"><i class="fa fa-cog"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="cell cell-icon">
						<a href="#"><img src="assets/img/settings/drive.png" width="44" height="44" alt="Google	Drive"></a>
					</div>
					<div class="cell cell-txt">
						<span class="name-resource">Google Drive</span>
					</div>
					<div class="cell cell-button">
						<a href="#" class="btn-connect pull-right hidden-xs">Manage</a>
						<a href="#" class="pull-right visible-xs"><i class="fa fa-cog"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="info-block border-thin clearfix no-padd">
			<h4 class="header-name">Services to Connect</h4>

			<div class="table-services col-lg-12">
				<div class="row">
					<div class="cell cell-icon">
						<a href="#"><img src="assets/img/settings/linkedin.png" width="44" height="44" alt="LinkedIn"></a>
					</div>
					<div class="cell cell-txt">
						<a href="#" class="name-resource">LinkedIn</a>

						<p class="hidden-xs">Connect your LinkedIn account to invite your network to PPCT.</p>
					</div>
					<div class="cell cell-button">
						<a href="#" class="btn-connect pull-right hidden-xs">Connect</a>
						<a href="#" class="pull-right visible-xs"><i class="fa fa-plus"></i></a>
					</div>
					<div class="col-xs-12 no-padd-xs visible-xs">
						<span class="txt">Connect your Twitter account to invite your network to PPCT</span>
					</div>
				</div>

				<div class="row">
					<div class="cell cell-icon">
						<a href="#"><img src="assets/img/settings/twitter.png" width="44" height="44" alt="Twitter"></a>
					</div>
					<div class="cell cell-txt">
						<a href="#" class="name-resource">Twitter</a>

						<p class="hidden-xs">Connect your Twitter account to invite your network to PPCT.</p>
					</div>
					<div class="cell cell-button">
						<a href="#" class="btn-connect pull-right hidden-xs">Connect</a>
						<a href="#" class="pull-right visible-xs"><i class="fa fa-plus"></i></a>
					</div>
					<div class="col-xs-12 no-padd-xs visible-xs">
						<span class="txt">Connect your LinkedIn account so you can invite your LinkedIn network to your workspaces.</span>
					</div>
				</div>
				<div class="row">
					<div class="cell cell-icon">
						<a href="#"><img src="assets/img/settings/id.png" width="44" height="44" alt="OrclID"></a>
					</div>
					<div class="cell cell-txt">
						<a href="#" class="name-resource">OrclID</a>

						<p class="hidden-xs">Connect your ORcID account to invite your network to PPCT, and use files
							stored in OrcID.</p>
					</div>
					<div class="cell cell-button">
						<a href="#" class="btn-connect pull-right hidden-xs">Connect</a>
						<a href="#" class="pull-right visible-xs"><i class="fa fa-plus"></i></a>
					</div>
					<div class="col-xs-12 no-padd-xs visible-xs">
						<span class="txt">Connect your OrcID account to login, use your contacts and files stored.</span>
					</div>
				</div>
			</div>
		</div>

		<div class="info-block border-thin clearfix no-padd">
			<h4 class="header-name">
				<span class="hidden-xs">These storages connectivity is coming soon</span>
				<span class="visible-xs">These storages connectivity is coming soon</span>
			</h4>

			<p class="header-txt">Subscribe to be notified as soon as each one is released. Select service of	your interest.</p>

			<div class="table-services col-lg-12">
				<div class="row">
					<div class="cell cell-icon">
						<a href="#"><img src="assets/img/settings/dropbox.png" width="44" height="44" alt="Dropbox"></a>
					</div>
					<div class="cell cell-txt">
						<a href="#" class="name-resource">Dropbox</a>
						<p class="hidden-xs">Connect your Dropbox account to be able to use your files on PPCT.</p>
					</div>
					<div class="cell cell-button">
						<input type="checkbox" class="checkbox pull-right" checked="checked">
					</div>
					<div class="col-xs-12 no-padd-xs visible-xs">
						<span class="txt">Connect your Dropbox account to be able to use your files on Dropbox anywhere.</span>
					</div>
				</div>
				<div class="row">
					<div class="cell cell-icon">
						<a href="#"><img src="assets/img/settings/skydrive.png" width="44" height="44" alt="Skydrive"></a>
					</div>
					<div class="cell cell-txt">
						<a href="#" class="name-resource">Microsoft Skydrive</a>
						<p class="hidden-xs">Connect your Skydrive account to invite your network to PPCT, and use files stored in Skydrive.</p>
					</div>
					<div class="cell cell-button">
						<input type="checkbox" class="checkbox pull-right">
					</div>
					<div class="col-xs-12 no-padd-xs visible-xs">
						<span class="txt">Connect your Windows Live account, use your contacts and files stored on SkyDrive.</span>
					</div>
				</div>
				<div class="row">
					<div class="cell cell-icon">
						<a href="#"><img src="assets/img/settings/box.png" width="44" height="44" alt="Box"></a>
					</div>
					<div class="cell cell-txt">
						<a href="#" class="name-resource">Box</a>
						<p class="hidden-xs">Connect your Box account to invite your network to PPCT, and use files	stored in Box.</p>
					</div>
					<div class="cell cell-button">
						<input type="checkbox" class="checkbox">
					</div>
					<div class="col-xs-12 no-padd-xs visible-xs">
						<span class="txt">Connect your Box account, use your contacts and files stored on Box.</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="box-nav-btn">
					<a href="#" class="btn-subscribe">Subscribe</a>
				</div>
			</div>
		</div>
	</div>
</div>
