<div class="container no-padd padd-xs">
	<div class="spacer visible-xs"></div>
	<div id="settings-email">
		<div class="info-block">
			<div class="col-xs-12 no-padd-xs">
				<h4>Email Notification settings</h4>
				<p><b>Send me an email when:</b></p>
				<label>
					<input type="checkbox" class="checkbox" checked="checked">
					I receive any messages or notifications
				</label>
				<label class="indent-left">
					<input type="checkbox" class="checkbox" checked="checked">
					Someone sends me a message
				</label><label class="indent-left">
					<input type="checkbox" class="checkbox" checked="checked">
					I am given a task, @mentioned, or added to a meeting, bug report, etc.
				</label>
				<label class="indent-left">
					<input type="checkbox" class="checkbox">
					Changes in workspace membership occur (add, leave, join, etc)
				</label>
				<label class="indent-left">
					<input type="checkbox" class="checkbox">
					When something happens on anything I follow, or have interacted with
				</label>
				<label class="indent-left">
					<input type="checkbox" class="checkbox" checked="checked">
					When I am being reminded about something
				</label>

				<hr class="visible-xs"/>

				<p><b>Also send me this emails:</b></p>
				<label>
					<input type="checkbox" class="checkbox" checked="checked">
					Daily digest
					<span class="clearfix"></span>
					<span class="comment">Get an email every morning to catch up on activities you are involved in - including the last 24 hrs and the upcoming day.</span>
				</label>
				<div class="spacer hidden-xs"></div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="spacer"></div>

		<div class="info-block">
			<div class="col-xs-12 no-padd-xs">
				<h4>On-screen Notification Settings</h4>
				<div class="clearfix"></div>
				<div class="col-xs-12 col-sm-6">
					<label>
						<input type="checkbox" class="checkbox" checked="checked">
						Enable on-screen notifications
					</label>
					<label class="indent-left">
						<input type="checkbox" class="checkbox">
						Enable sounds
					</label>
					<label class="indent-left">
						<input type="checkbox" class="checkbox" checked="checked">
						Enable web notifications (Notifications Center)
					</label>
				</div>
				<div class="spacer clearfix visible-xs"></div>
				<div class="privacy col-xs-12 col-sm-6 no-padd">
					<div class="item col-xs-12 no-padd">
						<div class="col-xs-12 col-sm-7 col-md-8 no-padd-left">
							Who can send you a <b>message</b>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-4 no-padd">
							<div class="dropdown pull-right">
								<a data-toggle="dropdown" href="#">All PPCT Users <i class="fa fa-chevron-down"></i></a>
								<ul class="dropdown-menu">
									<li>All PPCT Users</li>
									<li>IEEE Members</li>
									<li>My Connections</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="spacer clearfix"></div>
					<div class="item col-xs-12 no-padd">
						<div class="col-xs-12 col-sm-7 col-md-8 no-padd-left">
							Who can send you a <b>connection request</b>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-4 no-padd">
							<div class="dropdown pull-right">
								<a data-toggle="dropdown" href="#">IEEE Members <i class="fa fa-chevron-down"></i></a>
								<ul class="dropdown-menu">
									<li>All PPCT Users</li>
									<li>IEEE Members</li>
									<li>My Connections</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="spacer clearfix"></div>
					<div class="item col-xs-12 no-padd">
						<div class="col-xs-12 col-sm-7 col-md-8 no-padd-left">
							Who can <b>comment</b> on your posts
						</div>
						<div class="col-xs-12 col-sm-5 col-md-4 no-padd">
							<div class="dropdown pull-right">
								<a data-toggle="dropdown" href="#">IEEE Members <i class="fa fa-chevron-down"></i></a>
								<ul class="dropdown-menu">
									<li>All PPCT Users</li>
									<li>IEEE Members</li>
									<li>My Connections</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="spacer clearfix"></div>
					<div class="item col-xs-12 no-padd">
						<div class="col-xs-12 col-sm-7 col-md-8 no-padd-left">
							Who can <b>share content</b> with you
						</div>
						<div class="col-xs-12 col-sm-5 col-md-4 no-padd">
							<div class="dropdown pull-right">
								<a data-toggle="dropdown" href="#">My Connections <i class="fa fa-chevron-down"></i></a>
								<ul class="dropdown-menu">
									<li>All PPCT Users</li>
									<li>IEEE Members</li>
									<li>My Connections</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="spacer clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="big-spacer"></div>
	</div>
</div>
